.sidebar {
  width: 240px;
}

.canvas-sidebar-expand {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 17px;
  cursor: pointer;
  -webkit-transition: background-color 0.12s linear, border-color 0.12s linear;
  -o-transition: background-color 0.12s linear, border-color 0.12s linear;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.canvas-sidebar-expand::after {
  position: absolute;
  top: 50%;
  right: 6px;
  z-index: 2;
  width: 4px;
  height: 20px;
  transform: translate(0, -50%);
  opacity: 0.5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(110,132,154,.85)),to(#6e849a));
  background-image: -webkit-linear-gradient(top,rgba(110,132,154,.85),#6e849a);
  background-image: -o-linear-gradient(top,rgba(110,132,154,.85),#6e849a);
  background-image: linear-gradient(-180deg,rgba(110,132,154,.85),#6e849a);
  border-radius: 3px;
  -webkit-transition: right 0.12s linear, opacity 0.12s linear;
  -o-transition: right 0.12s linear, opacity 0.12s linear;
  transition: transform 0.3s, -webkit-transform 0.3s;
  content: '';
}

.canvas-sidebar-expand:hover::after {
  opacity: 1;
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(93, 157, 245, 0.85)),to(#5D9DF5));
  background-image: -webkit-linear-gradient(top,rgba(93, 157, 245, 0.85),#5D9DF5);
  background-image: -o-linear-gradient(top,rgba(93, 157, 245, 0.85),#5D9DF5);
  background-image: linear-gradient(-180deg,rgba(93, 157, 245, 0.85),#5D9DF5);
}

.canvas-sidebar-open {
  transform: translateX(290px);
  cursor: w-resize;
}

.canvas-sidebar-closed {
  border-right: 1px solid #dfe3ed;
  background-color: #fff;
  transform: translateX(0px);
  cursor: e-resize;
}
