.member-icon {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 28px;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #fff, 0 1px 2px 1px rgba(17,49,96,.16);
  margin-left: -4px;
  cursor: default;
  background-position: center center;
  background-size: contain;
  background-color: #F7F9FB;
  color: #8DA2B5;
  font-size: 15px;
  transition: all 0.25s ease;
}

.hover:hover .member-icon {
  box-shadow: 0 0 0 1px #fff, 0 1px 3px 1px rgba(17,49,96,.3);
}

.member-icon.solid {
  border: 1px solid #dce5e8;
  box-shadow: none;
  background-color: #fff;
}

.member-icon.lg {
  height: 50px;
  width: 50px;
  line-height: 48px;
  font-size: 24px;
}

.member-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EAEFF4;
  height: 80px;
  margin-right: -32px;
  padding-right: 30px;
}

.add-skill {
  background-image: linear-gradient( 89.8deg,  rgba(39,115,255,1) 4.3%, rgba(62,211,232,1) 101.4% ) !important;
/*  background-color: #8EC5FC !important;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%) !important;*/
  color: #fff !important;
}
/*.MuiCardActionArea-root-29:hover .MuiCardActionArea-focusHighlight-31{
  opacity: 0.1 !important;
}*/
.add-skill h2{
  font-weight: lighter;
}
.card-dropdown .dropdown-item {
  cursor: pointer;
}

.hr-label {
  margin-left: 25px;
  display: inline-block;
  font-size: 16px;
  color: #94A6BD;
}

.success-page {
  max-width: 700px;
}

.success-text {
  padding-top: 100px;
}
.banner {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(/screen.png), url(/plane.svg);
    background-color: rgb(75, 83, 251);
    background-size: 130px, 150px, auto;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 1px 24px 0px;
    color: rgb(255, 255, 255);
    padding: 50px;
    border-top: 2px none rgb(255, 255, 255);
    border-radius: 8px;
    background-position: 102% 125%, 0px 80%, 0px 0px;
    background-repeat: no-repeat, no-repeat, repeat;
    text-align: center;
}
.close-absolute {
  position: absolute;
  right: 30px;
  font-size: 2.5rem;
}

.close-absolute-left {
  position: absolute;
  left: 30px;
  font-size: 2.5rem;
}

.rotate.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
/*  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;*/
}

.rotate .col{
  /*flex: 1;*/
  /*margin: 1rem;*/
  cursor: pointer;
  width: calc(33.333333%);
  flex: initial;
  padding: 0;
  padding: 10px 10px;
}

.rotate.cols{
  margin: 0 -10px 0 -10px;
}

.rotate .container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
            padding: 0 !important;
}

.rotate .front,
.rotate .back{
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 200px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.rotate .back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  /*background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);*/
}

.rotate .front {
    background-color: #FFF;
    /*font-style: italic;*/
    /*color: #333;*/
}

.rotate .front:after, .rotate .back:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    opacity: .9;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: opacity .5s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.rotate .selected .front:after, .rotate .selected .back:after {
    opacity: 0.25;
}
.rotate .front .inner h1{
    /*font-style: italic;*/
    font-weight: bold;
    font-size: 2.5rem;
}

.rotate .container:hover .front,
.rotate .container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.rotate .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.rotate .inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.rotate .back .inner{
    padding: 1rem;
}

.rotate .container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.rotate .container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.rotate .container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.rotate .container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.rotate .front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.rotate .front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.rotate .front .inner span{
  color: #999;
  font-weight: 300;
}

/* STORY CARD */

.skills-container{
  margin: 0 -10px;
}

.skill-card-container{
    width: 25%;
    padding: 10px;
}
.skill-card{
    background: #fff;
    border: 1px solid #E2E9EC;
    transition-duration: 172ms;
    will-change: transform, box-shadow;
    box-shadow: none!important;
    transition: all 0.28s ease !important;
/*
    -webkit-box-shadow: 0 2px 4px 0 rgba(118, 186, 255, 0.17) !important;
    box-shadow: 0 2px 4px 0 rgba(118, 186, 255, 0.17) !important;
*/
    background-color: #ffffff !important;
    border-radius: 10px !important;
    overflow: hidden;
}
.skill-card h5{
  font-weight: normal;
  margin-bottom: 0px;
}
.skill-card:hover{
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08) !important;
    border: 1px none #fff;
/*    transform: translateY(-1px) scale(1.02) !important;*/
/*
    -webkit-box-shadow: 0 10px 20px 0 rgba(118, 186, 255, 0.17) !important;
    box-shadow: 0 10px 20px 0 rgba(118, 186, 255, 0.17) !important;
    background-color: #ffffff !important;
*/
    transform: translateY(-1px);
    color: inherit;
}
.skill-card .card-action {
  width: 100%;
}
.skill-card .card-actions {
  display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    overflow: hidden;
  padding-bottom: 10px;
}
.skill-card .card-footer {
    border: none !important;
    background-color: #fff !important;
}

.product-card>.card .no-image {
  background-repeat: repeat !important;
  background-size: auto !important;
  background-color: #fff;
  display: flex;
  justify-content: center;
  color: #42A5FF;
  align-items: center;
  height: 100%;
  width: 100%;
}
.subheader-title b{
    color: #132144;
}
.product-card>.card .no-image>h1 {
  font-size: 64px;
  margin-bottom: 0px;
  font-weight: lighter;
  /* text-transform: uppercase; */
}
.skill-card .card-image {
  height: 170px;
  background-size: 100%;
  background-position: center center;
    background-size: cover;
/*    border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;*/
    transition-duration: 172ms;
    will-change: transform;
}
.skill-card .card:hover .card-image, .storytable-row:hover .card-image{
    transform: scale(1.05);
}
.skill-card .card-action:hover .card-image{
/*    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.01);*/
    background-color: #fff !important;
}
.skill-card .play{
    position: absolute;
    display: none;
    width: 100%;
    height: 200px;
    z-index: 999;
    color: #fff;
    font-size: 64px;
    align-items: center;
    justify-content: center;
    background-color: #fff !important;
}
.skill-card .card-action:hover .play{
    display: flex;
}

.skill-card .no-overflow {
  /*overflow: hidden;*/
}
/*@media(max-width: 1547px){
  .skill-card-container{
        width: 25%;
  }
}*/

.upgrade-plan {
  margin-right: -3rem !important;
  margin-left: -3rem !important;
  padding-left: 3rem;
  padding-right: 3rem;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(238,244,246,.5)),to(rgba(238,244,246,.65)));
  background-image: -webkit-linear-gradient(top,rgba(238,244,246,.5),rgba(238,244,246,.65));
  background-image: -o-linear-gradient(top,rgba(238,244,246,.5),rgba(238,244,246,.65));
  background-image: linear-gradient(-180deg,rgba(238,244,246,.5),rgba(238,244,246,.65));
  padding-top: 17px;
  padding-bottom: 16px;
  border: 1px solid #eaeff4;
  border-top: none;
  margin: 0;
}

.upgrade-plan:first-child {
  border-top: 1px solid #eaeff4;
  margin-top: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.upgrade-plan:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 23px;
}

.upgrade-plan-price-sum__symbol {
  min-width: 0;
  font-size: 13px;
  color: #62778c;
  margin-right: 4px;
  padding-top: 0;
}

.upgrade-plan-price-sum__cost {
  min-width: 0;
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
  color: rgba(19,33,68,.65);
}

.upgrade-plan-price-sum__period {
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #8da2b5;
  margin-left: 6px;
  padding-bottom: 2px;
}

@media(max-width: 1200px){
  .skill-card-container{
        width: calc(100%/3);
  }
}
@media(max-width: 798px){
    .skill-card-container{
        width: 100%;
    }
}

.upgrade-modal .modal-content {
  overflow: hidden !important;
}