.ace_custom_variable {
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
  color: #fff;
  text-decoration: none;
  background-color: #42a5ff;
  border-radius: 4px;
  cursor: pointer;
}

.test-image {
  width: 100%;
  height: auto;
}

.error-message {
  color: red;
}

.apl-disclaimer {
  margin-top: 10px;
  color: #8da2b5;
  font-size: 14px;
  font-style: italic;
}

.test-help {
  margin-right: 10px;
  color: #8da2b5;
  font-size: 20px;
  cursor: pointer;
}
