.fulfill-label {
  color: #8da2b5;
  font-weight: 400 !important;
  font-size: 15px !important;
}

.fulfill-switch {
  margin: 5px;
}

.slot-fulfillment {
  overflow: hidden;
  white-space: nowrap;
}

.va {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
