.integrations-editor {
  color: #c5d3e0;
}

.integrations-container {
  color: #c5d3e0;
}

.integrations-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.integrations-container > .wrapper {
  padding: 0.6em;
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  height: 11em;
  position: relative;
}

.integrations-container .item {
  border: 1px solid #E2E9EC;
  border-radius: 5px;
  height: 100%;
  box-shadow: 0px 0px 1px 0px #c5d3e0;
  transition: all 0.15s ease;
}

.integrations-img {
  max-height: 4em;
  max-width: 6em;
  position: absolute;
  /* top: 3em; */
  top: 48%; 
  -webkit-transform: translate(0, -48%);
}

.integrations-name {
  text-align: center;
  bottom: 2em;
  position: absolute;
  font-size: 11px;
  color: #62778c;
}

.integrations-container .faded {
  opacity: 0.5;
}

.integrations-container .integrations-tooltip {
  position: absolute;
  right: 1.3em;
  top: 0.8em;
}

.integrations-container .soon-badge {
  position: absolute;
  right: 1.8em;
  top: 1.8em;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.2em;
  padding-bottom: 0.15em;
  color: #132144;
  box-shadow: 0 0 0 1px #fff, 0 1px 2px 1px rgba(17,49,96,.16);
}

.integrations-container .item:hover{
  background-color: #f7f9fb;
  cursor: pointer;
}
.integrations-container .item:active{
  background-color: #f0f4f7;
}
.integrations-container .title-image {
  max-height: 4em;
  max-width: 8em;
  margin-top: 0.5em;
}

.integrations-container .actions-back {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transition: none;
}

.action-button {
  border: 1px solid #E2E9EC;
  border-radius: 5px;
  height: 100%;
  box-shadow: 0px 0px 1px 0px #c5d3e0;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.action-button:hover {
  background-color: #f3f3f3;
}

.action-button.active {
  background-color: #f3f3f3;
}

.action-button:active {
  background-color: #ececec;
}

.auth-dropdown {
  color: #000;
}

.add-user-image {
  max-height: 6em;
  max-width: 12em;
}

.integrations-container hr {
  margin-left: -1.5em;
  margin-right: -1.5em;
}

.actions-section>:first-child {
  margin-top: 0;
}

.actions-section>:last-child {
  margin-bottom: 2em;
}

.pointer {
  cursor: pointer;
}

.action-selected {
  width: 0;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}

.action-selected.action-visible {
  box-shadow: 0px 0px 1px 0px #c5d3e0;
  border: 1px solid #E2E9EC;
  border-radius: 5px;
  padding: 0.25em;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 0.4em;
  color: #132144;
}

.add-user-button {
  border: 1px dashed #E2E9EC;
}

.add-user-button:hover {
  background-color: #FAFAFA;
}

.user-icon {
  font-size: 2em;
  margin-left: 0.5em;
  margin-right: 1em;
}

.delete-icon {
  position: absolute;
  top: 0.2em;
  right: 0.7em;
}

.delete-icon:hover {
  transform: scale(1.5);
  color: #ff4444;
}

.integrations-section-title {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-align-self: left; /* Safari 7.0+ */
    align-self: left;
    padding-top: 1.8em;
    padding-bottom: 1.2em;
    cursor: pointer;
    text-align: left;
    height: 75px;
    color: #62778c;
}

.completed-badge {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translate(0, -50%);
  background-image: url('/green-check.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 50% 50%;
}

.section-title-container {
  position: relative;
  cursor: pointer;
}

.success {
  color: #62D6A8;
}

.actions-tooltip {
  position: absolute;
  top: 50%;
  right: 1.3em;
  transform: translate(0, -50%);
  font-size: 0.8em;
}

.integrations-output-box {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}