#navbar .nav-link {
	padding-top: 18px;
	padding-bottom: 17px;
	cursor: pointer;
}

#navbar  {
	padding: 0rem 1rem;
	-webkit-transition : background-color 800ms ease;
	-moz-transition : background-color 800ms ease;
	-o-transition : background-color 800ms ease;
	transition : background-color 800ms ease;
	background-color: #5a5bff;
	min-height: 59px;
}

/*#navbar.storyboard {
	background-color: #5a5bff;
}

#navbar.admin {
	background-color: #333;
}

#navbar.dashboard {
	background-color: #01478B;
}

#navbar.analytics {
	background-color: #43A047;
}
.navbar-toggler{
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}*/

@media(min-width: 845px){
	#navbar .nav-link {
		padding-top: 14px;
		padding-bottom: 17px;
	}

	#navbar .nav-link {
		border-top: 4px solid transparent;
		-webkit-transition : all 200ms ease-out;
		-moz-transition : all 200ms ease-out;
		-o-transition : all 200ms ease-out;
		transition : all 200ms ease-out;
	}

	#navbar .nav-link.active {
		border-color: #fff !important;
		cursor: default !important;
		background-color: transparent !important;
	}

	#navbar .nav-link:focus, #navbar .nav-link:hover {
		border-color: #D84315;
		background-color: rgba(255,255,255,0.1);
	}
}