.type-button {
    border-radius: 20px;
    margin-left: 5px;
    padding: 2px 5px;
    font-size: 10px;
    background-color: rgba(0,0,0,0.2);
    /*opacity: 0.4;*/
    height: 20px;
    border: none;
}
.dropdown{
	display: flex;
	align-items: center;
}
.expression-block>.operator {
	display: flex;
	padding: 7px 35px 7px 5px;
	align-items: center;
	justify-content: space-between;
}
.expression-block>.operator>.dropdown>.type-button{
	margin-left: 10px;
}
.variable-box__control{
	border: none !important;
}

.expression-block {
	padding: 5px 4px;
/*	border: 1px solid;*/
	border-radius: 6px;
	/*color: #FFF;*/
}

.operator {
	color: #95a6bd;
}

.expression-block.plus,.expression-block.minus{
	background-color: #2B2E3B;
	border: 0.5px solid #555D6D;
}
.expression-block.divide, .expression-block.times{
	background-color: #2b2e3b;
	border-color: #2b2e3b;
    border: 0.5px solid #555D6D;
}
.expression-block.greater, .expression-block.equals, .expression-block.less{
	background-color: #2b2e3b;
	border-color: #2b2e3b;
    border: 0.5px solid #555D6D;
}

.expression-block.and{
	background-color: #2b2e3b;
	border-color: #2b2e3b;
    border: 0.5px solid #555D6D;
}
.expression-block.or{
	background-color: #2b2e3b;
	border-color: #2b2e3b;
    border: 0.5px solid #555D6D;
}

.expression-block.not{
	padding-top: 0px !important;
	background-color: #2b2e3b;
	border-color: #2b2e3b;
    border: 0.5px solid #555D6D;
}

.brackets>.variable{
	background-color: #4865e9;
	color: #fff;
	border-radius: 30px;
/*    border: 1px solid #555D6D;*/
	padding: 3px 10px 6px 10px;
}
.brackets>.NaN{
	background-color: #ff000024;
	color: red;
    border: 1px solid red;
	border-radius: 360px;
	padding: 3px 10px 6px 10px;
	cursor: pointer;
}
.brackets>.NaN:after{
	content: 'NaN';
}
.brackets>.NaN:hover:after{
	content: 'Not a Number';
}
.expressionfy i{
	font-size: 12px;
}
.brackets>.or{
	color: #03A9F4;
}
.brackets>.and{
	color: #FFA726;
}
.brackets>.not{
	color: #EF5350;
}
.brackets>.unknown{
	color: #4865e9;
	font-weight: bold;
}
.expressionfy{
	line-height: 28px;
	padding: 5px 8px;
	border-radius: 5px;
	border: 1.3px dashed #4865E9;
	margin-bottom: 10px;
}


