#TestSidebar {
    position: absolute;
    right: 0;
    z-index: 5;
    width: 400px;
    height: 100%;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-left: 1px solid #E2E9EC;
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    transform: translateX(400px);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
    overflow: hidden;
}

#Timeline{
    height: 100%;
}

#TestSidebar.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}

#TestSidebar label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 85%;
    padding-right: 10px;
}

#user__input {
    text-align: left;
    /* bottom: 0;
    position: absolute;
    width: 100%; */
}

#Conditions {
    max-height: 300px;
    overflow: scroll
}

.condition-label {
    display: flex;
    text-align: center;
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 20px !important;
    padding-right: 10px;
}

.response-input {
    min-height: 100px;
}
.sidebar_container {
    /* border-bottom: 1px solid #EAEFF4 !important; */
}

.choice-option {
    color: #62778c;
}

.choice-option:hover {
    color: #2C85FF;
}
