#onboarding{
    position: absolute;
    left: -300px;
    width: 290px;
    top: 10px;
    background-color: #42A5FF;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12) !important;
}
#onboarding .clickable{
    color: #ffffffcc
}
#onboarding .onboarding-video{
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 156px;
    background-color: #fff;
}

#onboarding small {
    display: block;
    font-size: 12px;
}

#onboarding h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 7px;
}

#onboarding .onboarding-desc {
    color: #93CAFF;
    font-size: 14px;
    width: 205px;
    margin: 0 auto;
}