.App {
    width: 100vw;
    height: 100vh;
}

.templates {
    font-size: 1rem;
    color: #CCC;
    /*font-weight: normal;*/
    margin-top: 1.5rem;
    /*margin-bottom: -10px;*/
}

.TitleBar{
    top: 58px;
    width: 100%;
    padding: 5px 0 0px 0;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    /*background: rgb(246,249,250);*/
    background: linear-gradient(180deg, #f6f9fa, rgba(246,249,250,0.98));
    -webkit-box-shadow: 0px 15px 56px 16px rgba(246,249,250,1);
    -moz-box-shadow: 0px 15px 56px 16px rgba(246,249,250,1);
    box-shadow: 0px 15px 56px 16px rgba(246,249,250,1);
}
.anti-btn{
    border-right: 1px solid #8ea2b526 !important;
    border-left: none !important;
}
.anti-btn:active{
    border-radius: 0px 0px 0px 0px !important;
}

.TitleBar-shadow{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 10px 56px 16px rgba(246,249,250,1);
    -moz-box-shadow: 0px 10px 56px 16px rgba(246,249,250,1);
    box-shadow: 0px 10px 56px 16px rgba(246,249,250,1);
}
.TitleBar .main-menu-btn{
    width: 90px;
    border-radius: 0;
}

.TitleBar .main-menu-btn-group {
    padding-left: 10px;
    background-color: #333;
}

.TitleBar .dropdown-menu {
    /*transform: translate3d(0px, 50px, 0px) !important;*/
/*    border-radius: 0;
    margin-left: -5px;
    margin-top: 0px;*/
}

/*.Menu .saved{
    margin-top: 70px;
    font-size: 11px;
    margin-bottom: 0px;
    color: #C5D6Ed;
}
*/
.Menu hr{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
    border-color: #F5F5F5;
}

.TitleBar input {
    font-size: 24px;
    background-color: transparent;
    border: none;
    flex: 1;
    margin-left: 0px;
    padding: 7px 20px 7px 20px;
    transition: background-color .4s ease;
}

.TitleBar .save-btn{
    padding: 0px 25px 2px 25px !important;
    border: none !important;
    box-shadow: none !important;
/*    width: 118px;*/
/*    box-shadow:  0 1px 2px 0 rgba(14,30,37,.12) !important;*/
    /*color: #2b3950 !important;*/
    color: #9196b6 !important;
    border-radius: 10px 0px 0px 10px !important;
/*    width: 100px;*/
    border-right: 1px solid #8ea2b526 !important;
    margin-right: 0px !important;
    font-size: 15px;
}
.TitleBar .save-btn:hover{
    padding: 0px 25px 2px 25px !important;
    border: none !important;
/*    box-shadow:  0 2px 7px 0 rgba(14,30,37,.12) !important;*/
    color: #42A5FF !important;
    border-right: 1px solid #8ea2b526 !important;
}
.TitleBar .save-btn:focus{
    padding: 0px 25px 2px 25px !important;
/*    width: 100px;*/
}
.TitleBar .skill-name {
    padding: 7px 20px 7px 10px;
    font-size: 24px;
    font-weight: 1000;
    color: #42A5FF !important;
    display: inline-block;
}

.TitleBar .project {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.select-box__control{
   background-color: #fff !important; 
/*     background-color: #42A5FF;*/
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.06);
    color: #2b3950 !important;
    border-radius: 8px !important;

}
.select-box__indicator-separator{
    border: 1px solid #fff !important;
    
}
.TitleBar .publish-btn {
    border: none !important;
/*    min-width: 0 !important;*/
    color: #9196b6 !important;
    padding: 0px 25px 1px 25px !important;
    box-shadow:  none !important; 
    background-color: transparent !important;
    border-radius: 0px !important;
/*    border-right: 1px solid #8ea2b526 !important;*/
    margin-right: 0px !important;
    font-size: 15px !important;

}    
.TitleBar .publish-btn i{
    margin-left: 5px;
}
.TitleBar .publish-btn:hover{
/*    box-shadow: 0 2px 7px 0 rgba(14,30,37,.12) !important*/
/*    border-right: 1px solid #8ea2b526 !important;*/
}
.TitleBar .platform-dropdown {
    border: none;
    padding: 5px 0px 5px 0px;
    width: 150px !important;
    box-shadow: 0 2px 4px 0 rgba(118, 186, 255, 0.17) !important;
}

.TitleBar .platform-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border: none !important;
    font-size: 0.875rem;
    cursor: pointer;
    color: #95a6bd;
}
.TitleBar .platform-btn:active{
    color: #fff;
}

.TitleBar .publish-btn .button-circle{
    background-color: #F5F9FA;
    border-radius: 5px;
    width: 26px;
    line-height: 25px;
    font-size: 16px;
    height: 26px;
    margin-left: 10px;
}

.TitleBar .white-btn.play{
    padding: 0 7px 0 18px !important;
    /*width: 68px !important;*/
    height: 37px !important;
    min-height: 37px !important;
    /*min-width: 68px !important;*/
    display: flex;
    text-align: center;
    background-color: #fff !important;
/*    border: 1px solid #fff !important;*/
    color: #9196b6 !important;
    box-shadow: 0px 1px 2px rgba(14,30,37,.10) !important;
/*    border: 1.5px solid #fff !important;*/
    font-size: 20px !important;
    border-radius: 10px !important;
    transition: all .25s ease-in-out;
    
}
.TitleBar .white-btn.play:hover{
    box-shadow: 0px 3px 7px rgba(14,30,37,.10) !important;
    color: #42A5FF !important;
    transform: translateY(-2px) !important;
}
.TitleBar .white-btn.play span.button-circle{
    background-color: #ffffff30;
    border-radius: 20px;
    width: 23px;
    /*display: inline-block;*/
    line-height: 17px;
    font-size: 10px;
    height: 23px;
    padding: 3px 5px 5px 6px;
    margin-left: 8px;
    display: inline-block;
    margin-top: -1px;
}
.TitleBar .white-btn.play span.words{
    display: inline-block;
    font-size: 0.875rem !important;
}

.TitleBar .title-group {
    position: absolute;
    left: 252px;
    top: 0px;
    margin-top: 13px;
}
.TitleBar .title-group-sub {
    background-color: #fff;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(14,30,37,.12) !important;
    transition: all .25s ease-in-out;
}
.TitleBar .title-group-sub:hover{
    box-shadow: 0px 3px 10px rgba(14,30,37,.10) !important;
    transform: translateY(-1px);
}
.last-save {
    font-size: .8rem;
    padding-left: 0px;
    padding-top: 5px;
    padding-left: 4px;
}

.TitleBar .status {
    width: 400px;
    line-height: 49px;
    color: #AAA;
    padding-right: 28px;
    text-align: right;
}

.TitleBar input:focus {
    outline: 0;
    background-color: #EFEFEF;
}

.TitleBar input::placeholder {
    color: #CCC;
}

.load-btn {
    outline: none !important;
    display: flex;
    justify-content: space-between;
    padding-right: .5rem;
    align-items: center;
}

.projects-menu {
    /*padding: 0 !important;*/
    /*overflow: hidden;*/
    overflow: scroll;
    max-height: 555.51px;
    margin-top: -10px !important;
}

.App .Menu .navbar .navigation {
    float: left;
    margin: 0;
    line-height: 36px;
    padding: 12px;
}

.App .Menu .navbar .navigation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.App .Menu .navbar .user {
    float: right;
    margin: 0;
    line-height: 36px;
    padding: 12px;
}

.App .Menu .navbar .user a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.App .Menu #sidebar .block-title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #f3f3f3;
    color: #545D6D;
}

/*.App .Menu #sidebar .block-title:hover {
    color: #95a6bd;
}
*/
.App .Menu #sidebar .block-title:hover .close{
    color: #000 !important;
}

.App .Menu .block-title h5{
    font-weight: normal;
    color: #2b3950;
    font-size: 23px;
    text-transform: capitalize;
    font-weight: bold;
/*    transition: color 0.3s ease;*/
}

/*.App .Menu .block-title h5:hover{*/
    /*color: #95a6bd;*/
    /*text-decoration: underline;*/
    /*border-bottom: 1px solid #545D6D;*/
/*}*/

.App .Menu .block-title p {
    color: #95a6bd;
    font-size: 0.95rem;
}

.toolbar{
    padding-top: 59px;
    position: fixed;
    z-index: 1000;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #fff;
    /*border-right: 1px solid #EEE;*/
}

.toolbar>div{
    display: flex;
    flex-direction: column;
/*    margin-top: 15px;*/
}
.normal-btn{
    background-color: transparent!important;
}
.tool.border-top-none {
    border-top: none !important; 
}
.normal-btn:hover{
    background-color: #F5F7F8 !important;
}
.toolbar>.spacer{
    flex: 1;
}

.toolbar .tool{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #C2C6D5;
    background-color: #fff;
    transition: all .4s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.toolbar .tool, .toolbar .spacer{
    /*box-shadow: 0 0 0 1px rgba(144,164,174,.2);*/
    /*box-shadow: 0 4px 8px 0 rgba(118, 186, 255, 0.17);*/
    border-right: 1px solid #E2E9EC;
    background-color: #fff;
    width: 41px;
}

.toolbar .tool.active{
    /*background-color: #EEE;*/
    box-shadow: none;
    border-right: 2px solid #fff !important;
    border-top:  2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
    color: #fff !important;
    background-color: #42A5FF !important;
    cursor: default;
    border-radius: 0px 10px 10px 0px;
    width: 115%;
    padding-right: 2px;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
    z-index: 3;
/*    margin-top: 15px;*/
}

.toolbar .tool:hover{
    background-color: #F4F6F7;
    color: #98A6BB;
}

.top-down>.tool{
/*    border-bottom: 1px solid #E2E9EC;*/
}

.bottom-up>.tool{
/*    border-top: 1px solid#E2E9EC;*/
}

.sub-diagram {
    /*padding-left: 20px;*/
    /*align-items: center;*/
    display: flex;
    /*flex-wrap: wrap;*/
    /*width: calc(100% - 21px);*/
    width: 100%;
}

.sub-diagram::before {
    content: '↳';
    margin-top: 3px;
    margin-right: 5px;
}

.diagram-text {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    width: 100%;
}

.sub-diagram .diagram-block>.btn-block {
    width: calc(100% - 22px);
}

.sub-column {
    width: 100%;
}

/*.diagram-block:hover{
    background-color: #95A6BD;
    color: #fff;
}*/

/*.diagram-block.active{
    background-color: #95A6BD;
    color: #fff;
    cursor: default;
}*/

.App .Menu #sidebar {
    position: fixed;
    top: 59px;
    left: 40px;
    z-index: 5;
    width: 200px;
    height: 100%;
    padding: 1px 20px 120px 20px;
    overflow: scroll;
    /*opacity: 0.9;*/
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*box-shadow: 0 0 0 1px rgba(144,164,174,.2);*/
    border-right: 1px solid #E2E9EC;
    background-color: #fff;
    -webkit-transform: translateX(-240px);
    -moz-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}

.App .Menu #sidebar.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.App .Menu #sidebar .section-title{
    text-transform: uppercase;
    font-size: 0.75rem;
    /*font-weight: bold;*/
    color: #95a6bd;
}

.App .Menu #sidebar .blocks {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #DDD;
    border-left: none !important;
}

/*.App .Menu #sidebar button {
    width: 75px;
    height: 25px;
    margin-top: 10px;
}*/

/*.App .Menu #sidebar .menuitem-container {
    display: flex;
    align-items: center;
}

.App .Menu #sidebar .menuitem-container>i {
    width: 10%;
}
*/
.App .Menu #sidebar .MenuItem {
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    height: 45px;
    line-height: 45px;
    margin: 13px 0px;
    transition: background-color .3s cubic-bezier(0.9, 0.2, 0.2, 1);
    backface-visibility: hidden;
    color: #9196b6;
    width: 95%;
    background-color: #fff;
    transition: all .1s ease-in-out;
    box-shadow: 0 0 0 2px #fff, 0 1px 4px 2px rgba(17,49,96,.10);
    
}

.App .Menu #sidebar .MenuItem:hover {
/*    transform: translateZ(3);*/
    transform: scale(1.03);
    
/*    transform: translateY(-2px);*/
    border-radius: 10px;
/*    box-shadow: 0 1px 5px 0 rgba(36,35,40,.2), 0 2px 3px 0 rgba(36,35,40,.01);*/
    box-shadow: 0 0 0 2px #fff, 0 1px 4px 2px rgba(17,49,96,.16);
    background-color: #fff !important;

}

.App .Menu #sidebar .MenuItem .MenuIcon {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45px;
    height: 45px;
/*    background-color: #e2e9ec;*/
    /*color: #2325E2;*/
    color: #fff;
    border-radius: 10px;
    margin-right: 11px;
}

.helpMenu.MenuItem {
    display: flex;
    padding: 5px;
    align-items: center;
}
.helpMenu.MenuItem>.MenuIcon {
    border-radius: 5px;
    margin-right: 10px;
    /*padding: 10px;*/
    width: 60px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    color: #fff;
}
.helpMenu.MenuItem h5{
    width: 100%;
    margin-bottom: 0;
}

.App .Menu #sidebar .MenuItem.choice:hover {
    background-color: #F4F6F7;
} .MenuItem.choice>.MenuIcon {
    background-color: #00daa5 !important;
}
.App .Menu #sidebar .MenuItem.mail:hover {
    background-color: #F4F6F7;
} .MenuItem.mail>.MenuIcon {
    background-color: #ffc2a4;
}
.App .Menu #sidebar .MenuItem.stream:hover {
    background-color: #F4F6F7;
} .MenuItem.stream>.MenuIcon {
    background-color: #163898;
}
.App .Menu #sidebar .MenuItem.api:hover {
    background-color: #F4F6F7;
} .MenuItem.api>.MenuIcon {
    background-color: #E91E63;
}
.App .Menu #sidebar .MenuItem.permissions:hover {
    background-color: #F4F6F7;
} .MenuItem.permissions>.MenuIcon {
    background-color: #88bbd8;
}
.App .Menu #sidebar .MenuItem.speak:hover {
    background-color: #F4F6F7;
} .MenuItem.speak>.MenuIcon {
    background-color: #46a1f8 !important;
}
.App .Menu #sidebar .MenuItem.audio:hover {
    background-color: #F4F6F7;
} .MenuItem.audio>.MenuIcon {
    background-color: #ff8b35 !important;
}
.App .Menu #sidebar .MenuItem.random:hover {
    background-color: #F4F6F7;
} .MenuItem.random>.MenuIcon {
    background-color: #27C5DA !important;
}
.App .Menu #sidebar .MenuItem.set:hover {
    background-color: #F4F6F7;
} .MenuItem.set>.MenuIcon {
    background-color: #4955fa;
}
.App .Menu #sidebar .MenuItem.variable:hover {
    background-color: #F4F6F7;
} .MenuItem.variable>.MenuIcon {
    background-color: #9575CD;
}
.App .Menu #sidebar .MenuItem.if:hover {
    background-color: #F4F6F7;
} .MenuItem.if>.MenuIcon {
    background-color: #ffd158;
}
.App .Menu #sidebar .MenuItem.capture:hover {
    background-color: #F4F6F7;
} .MenuItem.capture>.MenuIcon {
    background-color: #a458f5;
}
.App .Menu #sidebar .MenuItem.command:hover {
    background-color: #F4F6F7;
} .MenuItem.command>.MenuIcon {
    background-color: #ff4295 !important;
}
.App .Menu #sidebar .MenuItem.flow:hover {
    background-color: #F4F6F7;
} .MenuItem.flow>.MenuIcon {
    background-color: #2b3950;
}
/*.App .Menu #sidebar .MenuItem:hover>.MenuIcon{
}*/
.App .Menu #sidebar .MenuItem.comment:hover {
    background-color: #F4F6F7;
} .MenuItem.comment>.MenuIcon {
    background-color: #88bbd8;
}

.App #diagram {
    width: 100%;
    height: 100%;
    padding-left: 40px;
}
.App #diagram.no-padding {
    padding-left: 0 !important;
}

.App .srd-diagram {
    width: 100%;
    height: 100%;
    background-color: #f5f7f8;
/*    background-image: url('/images/dot.svg');
    background-repeat: repeat;*/
}

.App.review .blocks {
    border-color: #FFAB91 !important;
    border-width: 3px !important;
}

.App.review #diagram {
    /*border: 10px solid #D84315;*/
}
.App.review .TitleBar{
    /*border-bottom: 10px solid #D84315 !important;*/
}

#review {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 7;
    border: 3px solid #FFAB91;
    /*border-top-right-radius: 5px;*/
    border-top-right-radius: 5px;
    padding: 15px;
    padding-left: 20px;
    background-color: #FBE9E7;
    color: #DD2C00;
    /*max-width: 180px; */
    border-left: none;
    border-bottom: none;
    word-break: break-all;
}

.App #Editor {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    width: 400px;
    height: 100%;
    padding: 72px 25px 65px 25px;
    background-color: #fff;
    /*opacity: 0.9;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: scroll;
    border-left: 1px solid #E2E9EC;
/*    box-shadow: 0 4px 8px 0 rgba(118, 186, 255, 0.17);*/
    border-right: 1px solid #AAA;
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    transform: translateX(400px);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}

.App #Editor.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.App #Editor label {
    display: inline-block;
    font-weight: 400;
    color: #95a6bd;
    vertical-align: middle;
    margin-bottom: 5px !important;
/*    background-color: #42A5FF !important;*/
}

.label-btns{
    margin-bottom: 5px;
}
.label-btns>button {
    margin: 10px 0px 5px 5px;
    padding: 0px 5px !important;
    font-weight: 400 !important;
}
.label-btns>.btn{
    border: none;
}

.App .Loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 500px;
    height: 500px;
    color: #333333;
    background-color: #dddddd;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.controls hr {
    margin-bottom: px;
    border-top: 1px solid #E2E9EC;
}

/*.controls label>.button {
    font-weight: normal;
    padding: 1px 5px;
    color: #AAA;
    border-radius: 5px;
    font-size: 13px;
    margin: 0 2px;
}

.controls label>.button.active {
    font-weight: normal;
    padding: 1px 5px;
    color: #FFF;
    background-color: #007bff;
}*/

.subtitle {
    display: block;
    cursor: pointer;
    margin: 0;
    color: #95a6bd;
}

.clear {
    width: 15%;
}

.text-to-voice{
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 10px;
/*    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);*/
}

.textarea-collapse {
    margin-bottom: 5px;
}

#Editor textarea, textarea.blank {
    width: 100%;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    border: none;
    padding: 2px 0;
}

#Editor textarea:focus, textarea.blank:focus {
    outline: none;
}

#Editor textarea::placeholder, textarea.blank::placeholder{
    color: #CCC;
}

.select-box {
    flex: 1;
}

.speak-box {
    flex: 1;
    margin-left: 8px;
}

.select-box>div{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

label {
    margin: 10px 0;
}

.srd-default-node {
    background-color: #fff !important;
    min-width: 120px !important;
    min-height: 80px !important;
    border-radius: 14px !important;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
    border: 0px solid;
    border-top: 6px solid #E2E9EC;
    /*border-color: #c5c6c9 #bfc0c4 #b0b1b5 !important;*/
    overflow: hidden;
    padding: 10px 0 10px 0;
    font-family: inherit;
    color: #9196b6;
    /*border-bottom: 5px solid;*/
    border-color: #E2E9EC;
    min-width: 90px;
    transition: all .15s ease-in-out;
    /*display: flex;*/
    /*flex-direction: row;*/
}
.srd-default-node:hover{
    background-color: #fff!important;
/*    min-width: 180px;
    min-height: 100px;*/
    border-radius: 15px !important;
    box-shadow: 0px 10px 30px 0 rgba(36,36,36,.05);
    border: 0px solid;
    /*border-color: #c5c6c9 #bfc0c4 #b0b1b5 !important;*/
    overflow: hidden;
    padding: 10px 0 10px 0;
    font-family: inherit;
    color: #545D6D;
    border-top: 6px solid #E2E9EC;
    /*border-bottom: 5px solid;*/
    border-color: #E2E9EC;
    min-width: 90px;
    transform: translateY(-4px);
    transform: scale(1.05);
}
.srd-port:hover, .srd-port.selected {
    background: #d1d8e2 !important;
}

.srd-node--selected>* {
    border: 2px solid !important;
    border-top: 6px solid !important;
    outline: 0;
    transform: scale(1.07);
    border-color: #2b3950 !important;
/*    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25)*/
}

.srd-default-node.flow {
    background-color: #fff;
    border-top: 6px solid #2b3950;
    border-color: #2b3950 !important;
}

.srd-default-node.choice, .srd-default-node.choicenew{
    border-top: 6px solid #62D6A8 !important;
    border-color: #62D6A8 !important;
}
.srd-default-node.mail{
    background-color: #fff;
    border-top: 6px solid #ffc2a4;
    border-color: #ffc2a4 !important;

}
.srd-default-node.api{
    background-color: #fff;
    border-top: 6px solid #D73965;
    border-color: #D73965 !important;
}

.srd-default-node.permissions{
    background-color: #fff;
    border-top: 6px solid #88bbd8;
    border-color: #88bbd8 !important;
}

.srd-default-node.module{
    background-color: #6CD132;
}

.srd-default-node.line, .srd-default-node.audio, .srd-default-node.multiline{
    background-color: #fff;
    border-top: 6px solid #ff8d48;
    border-color: #ff8d48 !important;
}

.srd-default-node.stream{
    border-top: 6px solid;
    border-color: #163898 !important;
    min-width: 160px !important;
}

.srd-default-node.random {
    background-color: #fff;
    border-top: 6px solid #5EC2D7;
    border-color: #5EC2D7 !important;
}

.srd-default-node.capture {
    background-color: #fff;
    border-top: 6px solid #a458f5;
    border-color: #a458f5 !important;
}

.srd-default-node.command {
    background-color: #fff;
    border-top: 6px solid #EC5594;
    border-color: #EC5594 !important;
}

.srd-default-node.comment {
    background: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    border: none !important;
    padding: 0 !important;
    padding-bottom: 0 !important;
    box-shadow: none !important;
}

.srd-default-node.comment textarea {
  background: none;
  resize: none;
}

.srd-default-node__title {
    padding: 0 !important;
}

.srd-default-node.comment .srd-default-node__name {
    padding: 10px;
}

.srd-default-node.set, .srd-default-node.variable {
    background-color: #fff;
    border-top: 6px solid #485CF1;
    border-color: #485CF1 !important;
}

.srd-default-node.speak {
    background-color: #B2EBF2;
    border-top: 6px solid #5CA1F1;
    border-color: #5CA1F1 !important;
}

.srd-default-node.if {
    background-color: #fff;
    border-top: 6px solid #ffd158;
    border-color: #ffd158 !important;
}

.srd-default-node.retry {
    background-color: #FFE0B2;
}

.srd-default-node.listen {
    background-color: #FFF59D;
}

.srd-default-node.comment {
    background-color: #F5F5F5;
}

.srd-default-node .block-reads {
    position: absolute;
    top: -22px;
    font-size: 14px;
}

.srd-default-node .block-reads::after {
    content: " Reads";
}

.srd-default-node__ports {
    background: transparent;
}
.srd-default-node module{
    background-color: aqua !important;
}
.srd-default-port--out > .name {
    margin-right: 5px;
    font-size: 14px;
}

.srd-port {
    background: #f0f3f7;
    width: 25px;
    height: 25px;
    margin-bottom: 4px;
}

.srd-default-port--in > .srd-port {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.srd-default-port--out > .srd-port {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.srd-default-node__name {
    padding: 0 40px;
}

.srd-default-node__title {
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
    font-size: 16px;
    color: #2b3950 !important;
}

button.close{
    float: none;
    display: block;
}

.top {
    margin: 10px 0 10px 0;
}

.property{
    display: flex;
    justify-content: space-between;
}

#label-label{
    color: #BBB;
    font-size: 14px;
    margin: 0;
    display: block;
}

#label {
    border: none;
    /*margin-left: 10px;*/
    flex-grow: 1;
    background-color: transparent;
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
    font-size: 20px;
    /*line-height: 24px;*/
    color: #2b3950;
    width: 100%;
    transition: border-color .4s ease;
}

#label::placeholder {
    color: #CCC;
}

#label:focus{
    outline: 0;
    box-shadow: 0;
    border-color: #007bff;
}

.delete-block{
    padding: 2px 9px;
    border-radius: 5px;
    /*background-color: #E53935;*/
    /*color: #EF5350;*/
    margin-left: 4px;
    cursor: pointer;
    color: #95a6bd;
}

.delete-block:hover{
    background-color: #fff;
    color: #2b3950;
}

.block {
    padding: 1px 3px 1px 8px;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: #D1D8DE;
    color: #2b3950;
}

.block>i{
    margin-top: 2px;
    position: relative;
    top: 1px;
}

.block.flow {
    border: 1px solid #e3e9ec;
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.if {
    border: 1px solid #e3e9ec;
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.capture {
    border: 1px solid #D1D8DE;
    background-color: #D1D8DE;
    color: #2b3950;
}

.block.permissions {
    border: 1px solid #e3e9ec;
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.command {
    border: 1px solid #EC5594;
    background-color: #EC5594;
    color: #fff;
}

.block.story {
    border: 1px solid #e3e9ec;
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.speak {
    border: 1px solid #3d96f0;
    background-color: #3d96f0;
    color: #fff;
}

.block.listen {
    border: 1px solid #e3e9ec;
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.choice {
    border: 1px solid #62D6A8;
    background-color: #62D6A8;
    color: #fff;
}

.block.retry {
    border: 1px solid #e3e9ec;
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.audio {
/*    border: 1px solid #B3E5FC;*/
    background-color: #ff8b35;
    color: #fff;
}

.block.ending {
    border: 1px solid #e3e9ec;
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.comment {
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    color: #212121;
}

.block.set {
/*    border: 1px solid #E1BEE7;*/
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.random {
/*    border: 1px solid #FFF9C4;*/
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.variable {
/*    border: 1px solid #D1C4E9;*/
    background-color: #e3e9ec;
    color: #2b3950;
}
.btn-outline-secondary{
    border:  1px solid #EBEEEF !important;
    color: #2b3950 !important;
    font-weight: 600 !important;
}
.btn-outline-secondary:hover{
    /*box-shadow:  inset 0 0 0 1px rgba(144,164,174,.5) !important;*/
    border-color: #CAD2D7 !important;
    background-color: #fff;
    color: #3d96f0 !important;
}
.btn-group-vertical>.btn:hover, .btn-group>.btn:hover {
     z-index: unset !important;
}

.diagram-block .btn-secondary{
    background-color: #f0f3f7 !important;
    border: #f0f3f7 1px solid !important;
    color: #2b3950 !important;
    border-radius: 5px !important;
}
.diagram-block .btn-secondary:hover{
    /*border-color: #CAD2D7 !important;*/
    background-color: #d1d8e2 !important;
    border: #d1d8e2 1px solid !important;
    /*color: #3d96f0 !important;*/
}
.diagram-block input.form-control {
    margin-right: 1px;
    
}
.btn-secondary.disabled:hover {
    color: #fff !important;
    background-color: #42A5FF !important;
}
.btn-secondary.disabled, .btn-secondary{
    color: #fff !important;
    background-color: #42A5FF !important;
}
.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff !important;
    background-color: #42A5FF !important;
    border: 1px solid #fff !important;
    border-radius: 5px !important;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
}

.diagram-block {
    width: 100%;
    margin-bottom: 5px;
}

.diagram-block>button{
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
    font-size: 12px !important;
}
.diagram-block>input{
    padding: 0px 6px;
    height: 32px;
    font-size: 12px !important;
}
.diagram-block .diagram-edit{
    padding-left: 8px;
    padding-right: 3px;
    margin-left: 0px !important;
    font-size: 12px !important;
    color: #889296 !important;
    background-color: transparent !important;
    border: none !important;
    
}
.diagram-block .diagram-edit:hover{
    background-color: transparent !important;
    color: #2b3950 !important;
    border: none !important;
}
.choice-block {
    width: 100%;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 10px;
    box-shadow:0 2px 6px 0 rgba(14,30,37,.12);
    border: 1px solid #fff !important;
/*    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);*/
}
.brackets>.NaN{
    color: #2b3950 !important;
    background-color: #e3e9ec !important;
}
.brackets>.unknown{
    color: #5397E9 !important;
}
.expression-block.and{
    background-color: #F5F7F8 !important;
    border: 1px solid #ced4da !important;
}
.expression-block.greater, .expression-block.equals, .expression-block.less{
    background-color: #F5F7F8 !important;
    border: 1px solid #ced4da !important;
}
.expression-block.or{
    background-color: #F5F7F8 !important;
    border: 1px solid #ced4da !important;
}
.expression-block.not{
    background-color: #F5F7F8 !important;
    border: 1px solid #ced4da !important;
}
.brackets>.variable{
    background-color: #5BA5F8 !important;
    color: #fff !important;
}
.choice-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}
.operator{
    color: #2b3950;
}
.expression-block.divide, .expression-block.times{
    background-color: #F5F7F8 !important;
    border: 1px solid #ced4da !important;
}
.square-bubble {
    padding-top: 2px;
    height: 22px;
    width: 22px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    line-height: 18px;
    border-radius: 100px;
    background-color: #F1F3F9;
    color: #94A6BD;
    font-size: 14px;
    font-weight: bold;
}

.choice-title span {
    /*padding: 5px 10px 0px 10px;*/
    padding-top: 2px;
    height: 22px;
    width: 22px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    line-height: 18px;
    border-radius: 100px;
    overflow: hidden;
    background-color: #42A5FF;
    color: #fff;
    /*font-weight: bold;*/
    font-size: 14px;
    margin-right: 5px;
    margin-left: -7px;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
    font-weight: 600;
}

.choice-title input{
    flex: 1;
    border: none;
    color: #95a6bd;
}
.expression-block.plus, .expression-block.minus{
    background-color: #f4f7f8 !important;
    border: 1px solid #ced4da !important;
        
}
.choice-title input:focus{
    outline: none;
}

.multi-title-block{
    display: flex;
}
.multi-title-block>button.close {
    margin-left: 10px
}
.multi-title-block>div>span{
    margin-right: 5px;
}
.multi-title-block>div>span>i{
    width: 10px;
}
.multi-title {
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0;
    flex: 1;
    margin-right: 5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.multiline hr{
    margin: 0px;
}

.variables {
/*    max-height: 117px;
    overflow: scroll;*/
}

.set-block {
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}

.variable-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /*margin-top: 20px;*/
}
.variable-input-field ::-webkit-scrollbar { 
    display: none;
}

.variable-input-field {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    height: auto !important
    /*overflow-x: auto;*/
    /*overflow-y: hidden;*/
}
.variable-input-field .public-DraftStyleDefault-block {
    display: flex;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow-x: auto;
    white-space: pre;
    /*display: inline-block;*/
}
.DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content{
    height: auto;
}
.variable-group>.variable-box {
    max-width: 180px;
    margin-right: 5px;
/*    background-color: #3D96F0*/
}
/*.expression-block .dropdown {
    max-height: 400px;
}*/
.set-block > .close {
    line-height: 18px;
}

.variable-group>span{
    font-weight: bold;
    margin-right: 5px;
    margin-left: 2px;
}

.variable-box {
    flex: 1;
}
/*.variable-block::before{
    content: '{'
}
.variable-block::after{
    content: '}'
}*/
.variable-block {
    background-color: #3D96F0;
    color: #fff;
/*    padding: 1px 0px 4px 0px;
    border-radius: 3px;
    color: #575f67;*/
    cursor: pointer;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    text-decoration: none;
}
.variable-box__control {
    background-color: #42A5FF !important;
    color: #fff !important;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
/*    border: 2px solid #fff !important;*/
    border-radius: 8px !important;
}
.variable-box__menu {
    z-index: 1500;
}
.variable-box__control--is-focused {
    border-color: #3d96f0 !important;
/*    box-shadow: 0 0 0 1px #6A1B9A !important;*/
}

.variable-box__placeholder, 
.variable-box__dropdown-indicator, 
.variable-box__single-value,
.variable-box__value-container--has-value>div {
    color: #fff !important;
}

.variable-box__indicator-separator {
    background-color: transparent!important;
}

.variable_tag>span:hover {
    color: #ffffff!important;
}

.variable_tag>span {
    margin-left: 0px;
    padding: 4px;
    font-size: .8rem;
    color: #ffffff60 !important;
    cursor: pointer;
}

.variable_tag {
    vertical-align: middle;
    background-color: #42A5FF;
    color: #fff;
    padding: 3px 3px 3px 7px;
    border-radius: .25rem;
    display: inline-block;
    margin: 3px 0 2px;
    cursor: default;
    margin-right: 5px;
}

.variable_tag.default{
    background-color: #e3e9ec;
    color: #2b3950;
    padding: 3px 7px;
}

.new_var {
    background-color: #6A1B9A;
    color: #E1BEE7;
    border-color: #6A1B9A
}

.down-arrow {
    color: #E3E9EC;
    margin: 10px 0 0 0;
}

.plain-dropdown {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 0px;
}
.plain-dropdown:hover, .show>.plain-dropdown{
    background-color: transparent !important;
    color: #777 !important;
    border:none;
    outline: none;
    box-shadow: none !important;
}
.plain-dropdown:focus, .plain-dropdown:active {
    box-shadow: none !important;
}
.plain-dropdown-menu {
    margin-top: -8px;
    margin-left: -1px;
}
.plain-dropdown i {
    margin-right: 5px;
}
/*figure {
    margin: 0 !important;
    display: inline-block;
}
.public-DraftEditor-content div{
    display: inline-block;
}*/

#Editor .variable_map{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    /*margin-bottom: 10px;*/
}

#Editor .variable_map>i{
    margin: 0px 5px;
}

#Editor .variable_map.reverse{
    flex-direction: row-reverse;
}

#Editor .variable_map>.map-box{
    flex: 1;
}

.link-button{
    padding: 0px;
    margin-top: -1px;
    padding-left: 5px;
}

.public-DraftEditorPlaceholder-root {
    color: #bdc1c9;
}


.public-DraftEditorPlaceholder-hasFocus {
    color: #E2E9EC;
}
.super-center{
    color: #2B3950 !important;
}
.editor {
  box-sizing: border-box;
  border: 1px solid #E2E9EC;
  cursor: text;
  padding: 7px 8px;
  border-radius: 8px;
  margin-bottom: 1rem;
  background: #fefefe;
    color: #2B3950;
    
}

.editor :global(.public-DraftEditor-content) {
  min-height: 88px;
}

.input-group .variable-box__control {
    border-radius: 0 !important;
}
.dropdown-item{
    color: #2B3950 !important;
}
.share-btn {
    border: none !important;
    padding: 15px 15px !important;
    min-width: 0 !important;
    box-shadow: none !important;
/*    box-shadow:  0px 1px 2px rgba(14,30,37,.12) !important; */
    color: #9196b6 !important;
    border-radius: 0px 10px 10px 0px !important;
/*    width: 80px;*/
    padding: 0px 25px 0px 25px !important;
    
}

.share-btn:hover{
    border: none !important;
    padding: 0px 25px 0px 25px !important;
    min-width: 0 !important;
/*    box-shadow:  0px 2px 7px rgba(14,30,37,.12) !important; */
    color: #3d96f0 !important;
    box-shadow: none !important;

}
#widget-bar{
    position: absolute;
    bottom: 10px;
    left: 252px;
    z-index: 5;
}

@media(max-width: 1400px){
    .TitleBar .title-group{
        top: 47px !important;
    }
    .TitleBar{
        height: 105px;
        display: block;
        padding-left: 290px;
    }
}
