.App {
    width: 100vw;
    height: 100vh;
}

.templates {
    font-size: 1rem;
    color: #CCC;
    margin-top: 1.5rem;
}

#loading-diagram {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    font-size: 4rem;
    height: 100%;
    width: 100%;
    z-index: 4
}

.TitleBar{
    top:60px;
    width: 100%;
    position: absolute;
    z-index: 3;
    /*height: 71px;*/
    display: flex;
    justify-content: center;
    /*background: rgb(246,249,250);*/
    background: linear-gradient(180deg, #F2F7F8, rgba(242,247,248,0.98));
    -webkit-box-shadow: 0px 15px 56px 16px rgba(242,247,248,1);
    -moz-box-shadow: 0px 15px 56px 16px rgba(242,247,248,1);
    box-shadow: 0px 15px 56px 16px rgba(242,247,248,1);
}
.white-circ{
    background-color: #fff !important;
    color: #8da2b5 !important;
    border-radius: 30px 0px 0px 30px !important;
    width: 50px;
    height: 35px;
    padding-top: 4px;
    border: none !important;
    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12);
    cursor: pointer !important;
    transition: all .25s ease-in-out;
}
.white-circ-right{
    background-color: #fff !important;
    color: #8da2b5 !important;
    border-radius: 0px 30px 30px 0px !important;
    width: 50px;
    height: 35px;
    padding-top: 4px;
    border: none !important;
    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12);
    cursor: pointer !important;
    transition: all .25s ease-in-out;
}
.white-circ-right:hover{
    color: #42A5FF !important;
}
.white-circ:hover{
     color: #42A5FF !important;
}
.TitleBar-shadow{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 15px 56px 16px rgba(245,246,250,1);
    -moz-box-shadow: 0px 15px 56px 16px rgba(245,246,250,1);
    box-shadow: 0px 15px 56px 16px rgba(245,246,250,1);
}
.TitleBar .main-menu-btn{
    width: 90px;
    border-radius: 0;
}

.TitleBar .main-menu-btn-group {
    padding-left: 10px;
    background-color: #333;
}

.TitleBar .dropdown-menu {
    /*transform: translate3d(0px, 50px, 0px) !important;*/
/*    border-radius: 0;
    margin-left: -5px;
    margin-top: 0px;*/
}

/*.Menu .saved{
    margin-top: 70px;
    font-size: 11px;
    margin-bottom: 0px;
    color: #C5D6Ed;
}
*/
.Menu hr{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
    border-color: #E2E9EC;
}

.TitleBar input {
    font-size: 24px;
    background-color: transparent;
    border: none;
    flex: 1;
    margin-left: 0px;
    padding: 7px 20px 7px 20px;
    transition: background-color .4s ease;
}

.TitleBar .skill-name {
    padding: 1px 12px 7px 10px;
    font-size: 24px;
    font-weight: 1000;
    max-width: 360px;
    color: #42A5FF !important;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TitleBar .project {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.TitleBar .platform-dropdown {
    border: none;
    padding: 5px 0px 5px 0px;
    width: 150px !important;
    box-shadow: 0 2px 4px 0 rgba(118, 186, 255, 0.17) !important;
}
.platform-btn.dropdown-item{
    background-color: #fff;
    margin-bottom: 7px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    background-color: #fff !important;
/*    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12);*/
    border-radius: 5px;
    border: 1px solid #eaeff4;
    transition: all 0.25s;
    color: #8da2b5;
    font-weight: 400;
}
.platform-btn.dropdown-item:hover{
    background-color: #fff;
    margin-bottom: 7px !important;
    padding-bottom: 10px !important;
    padding-bottom: 10px !important;
    background-color: #fff !important;
    transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 2px 6px rgba(0,0,0,.18);
    border-radius: 5px;
    border: 1px solid #fff;
    color: #2b3950;
}
.TitleBar .platform-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border: none !important;
    font-size: 0.875rem;
    cursor: pointer;
    color: #95a6bd;
}
.platform-dropdown.arrow.dropdown-menu.show{
    background-color: #fff !important;
    width: 200px;
    padding-left: 15px;
    padding-right: 15px;
    transform: translate3d(-19px, 63px, 0px) !important;
}
.TitleBar .platform-btn:active{
    color: #fff;
}
.coming-soon-btn{
    height: 40px;
    background-color: #42A5FF20 !important;
    min-width: 120px;
    padding-top: 15px;
    padding-left: 16px;
    border: 1px solid #42A5FF40;
    color: #42A5FF;
    border-radius: 5px;
}
.small-caps{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.5px;
    color: #42A5FF;
}
.small-caps-muted{
    font-size: 10px;
    text-transform: uppercase;
/*    position: absolute;*/
    font-weight: 400;
    color: #8da2b5;
}
.small-caps-blue{
    font-size: 10px;
    text-transform: uppercase;
/*    position: absolute;*/
    font-weight: 900;
    color: #42A5FF;
}
.inside{
    position: absolute;
    margin-left: 17px;
    margin-top: 5px;
}
.TitleBar .white-btn.play{
    padding: 0px 5px 0px 18px !important;
    height: 20px !important;
    display: flex;
    text-align: center;
    background-color: #fff !important;
    color: #8da2b5 !important;
    box-shadow: 0 2px 4px rgba(0,0,0,.08) !important;
    font-size: 20px !important;
    border-radius: 25px !important;
    transition: all .25s ease;
    line-height: 30px;
    margin-top: -8px;
}
.TitleBar .share-btn {
    border: none !important;
    padding: 15px 15px !important;
    min-width: 0 !important;
    box-shadow: none !important;
/*    box-shadow:  0px 1px 2px rgba(14,30,37,.12) !important; */
    color: #9196b6 !important;
    border-radius: 5px 0px 0px 5px !important;
    padding: 0px 20px 0px 20px !important;

}
.TitleBar .white-btn.play:hover{
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.06) !important;
    color: #42A5FF !important;
    /*background-color: #edf3fe !important;*/
    /*border: 1px solid #42A5FF !important;*/
}
.TitleBar .white-btn.play span.button-circle{
/*    background-color: #fff;*/
    border-radius: 20px;
    width: 25px;
    height: 25px;
    /*display: inline-block;*/
    line-height: 15px;
    font-size: 10px;
    padding: 5px 6px 8px 7px;
    margin-left: 5px;
    display: inline-block;
    margin-top: -1px;
    background-color: #fff;
    transition: border-color .25s ease-in-out;
}
.TitleBar .white-btn.play:hover span.button-circle{
    /*border-color: #42A5FF;*/
}
.TitleBar .white-btn.play span.words{
    display: inline-block;
    font-size: 0.875rem !important;
}

.title-group .title-group-sub {
    display: inline-block;
    margin-right: 30px;
    border-right: 1px solid #E2E9EC;
     border-left: 1px solid #E2E9EC;

}
.back-btn{
    background: transparent !important;
    border: 1px solid none;
    color: #42A5FF !important;
    font-weight: normal !important;
    text-transform: none !important;
    transition: all 0.2s ease !important;
    font-size: 14px;
}
.title-group {
    position: fixed;
    right: 60px;
    top: 0px;
    z-index: 1040;
    display: flex;
    align-items: center;
/*    height: 200px;*/
}
.modal-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}
.modal-txt{
    color: #8da2b5;
    padding-left: 20px;
    padding-right: 20px;

}
.modal-txt-no-pad{
    color: #8da2b5;
    padding-left: 0px;
    padding-right: 0px;

}
.alert-primary{
    color: #42A5FF !important;
    background-color: #cce5ff70 !important;
    border-color: #b8daff !important;
}
.title-group .white-btn {
/*    padding: 0px 20px 0px 20px !important;*/
    border: none !important;
    box-shadow: none !important;
    color: #8DA2B5 !important;
    font-size: 20px !important;
    background-color: transparent!important;
    margin-right: 0px !important;
    border-right: none !important;
/*    margin-right: 7px !important;*/
    height: 59px;
    width: 75px !important;
    border-radius: 0 !important;
    padding: 0 !important;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;

}
.login-logo{
    width: 80px !important;
}
.modal-bg-txt{
    color: #42A5FF;
    font-size: 24px;
    font-weight: 900;
}
.dark-txt-sm{
    color: #2b3950;
    font-size: 16px;
    font-weight: 900;
}
.title-group .white-btn:hover{
    color: #42A5FF !important;
}

.title-group .save-btn .unsaved {
    display: block;
    background-color: #42A5FF;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    position: absolute;
    border: 3px #fff solid;
    top: 13px;
    left: 21px;
    animation: fadeIn 1s infinite alternate;
}

@keyframes fadeIn {
  from { background-color: #EDF3FE; }
}

/*.TitleBar .title-group-sub:hover{
    box-shadow: 0px 3px 10px rgba(14,30,37,.10) !important;
    transform: translateY(-1px);
}*/
.last-save {
    color: #93CBFF;
    margin-right: 25px;
    font-size: 14px;
}
.TitleBar .project {
    height: 55px;
}
.TitleBar .status {
    width: 400px;
    line-height: 49px;
    color: #AAA;
    padding-right: 28px;
    text-align: right;
}

.TitleBar input:focus {
    outline: 0;
    background-color: #EFEFEF;
}

.TitleBar input::placeholder {
    color: #CCC;
}

.load-btn {
    outline: none !important;
    display: flex;
    justify-content: space-between;
    padding-right: .5rem;
    align-items: center;
}

.api-test-block{
  /*padding: 0 !important;*/
  /*overflow: hidden;*/
  overflow: scroll;
  max-height: 10.51px;
  margin-top: -10px !important;
  white-space: pre-wrap;
}
.projects-menu {
    /*padding: 0 !important;*/
    /*overflow: hidden;*/
    overflow: scroll;
    max-height: 555.51px;
    margin-top: -10px !important;
}

.App .Menu .navbar .navigation {
    float: left;
    margin: 0;
    line-height: 36px;
    padding: 12px;
}

.App .Menu .navbar .navigation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.App .Menu .navbar .user {
    float: right;
    margin: 0;
    line-height: 36px;
    padding: 12px;
}

.App .Menu .navbar .user a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.App .Menu #sidebar .block-title {
    margin-top: 0px;
/*    margin-bottom: 10px;*/
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
/*    border-bottom: 1px solid #f3f3f3;*/
    color: #545D6D;
}

/*.App .Menu #sidebar .block-title:hover {
    color: #95a6bd;
}
*/
.App .Menu #sidebar .block-title:hover .close{
    color: #000 !important;
}

.App .Menu .block-title h5{
    font-weight: normal;
    color: #2b3950;
    font-size: 14px;
    text-transform: uppercase !important;
    font-weight: 900;
/*    transition: color 0.3s ease;*/
}

/*.App .Menu .block-title h5:hover{*/
    /*color: #95a6bd;*/
    /*text-decoration: underline;*/
    /*border-bottom: 1px solid #545D6D;*/
/*}*/

.App .Menu .block-title p {
    color: #95a6bd;
    font-size: 0.95rem;
}

.toolbar{
    padding-top: 59px;
    position: fixed;
    z-index: 1000;
    display: flex;
    height: 100%;
    flex-direction: column;

/*
    padding-left: 5px;
    padding-right: 5px;
*/
/*    border-right: 1px solid #E2E9EC !important;*/
    /*border-right: 1px solid #EEE;*/
}

.toolbar>div{
    display: flex;
    flex-direction: column;
/*    margin-top: 10px;*/
}
.normal-btn{
    background-color: transparent!important;
}
.tool.border-top-none {
    border-top: none !important;
}
.normal-btn:hover{
    background-color: #F5F7F8 !important;
}
.toolbar>.spacer{
    flex: 1;
}

.toolbar .tool{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #8DA2B5;
    background-color: #fff;
}
.toolbar .tool:hover{
    color: #42A5FF !important;
}
.toolbar .tool, .toolbar .spacer{
    /*box-shadow: 0 0 0 1px rgba(144,164,174,.2);*/
    /*box-shadow: 0 4px 8px 0 rgba(118, 186, 255, 0.17);*/
    border-right: 1px solid #E2E9EC;
    background-color: #fff;
/*    width: 45px;*/
}

.toolbar .tool.active{
    /*background-color: #EEE;*/
    box-shadow: none;
/*
    border-right: 2px solid #fff !important;
    border-top:  2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
*/
    color: #42A5FF !important;
    background-color: #EDF3FE !important;
    cursor: default;
/*    border-radius: 0px;*/
    padding: 10 !important;
/*    width: 115%;*/
/*    padding-right: 2px;*/
/*    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);*/
    z-index: 3;
/*    margin-top: 15px;*/
}

.toolbar .tool:hover{
/*    background-color: #F4F6F7;*/
    color: #98A6BB;
/*    border-radius: 5px;*/
}

.top-down>.tool{
/*    border-bottom: 1px solid #E2E9EC;*/
}

.bottom-up>.tool{
/*    border-top: 1px solid#E2E9EC;*/
}

.sub-diagram {
    /*padding-left: 20px;*/
    /*align-items: center;*/
    display: flex;
    /*flex-wrap: wrap;*/
    /*width: calc(100% - 21px);*/
    width: 100%;
}

.sub-diagram::before {
    content: '↳';
    margin-top: 3px;
    margin-right: 5px;
}

.diagram-text {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    width: 100%;
}

.sub-diagram .diagram-block>.btn-block {
    width: calc(100% - 22px);
}

.sub-column {
    width: 100%;
}

.App .Menu #sidebar {
    position: fixed;
    top: 59px;
    left: 40px;
    z-index: 5;
    width: 230px;
    height: 100%;
    padding: 0px 15px 120px 15px;
    overflow: scroll;
    /*opacity: 0.9;*/
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*box-shadow: 0 0 0 1px rgba(144,164,174,.2);*/
    border-right: 1px solid #E2E9EC;
    background-color: #fff !important;
    -webkit-transform: translateX(-340px);
    -moz-transform: translateX(-340px);
    -ms-transform: translateX(-340px);
    -o-transform: translateX(-340px);
    transform: translateX(-340px);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}

.App .Menu #sidebar.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.App .Menu #sidebar .section-title{
    text-transform: uppercase;
    font-size: 0.75rem;
    /*font-weight: bold;*/
    color: #95a6bd;
}

.App .Menu #sidebar .section-title>i{
    width: 10px;
    text-align: left;
    display: inline-block;

}

.section-title:hover{
    cursor: pointer;
}

.App .Menu #sidebar .blocks {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #DDD;
    border-left: none !important;
}

/*.App .Menu #sidebar button {
    width: 75px;
    height: 25px;
    margin-top: 10px;
}*/

/*.App .Menu #sidebar .menuitem-container {
    display: flex;
    align-items: center;
}

.App .Menu #sidebar .menuitem-container>i {
    width: 10%;
}
*/

.App .Menu #sidebar .MenuItem {
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
    padding: 4px;
    padding-top: 10px;
    /*transition: background-color .3s cubic-bezier(0.9, 0.2, 0.2, 1);*/
    backface-visibility: hidden;
    color: #2b3950;
    width: 46%;
    background-color: #fff;
    transition: all .1s ease-in-out;
/*    box-shadow: 0 2px 3px rgba(0,0,0,.08);*/
    font-size: 13px;
    color: #8DA2B5 !important;
    text-align: center;
   border: 1px solid #eaeff4;
   margin-bottom: 8PX;
   transition: all 0.25s ease;
   margin: 4px 4px;
}
.nav-tabs .nav-link{
    color: #8da2b5;
    transition: all 0.25s ease;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #42A5FF;
    background-color: #fff;
/*    border: 1px solid #42A5FF;*/
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12);
    border: 1px solid #fff !important;
    transition: all 0.25s ease;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border: 1px solid #E2E9EC;
    border-radius: 5px;
    transition: all 0.25s ease;
}
.nav-tabs{
    border-bottom: none;
}
.nav-tabs .nav-link.disabled{
    color: #bdcddc;
    background-color: transparent;
    border-color: transparent;
}
.image-editor{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.toggle-group .btn.btn-secondary{
    background-color: #cce5ff70 !important;
    height: 30px;
    line-height: 15px !important;
    border: 1px solid #b8daff !important;
    color: #42A5FF !important;
    width: 100px;
    text-transform: capitalize;
}
.toggle-group .btn.btn-outline-secondary{
    height: 30px;
    font-weight: lighter !important;
    color: #8da2b5 !important;
    line-height: 15px;
    width: 100px;
    text-transform: capitalize;
}
.toggle-group .btn.btn-outline-secondary:hover{
    height: 30px;
    font-weight: lighter !important;
    color: #42A5FF !important;
    line-height: 15px;
}
.toggle-group .btn.btn-outline-secondary:active{
    background-color: #f9f9f9;
    height: 30px;
    font-weight: lighter !important;
    color: #42A5FF !important;
    line-height: 15px;
}
.hey{
    background-color: transparent !important;
    color: aqua !important;
}
.App .Menu #sidebar .MenuItem .menu-tip {
    padding: 0px 8px 0px 8px !important;
    color: #fff;
    font-size: 14px;
    border-radius: 100%;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 0px;
}
.App .Menu #sidebar .MenuItem:hover .menu-tip {
    color: #CCC;
}
.App .Menu #sidebar .MenuItem:hover .menu-tip:hover {
    color: #8da2b5;
}
.btn-info{
    background-color: transparent!important;
    border: 1px solid #8da2b555 !important;
    font-size: 17px !important;
    color: #8da2b5 !important;
    border-radius: 5px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 130px;
    cursor: pointer;
    transition: all 0.2s;
}
.btn-info:hover{
    color: #42A5FF !important;
    background-color: #cce5ff70 !important;
    border-color: #b8daff !important;
/*    transform: scale(1.04);*/
}
.btn-info:focus{
    box-shadow: none !important;
    background-color: #b8daff !important;
    color: #42A5FF !important;
}
.App .Menu #sidebar .section-blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
}

.App .Menu #sidebar .MenuItem .MenuText{
    flex: 1;
    display: block;
    align-items: center;
    justify-content: space-between;

}

.App .Menu #sidebar .MenuItem:hover {
    /*transform: scale(1.03);*/
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 2px 6px rgba(0,0,0,.18);
   border: 1px solid transparent !important;
/*    border-radius: 10px;*/
    background-color: #fff !important;
    color: #2b3950 !important;
}

.App .Menu #sidebar .MenuItem:active{
/*    transform: rotate(-6deg);*/
}
.App .Menu #sidebar .MenuItem .MenuIcon {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
/*    background-color: #e2e9ec;*/
    /*color: #2325E2;*/
    color: #fff;
    border-radius: 4px;
    font-size: 17px;
    /*border-radius: 10px 0px 0px 10px !important;*/
}

.ModuleIcon {
    width: 37px;
    height: 37px;
}

.helpMenu.MenuItem {
    display: flex;
    padding: 5px;
    align-items: center;
}
.helpMenu.MenuItem>.MenuIcon {
    border-radius: 5px;
    margin-right: 10px;
    /*padding: 10px;*/
    width: 60px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    color: #fff;
}
.helpMenu.MenuItem h5{
    width: 100%;
    margin-bottom: 0;
}

.App .Menu #sidebar .MenuItem.choice:hover {
    background-color: #F4F6F7;
} .MenuItem.choice>.MenuIcon {
    color: #62D6A8 !important;
}
.App .Menu #sidebar .MenuItem.intent:hover {
    background-color: #F4F6F7;
} .MenuItem.intent>.MenuIcon {
    color: #8699ff !important;
}
.App .Menu #sidebar .MenuItem.mail:hover {
    background-color: #F4F6F7;
} .MenuItem.mail>.MenuIcon {
    color: #ffa477 !important;
}
.App .Menu #sidebar .MenuItem.stream:hover {
    background-color: #163898;
} .MenuItem.stream>.MenuIcon {
    color: #4584e8 !important;
}
.App .Menu #sidebar .MenuItem.api:hover {
    background-color: #F4F6F7;
} .MenuItem.api>.MenuIcon {
    color: #f18383 !important;
}
.App .Menu #sidebar .MenuItem.permissions:hover {
    background-color: #F4F6F7;
} .MenuItem.permissions>.MenuIcon {
    color: #88bbd8 !important;

}
.App .Menu #sidebar .MenuItem.speak:hover {
    background-color: #F4F6F7;
} .MenuItem.speak>.MenuIcon {
    color: #42A5FF !important;
    font-size: 18px;
}
.App .Menu #sidebar .MenuItem.audio:hover, .App .Menu #sidebar .MenuItem.combine:hover {
    background-color: #ff8b35;
} .MenuItem.audio>.MenuIcon, .MenuItem.combine>.MenuIcon  {
    color: #ff8b35 !important;
}
.App .Menu #sidebar .MenuItem.random:hover {
    background-color: #F4F6F7;
} .MenuItem.random>.MenuIcon {
    color: #FA755A !important;
    font-size: 18px;
}
.App .Menu #sidebar .MenuItem.set:hover {
    background-color: #F4F6F7;
} .MenuItem.set>.MenuIcon {
    color: #69D4F8 !important;
}
.App .Menu #sidebar .MenuItem.variable:hover {
    background-color: #F4F6F7;
} .MenuItem.variable>.MenuIcon {
    background-color: #9575CD;
}
.App .Menu #sidebar .MenuItem.if:hover {
    background-color: #F4F6F7;
} .MenuItem.if>.MenuIcon {
    color: #F5BE58 !important;
}
.App .Menu #sidebar .MenuItem.capture:hover {
    background-color: #F4F6F7;
} .MenuItem.capture>.MenuIcon {
    color: #c48cff !important;
}
.App .Menu #sidebar .MenuItem.command:hover {
    background-color: #F4F6F7;
} .MenuItem.command>.MenuIcon {
    color: #EC5594 !important;
}
.App .Menu #sidebar .MenuItem.flow:hover {
    background-color: #F4F6F7;
} .MenuItem.flow>.MenuIcon {
    color: #7abcdb!important;
}
.App .Menu #sidebar .MenuItem.comment:hover {
    background-color: #F4F6F7;
} .MenuItem.comment>.MenuIcon {
    color: #b6c9d4 !important;
    font-size: 18px;
}

.App #diagram {
    width: 100%;
    height: 100%;
    padding-left: 40px;
}
.App #diagram.no-padding {
    padding-left: 0 !important;
}

.App .srd-diagram {
    width: 100%;
    height: 100%;
    background-color: #f2f7f8;
/*    background-image: url('/images/dot.svg');
    background-repeat: repeat;*/
}

.App.review .blocks {
    border-color: #FFAB91 !important;
    border-width: 3px !important;
}

.App.review #diagram {
    /*border: 10px solid #D84315;*/
}
.App.review .TitleBar{
    /*border-bottom: 10px solid #D84315 !important;*/
}

#review {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 7;
    border: 3px solid #FFAB91;
    /*border-top-right-radius: 5px;*/
    border-top-right-radius: 5px;
    padding: 15px;
    padding-left: 20px;
    background-color: #FBE9E7;
    color: #DD2C00;
    /*max-width: 180px; */
    border-left: none;
    border-bottom: none;
    word-break: break-all;
}

#expand-btn {
    position: absolute;
    bottom: 30px;
    right: 120px;
    z-index: 500
}

.App #Editor {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    width: 350px;
    height: 100%;
    padding-top: 59px;
    background-color: #fff;
    /*opacity: 0.9;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-left: 1px solid #E2E9EC;
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -o-transform: translateX(350px);
    transform: translateX(350px);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s;
    /* smooth the scrolling on touch devices - webkit browsers */
}
#Editor>.controls{
    height: 100%;
    padding: 13px 20px 50px 20px;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
}

.App #Editor.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.App #Editor label {
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    margin-bottom: 3px !important;
/*    background-color: #42A5FF !important;*/
}
#editor-section {
/*    flex: 1;
    overflow: scroll;*/
}
.label-btns{
    margin-bottom: 5px;
}
.label-btns>button {
    margin: 10px 0px 5px 5px;
    padding: 0px 5px !important;
    font-weight: 400 !important;
}
.label-btns>.btn{
    border: none;
}

.App .Loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 500px;
    height: 500px;
    color: #333333;
    background-color: #dddddd;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.controls hr {
    margin-bottom: px;
    border-top: 1px solid #E2E9EC;
}

/*.controls label>.button {
    font-weight: normal;
    padding: 1px 5px;
    color: #AAA;
    border-radius: 5px;
    font-size: 13px;
    margin: 0 2px;
}

.controls label>.button.active {
    font-weight: normal;
    padding: 1px 5px;
    color: #FFF;
    background-color: #007bff;
}*/

.subtitle {
    display: block;
    cursor: pointer;
    margin: 0;
    color: #95a6bd;
}

.clear {
    width: 15%;
}

.text-to-voice{
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 10px;
/*    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);*/
}

.textarea-collapse {
    margin-bottom: 5px;
}
.input .textarea .text-to-voice .choice-block .solid-border{
/*    background-color: #FFF !important;*/
    color: #2b3950 !important;
}

.input .textarea .text-to-voice .intent-block .solid-border{
/*    background-color: #FFF !important;*/
    color: aqua !important;
}
#Editor textarea, textarea.blank {
    width: 100%;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    border: none;
}

#Editor textarea:focus, textarea.blank:focus {
    outline: none;
}

#Editor textarea::placeholder, textarea.blank::placeholder{
    color: #8da2b5 !important;
}

.select-box {
    flex: 1;
}

.speak-box {
    flex: 1;
    margin-left: 8px;
}

.select-box>div{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

label {
    margin: 10px 0;
}

.srd-default-node {
    background-color: #fff !important;
    min-width: 120px !important;
    min-height: 80px !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
    border: 0px solid;
    border-top: 6px solid #E2E9EC;
    /*border-color: #c5c6c9 #bfc0c4 #b0b1b5 !important;*/
    overflow: hidden;
    padding: 10px 0 10px 0;
    font-family: inherit;
    color: #8da2b5;
    /*border-bottom: 5px solid;*/
    border-color: #E2E9EC;
    min-width: 90px;
    transition: all .15s ease-in-out;
    /*display: flex;*/
    /*flex-direction: row;*/
}
.srd-default-node:hover{
    background-color: #fff!important;
/*    min-width: 180px;
    min-height: 100px;*/
    border-radius: 10px !important;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08) !important;
    border: 0px solid;
    /*border-color: #c5c6c9 #bfc0c4 #b0b1b5 !important;*/
    overflow: hidden;
    padding: 10px 0 10px 0;
    font-family: inherit;
    color: #545D6D;
    border-top: 6px solid #E2E9EC;
    /*border-bottom: 5px solid;*/
    border-color: #E2E9EC;
    min-width: 90px;
    transform: translateY(-4px);
    transform: scale(1.02);
}
.srd-port:hover, .srd-port.selected {
    background: #d1d8e2 !important;
    cursor: pointer !important;
}

.srd-node--selected>* {
    border: 2px solid !important;
    border-top: 6px solid !important;
    outline: 0;
    transform: scale(1.04);
    border-color: #2b3950 !important;
/*    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25)*/
}

.srd-default-node.flow {
    background-color: #fff;
    border-top: 6px solid #7abcdb;
    border-color: #7abcdb !important;
}
.srd-default-node.choice, .srd-default-node.choicenew{
    border-top: 6px solid #62D6A8 !important;
    border-color: #62D6A8 !important;
}

.srd-default-node.intent {
    border-top: 6px solid #8699ff !important;
    border-color: #8699ff !important;
}

.srd-default-node.choice, .srd-default-node.choicenew:hover{
    border-top: 6px solid #62D6A8 !important;
}
.srd-default-node.mail{
    background-color: #fff;
    border-top: 6px solid #ffc2a4;
    border-color: #ffc2a4 !important;
}
.srd-default-node.mail:hover{
    border-top: 6px solid #ffc2a4;
}
.srd-default-node.stream{
    border-top: 6px solid !important;
    border-color: #4584e8 !important;
    min-width: 150px !important;
}
.srd-default-node.api{
    background-color: #fff;
    border-top: 6px solid #f18383;
    border-color: #f18383 !important;
}
.srd-default-node.api{
    border-top: 6px solid #f18383;
    border-color: #f18383 !important;
}
.srd-default-node.permissions{
    background-color: #fff;
    border-top: 6px solid #88bbd8;
    border-color: #88bbd8 !important;
}

.srd-default-node.module{
    background-color: #6CD132;
}

.srd-default-node.line, .srd-default-node.audio, .srd-default-node.multiline, .srd-default-node.combine{
    background-color: #fff;
    border-top: 6px solid #ff8d48;
    border-color: #ff8d48 !important;
}

.srd-default-node.random {
    background-color: #fff;
    border-top: 6px solid #FA755A;
    border-color: #FA755A !important;
}

.srd-default-node.capture {
    background-color: #fff;
    border-top: 6px solid #bd7eff;
    border-color: #bd7eff !important;
}

.srd-default-node.command {
    background-color: #fff;
    border-top: 6px solid #EC5594;
    border-color: #EC5594 !important;
}

.srd-default-node.comment {
    background: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    border: none !important;
    padding: 0 !important;
    padding-bottom: 0 !important;
    box-shadow: none !important;
    transform: scale(1) !important;
    transform: translateY(0px) !important;
    border-radius: 0 !important;
}

.srd-default-node.comment:hover {
    transform: scale(1) !important;
    transform: translateY(0px) !important;
}

.srd-default-node.comment textarea{
    background-color: transparent;
    box-shadow: none !important;
    padding: 6px 8px !important;
    border: 1px solid transparent !important;
    border-radius: 5px;
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
    resize: none;
    cursor: pointer !important;
}
.srd-default-node.comment textarea:active, .srd-default-node.comment textarea:focus{
    border: 1px dashed #C2C6D5 !important;
    outline: none !important;
    cursor: text !important;
}

.srd-default-node__title {
    padding: 0 !important;
}

.srd-default-node.comment .srd-default-node__name {
    padding: 10px;
}

.srd-default-node.set, .srd-default-node.variable {
    background-color: #fff;
    border-top: 6px solid #69D4F8;
    border-color: #69D4F8 !important;
}

.srd-default-node.speak {
    background-color: #B2EBF2;
    border-top: 6px solid #42A5FF;
    border-color: #42A5FF !important;
}

.srd-default-node.if {
    background-color: #fff;
    border-top: 6px solid #F5BE58;
    border-color: #F5BE58 !important;
}

.srd-default-node.retry {
    background-color: #FFE0B2;
}

.srd-default-node.listen {
    background-color: #FFF59D;
}

.srd-default-node.comment {
    background-color: #F5F5F5;
}

.srd-default-node .block-reads {
    position: absolute;
    top: -22px;
    font-size: 14px;
}

.srd-default-node .block-reads::after {
    content: " Reads";
}

.srd-default-node__ports {
    background: transparent;
}
.srd-default-node module{
    background-color: aqua !important;
}
.srd-default-port--out > .name {
    margin-right: 5px;
    font-size: 14px;
}
.srd-port {
    background: #f0f3f7;
    width: 25px;
    height: 25px;
    margin-bottom: 4px;
}
.srd-default-port--in > .srd-port {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.srd-default-port--out > .srd-port {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.srd-default-node__name {
    padding: 0 40px;
}

.srd-default-node__title {
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
    font-size: 15px;
    color: #2b3950 !important;
}

/* button.close{
    float: none;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0px !important;
    transition: all ease 0.25s;
}
button.close:hover{
    background-color: #fff;
    border-radius: 50%;
    box-shadow:  0 0 0 1px rgba(17,49,96,.04), 0 2px 6px 0 rgba(17,49,96,.24);
} */
.top {
    margin: 10px 0 10px 0;
}

.property{
    display: flex;
    justify-content: space-between;
}

#label-label{
    color: #BBB;
    font-size: 14px;
    margin: 0;
    display: block;
}

#label {
    border: none;
    /*margin-left: 10px;*/
    flex-grow: 1;
    background-color: transparent;
    border-bottom: 1px solid #f4f6f7 !important;
    margin-bottom: 20px;
    font-size: 20px;
    /*line-height: 24px;*/
    color: #2b3950;
    width: 100%;
    transition: border-color .4s ease;
    border-radius: 0px !important;
}

#label::placeholder {
    color: #CCC;
}

#label:focus{
    outline: 0;
    box-shadow: 0;
    border-color: #007bff;
}

.delete-block{
    padding: 2px 9px 2px 2px;
    /*margin-left: 7px;*/
    cursor: pointer;
    color: #CCD4DF;
}

.delete-block:hover{
    color: #8da2b5;
}

.block {
    padding: 1px 3px 1px 10px;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: #D1D8DE;
    color: #2b3950;
    border-radius: 20px;
}

.block>i{
    margin-top: 2px;
    position: relative;
    top: 1px;
}
.block.api{
/*    border: 1px solid #D7396540;*/
    background-color: #f1838350;
    color: #f18383;
}
.block.stream {
/*    border: 1px solid #15389840;*/
    background-color: #4584e850;
    color: #4584e8;
}
.block.flow {
/*    border: 1px solid #2b395050;*/
    background-color: #7abcdb50;
    color: #7abcdb;
}

.block.if {
/*    border: 1px solid #ffd15850;*/
    background-color: #F5BE5830;
    color: #F5BE58;
}
.block.combine {
    background-color: #ff8d4850;
    color: #ff8d48;
}
.block.capture {
/*    border: 1px solid #a458f550;*/
    background-color: #a458f530;
    color: #a458f5;
}

.block.permissions {
/*    border: 1px solid #88bbd850;*/
    background-color: #88bbd830;
    color: #88bbd8;
}

.block.command {
/*    border: 1px solid #EC559450;*/
    background-color: #EC559420;
    color: #EC5594;
}

.block.story {
/*    border: 1px solid #2b395050;*/
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.speak {
/*    border: 1px solid #3d96f050;*/
    background-color: #EDF3FE !important;
    color: #42A5FF !important;
}

.block.listen {
    border: 1px solid #e3e9ec;
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.choice {
/*    border: 1px solid #62D6A865;*/
    background-color: #62D6A830;
    color: #62D6A8;
}

.block.intent {
    background-color: #8699ff50;
    color: #8699ff;
}

.block.retry {
    border: 1px solid #e3e9ec;
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.audio {
    border: 1px solid #ff8b35;
    background-color: #ff8b3530;
    color: #ff8b35;
}

.block.ending {
    border: 1px solid #e3e9ec;
    background-color: #e3e9ec;
    color: #2b3950;
}

.block.comment {
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    color: #212121;
}

.block.set {
    background-color: #69D4F830;
    color: #69D4F8;
}

.block.random {
/*    border: 1px solid #5EC2D760;*/
    background-color: #FA755A30;
    color: #FA755A;
}

.block.variable {
/*    border: 1px solid #D1C4E9;*/
    background-color: #e3e9ec;
    color: #2b3950;
}
.btn-outline-secondary{
    border:  1px solid #d4d9e6 !important;
    color: #8da2b5 !important;
    font-weight: 600 !important;
    border-radius: 5px;
}
.btn-outline-secondary:hover{
    /*box-shadow:  inset 0 0 0 1px rgba(144,164,174,.5) !important;*/
    border-color: #d4d9e6 !important;
    background-color: #fff;
    color: #3d96f0 !important;
}
.btn-outline-secondary:active{
    background-color: #fafafa !important;
}
.btn-group-vertical>.btn:hover, .btn-group>.btn:hover {
     z-index: unset !important;
}
.diagram-block .btn-secondary{
    background-color: #f0f3f7;
    border: #f0f3f7 1px solid !important;
    color: #2b3950 !important;
}
.diagram-block .btn-secondary:hover{
    background-color: #E2E9EC !important;
    border: #E2E9EC 1px solid !important;
}
.diagram-block .btn-secondary:active{
    background-color: #E2E9EC !important;
/*    border: #d1d8e2 1px solid !important;*/
}
.diagram-block .btn-secondary.disabled {
    color: #fff !important;
    background-color: #42A5FF !important;
    border-color: #42A5FF !important;
    opacity: 1;
/*    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);*/
}
.diagram-block input.form-control {
    margin-right: 1px;

}
.btn-float{
    height: 45px;
    background-color: transparent;
    color: #8da2b580;
    font-size: 25px;
    border: none;
    cursor: pointer;
    transition: all ease 0.25s;
}
.btn-float:hover{
    color: #8da2b5;
    transform: scale(1.05);
}
.expressionfy{
    border: 1px dashed #c5d3e0 !important;
}
.diagram-block .diagram-edit{
    padding-left: 4px;
    padding-right: 3px;
    margin-left: 0px !important;
    font-size: 12px !important;
    color: #2c3e563d !important;
}
/*.diagram-block .diagram-edit:hover{
    background-color: transparent !important;
    color: #2b3950 !important;
    border: none !important;
}*/
.bg{
    height: 0px;
}
.btn-secondary.disabled:hover {
    /*color: #fff !important;*/
    border-color: #42A5FF;
    background-color: #42A5FF;
}
.btn-secondary.disabled, .btn-secondary{
    color: #fff;
    background-color: #42A5FF;
/*    font-size: 16px;*/
}
.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #42A5FF;
    border-color: #42A5FF;
    opacity: 1;
/*    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);*/
}

.diagram-block {
    width: 100%;
    margin-bottom: 5px;
}

.diagram-block>button{
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
    font-size: 12px !important;
}
.diagram-block>input{
    padding: 0px 6px;
    height: 32px;
    font-size: 12px !important;
}
.choice-block {
    width: 100%;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 10px;
    box-shadow:0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12) !important;
    border: none !important;
    color: #2b3950 !important;
    border: 1px solid #fff !important;
    transition: all 0.2s ease !important;
/*    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);*/
}

.intent-block {
    width: 100%;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 10px;
    box-shadow:0 2px 6px 0 rgba(14,30,37,.12);
    border: 1px solid #fff !important;
/*    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);*/
}

.choice-block:focus-within{
    border: 1px solid #42A5FF !important;
    box-shadow: 0 4px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08) !important;
}
.brackets>.NaN{
    color: #2b3950 !important;
    background-color: #e3e9ec !important;
}
.brackets>.unknown{
    color: #42A5FF !important;
}
.expression-block.and{
    background-color: #F5F7F8 !important;
    border: 1px solid #c5d3e09c !important;
    padding: 10px;
}
.expression-block.greater, .expression-block.equals, .expression-block.less{
    background-color: #F5F7F8 !important;
    border: 1px solid #c5d3e0ad !important;
    padding: 10px;
    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 6px 9px 0 rgba(17,49,96,0.06);
}
.expression-block.or{
    background-color: #F5F7F8 !important;
    border: 1px solid #c5d3e09c !important;
    padding: 10px;
}
.expression-block.not{
    background-color: #F5F7F8 !important;
    border: 1px solid #c5d3e09c !important;
    padding: 10px;
}
.brackets>.variable{
    background-color: #42A5FF !important;
    color: #fff !important;
}
.choice-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.operator{
    color: #8da2b5;
}
.expression-block.divide, .expression-block.times{
    background-color: #F5F7F8 !important;
    border: 1px solid #c5d3e0ad !important;
    padding: 10px;
    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 6px 9px 0 rgba(17,49,96,0.06);
}
.square-bubble {
    padding-top: 2px;
    height: 20px;
    width: 20px;
    padding-left: 6px;
    padding-right: 7px;
    text-align: center;
    line-height: 16px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #edf5ff;
    color: #42A5FF;
    border: 1px solid #42A5FF50;
    font-weight: 600;
    font-size: 12px;
}

.choice-title span {
    /*padding: 5px 10px 0px 10px;*/
    padding-top: 2px;
    height: 20px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    line-height: 16px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #edf5ff;
    color: #42A5FF;
    border: 1px solid #42A5FF50;
    /*font-weight: bold;*/
    font-size: 11px;
    margin-right: 5px;
    margin-left: -5px;
/*    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);*/
    font-weight: 600;
}

.choice-title input{
    flex: 1;
    border: none;
    color: #95a6bd;
}

.expression-block.plus, .expression-block.minus{
    background-color: #f4f7f8 !important;
    border: 1px solid #c5d3e0ad !important;
    padding: 10px;
    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 6px 9px 0 rgba(17,49,96,0.06);
}
.choice-title input:focus{
    outline: none;
}
.multi-title-block{
    display: flex;
    font-size: 14px;
}
.multi-title-block>button.close {
    margin-left: 10px
}
.multi-title-block>div>span{
    margin-right: 5px;
}
.multi-title-block>div>span>i{
    width: 10px;
}
.multi-title {
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0;
    margin-right: 1px;
    min-width: 25px;
/*    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.multiline hr{
    margin: 0px;
}

.variables {
/*    max-height: 117px;
    overflow: scroll;*/
}

.set-block {
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}

.variable-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /*margin-top: 20px;*/
}
.variable-input-field ::-webkit-scrollbar {
    display: none;
}

.variable-input-field {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    height: auto !important
    /*overflow-x: auto;*/
    /*overflow-y: hidden;*/
}
.variable-input-field .public-DraftStyleDefault-block {
    display: flex;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow-x: auto;
    white-space: pre;
    /*display: inline-block;*/
}
.DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content{
    height: auto;
}
.variable-group>.variable-box {
    max-width: 180px;
    margin-right: 5px;
    color: #2b3950;
}
/*.expression-block .dropdown {
    max-height: 400px;
}*/
.set-block > .close {
    line-height: 18px;
}
.variable-box__input{
    color: #fff !important;
}
.variable-group>span{
    font-weight: bold;
    margin-right: 7px;
    margin-left: 2px;
}

.variable-box {
    flex: 1;
}
/*.variable-block::before{
    content: '{'
}
.variable-block::after{
    content: '}'
}*/
.variable-block {
    background-color: #42A5FF;
    color: #fff;
/*    padding: 1px 0px 4px 0px;
    border-radius: 3px;
    color: #575f67;*/
    cursor: pointer;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    text-decoration: none;
}
.variable-box__control {
    background-color: #42A5FF !important;
    color: #fff !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}
.variable-box__menu {
    z-index: 1500;
}
.variable-box__control--is-focused {
    border-color: #3d96f0 !important;
/*    box-shadow: 0 0 0 1px #6A1B9A !important;*/
}

.variable-box__placeholder,
.variable-box__dropdown-indicator,
.variable-box__single-value,
.variable-box__value-container--has-value>div {
    color: #fff !important;
}

.variable-box__indicator-separator {
    background-color: transparent!important;
}

.variable_tag>span:hover {
    color: #ffffff!important;
}

.variable_tag>span {
    margin-left: 0px;
    padding: 4px;
    font-size: .8rem;
    color: #ffffff60 !important;
    cursor: pointer;
}

.variable_tag {
    vertical-align: middle;
    background-color: #42A5FF;
    color: #fff;
    padding: 3px 3px 3px 7px;
    border-radius: .25rem;
    display: inline-block;
    margin: 3px 0 2px;
    cursor: default;
    margin-right: 5px;
    font-size: 14px;
}

.variable_tag.default{
    background-color: #cce5ff70;
    border: 1px solid #b8daff;
    color: #42A5FF;
    padding: 3px 7px;
}

.new_var {
    background-color: #42A5FF;
    color: #fff;
    border: 1px solid #42A5FF !important;
/*    border-color: #42A5FF;*/
/*    height: 45px;*/
    box-shadow: 0 2px 5px 0 #e6ebf1 !important;
  -webkit-transition: box-shadow 150ms ease !important;
  transition: all 150ms ease !important;
}
.new_var:hover{
    border: 1px solid #42A5FF !important;
}
.down-arrow {
    color: #E3E9EC;
    margin: 10px 0 0 0;
}

.plain-dropdown {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 0px;
}
.plain-dropdown:hover, .show>.plain-dropdown{
    background-color: transparent !important;
    color: #777 !important;
    border:none;
    outline: none;
    box-shadow: none !important;
}
.plain-dropdown:focus, .plain-dropdown:active {
    box-shadow: none !important;
}
.plain-dropdown-menu {
    margin-top: -8px;
    margin-left: -1px;
}
.plain-dropdown i {
    margin-right: 5px;
}
/*figure {
    margin: 0 !important;
    display: inline-block;
}
.public-DraftEditor-content div{
    display: inline-block;
}*/

.variable_map{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    /*margin-bottom: 10px;*/
}

.variable_map>i{
    margin: 0px 5px;
}

.variable_map.reverse{
    flex-direction: row-reverse;
}

.variable_map>.map-box{
    flex: 1;
}

.link-button{
    padding: 0px;
    margin-top: -1px;
    padding-left: 5px;
}

.public-DraftEditorPlaceholder-root {
    color: #8DA2B5;
}

.public-DraftEditorPlaceholder-hasFocus {
    color: #8DA2B5;
}
.editor {
    box-sizing: border-box;
    cursor: text;
    padding:8px 12px;
    border: 1px solid #E2E9EC;
    cursor: text;
    border-radius: 5px;
    margin-bottom: 1.2rem;
    background: #fefefe;
    color: #2B3950;
    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12) !important;
    border: 1px solid #fff;
}
.editor :global(.public-DraftEditor-content) {
  min-height: 88px;
}
.editor:focus-within{
    border: 1px solid #42A5FF !important;
    box-shadow: 0 4px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08) !important;
}
.input-group .variable-box__control {
    border-radius: 0px 5px 5px 0px !important;
}
.text-to-voice .choice-block .solid-border{
    color: #2B3950 !important;
    border: 1px solid #E2E9EC !important;
}
/*.dropdown-item{
    color: #2B3950 !important;
}*/
#widget-bar{
    position: absolute;
    bottom: 13px;
    left: 283px;
    z-index: 5;
}

@media(max-width: 1250px){
    .title-group .last-save {
        display: none;
    }
    .TitleBar{
        /*height: 105px;*/
        display: block;
        padding-left: 275px;
        padding-right: 0px;
    }
}

.SkillModal-Templates .TemplateItem {
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    margin: 10px 0px;
    transition: background-color .3s cubic-bezier(0.9, 0.2, 0.2, 1);
    backface-visibility: hidden;
    color: #9196b6;
    width: 90%;
    background-color: #fff;
    transition: all .1s ease-in-out;
}

.SkillModal-Templates .TemplateItem:hover {
/*    transform: translateZ(3);*/
    transform: scale(1.05);

/*    transform: translateY(-2px);*/
    border-radius: 10px;
/*    box-shadow: 0 1px 5px 0 rgba(36,35,40,.2), 0 2px 3px 0 rgba(36,35,40,.01);*/
    box-shadow: 0 1px 6px 0 rgba(14,30,37,.12);
    background-color: #fff !important;
}

.SkillModal-Templates .TemplateItem .TemplateIcon {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45px;
    height: 45px;
/*    background-color: #e2e9ec;*/
    /*color: #2325E2;*/
    color: #fff;
    border-radius: 10px;
}
