ENV = dev
AWS_ACCESS_KEY_ID=EFISDFJSDKZ2PKOKRG
AWS_SECRET_ACCESS_KEY=vv0fagdewVfh2m0Bw8lvYCGWu0HRSU9uIg4FQJMw2
AWS_REGION=us-east-1
PSQL_USER=voiceUser
PSQL_HOST=voice-instance@rds.amazonaws.com
PSQL_DB=voiceflow-dev
PSQL_PW=qwerty123
INTERCOM_TOKEN=apdmrngj35iNmFfNDkzOV9dfjR4lf0dFpsfki3fiDf4kfo0veF
DIAGRAMS_DYNAMO_TABLE=com.voiceflow.diagramsdb
SESSIONS_DYNAMO_TABLE=com.voiceflow.sessionsdb
SKILLS_DYNAMO_TABLE_BASE_NAME=com.voiceflow.skillsdb
