.DS_Store
src/.DS_Store
src/app/.DS_Store
/components/.DS_Store
src/app/components/.DS_Store
.idea
node_modules
.vscode
/app/build/*
dump.rdb
routes/tmp/*
!routes/tmp/.gitkeep

# */package-lock.json
# package-lock.json

*/yarn.lock
yarn-lock.json
coverage
yarn.lock
restart.sh
log/
# dotenv environment variables files
/.env*
!/.env.example
!/.env.test

/migrations
# Local DynamoDB
shared-local-instance.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
