*.log
*.toml
CHANGELOG.md

# Node
node_modules

# TypeScript
build

# Yarn
.pnp.*
.yarn
*.lock

# Coverage
sonar
coverage

# Tests
*.report.xml

# OpenAPI
openapi.*.json
openapi.json

# MikroORM
.mikro-orm
.snapshot-main.json

# Templates
**/templates/*.json
