[Unit]
Description=Storyflow

[Service]
ExecStart=/srv/storyflow-server/index.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/srv/storyflow-creator

[Install]
WantedBy=multi-user.target
