.prompt {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: fit-content;
  padding: 10px;
  white-space: nowrap;
  background: white;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(17, 49, 96, 0.16), 0 0 0 rgba(17, 49, 96, 0.06);
  transform: translateX(-100%);
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  width: 240px;
  margin: 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(17, 49, 96, 0.16), 0 0 0 rgba(17, 49, 96, 0.06);
  cursor: pointer;
}

.effect {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  padding: 10px 0 10px 20px;
}

.menu .menu {
  top: 0;
  transform: translateX(-100%);
}

.effect:hover > .menu {
  display: block;
}

.add-effect {
  position: relative;
  display: flex;
  align-items: center;
}

.add-effect:hover > .menu {
  display: block;
}

.add-effect-name {
  color: #62778c;
  font-weight: 600;
  font-size: 13px;
}

.add-effect-hover {
  color: #62778c;
  color: #5d9df5;
  font-weight: 600;
  font-size: 13px;
}

.effect:hover {
  background: linear-gradient(180deg, rgba(238, 244, 246, 0.85) 0%, #eef4f6 100%);
}

.effect:hover > .arrow-right {
  transform: translateX(50%);
  transition: all 0.1s;
}

.effect:hover > .prompt {
  display: flex;
  flex-direction: column;
}

.option {
  color: #5d9df5;
}
