/* .DraftEditor-root {
  height: 80px !important;
  overflow: scroll;
} */
/* 
.DraftEditor-root div {
  display: inline-block;
}

.DraftEditor-root figure {
  display: inline-block;
  margin: 0;
}

/* onclick higlight on editor */ /*
.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
  height: 80px !important;
} */

/* .public-DraftEditorPlaceholder-root {
  pointer-events: none;
}

.search__dropdown_content {
  min-width: 150px;
} */

.tag {
}

.tag.BREAK {
  color: #132144;
}

.tag.VOLUME {
  color: #5891fb;
}

.tag.RATE {
  color: #f86683;
}

.tag.PITCH {
  color: #e29c42;
}

.tag.EMPHASIS {
  color: #36b4d2;
}

.tag.INTERPRETATION {
  color: #42b761;
}

.tag.PHONEME {
  color: #e760d4;
}

.tag.ALIAS {
  color: #26a69a;
}

.tag.WHISPER {
  color: #8da2b5;
}
