.platform-modal-img {
  width: 14em;
  height: 14em;
}

.img-container {
  height: 10em;
  overflow: hidden;
}

.module-modal-icon {
  position: absolute;
  top: -80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.module-modal-author {
  position: absolute;
  top: 15px;
  right: 20px;
}
