.ci__wrapper {
  border: 1px solid #5f6565;
  border-radius: 5px;
}

.ci__refund_link {
  color: #ff2e58;
  font-weight: bold;
  font-size: 16px;
}

.ci__refund_link:hover {
  cursor: pointer;
}

.ci__view_link {
  color: #00b0e6;
  font-weight: bold;
  font-size: 16px;
}

.ci__view_link:hover {
  color: #00b0e6;
  text-decoration: none;
  cursor: pointer;
}

.ci__refunded {
  color: #bf0026;
  font-weight: bold;
  font-size: 16px;
}

.ci__link_breaker {
  margin: 4px 0;
}
