#navbar .nav-link {
	padding-top: 18px;
	padding-bottom: 17px;
	cursor: pointer;
    color: #8da2b5;
}

#navbar  {
	padding: 0rem 1rem;
	-webkit-transition : background-color 800ms ease;
	-moz-transition : background-color 800ms ease;
	-o-transition : background-color 800ms ease;
	transition : background-color 800ms ease;
	background-color: #fff;
    border-bottom: 1px solid #E2E9EC;
	min-height: 59px;
/*    box-shadow: inset 0 0 10px #000000;*/
}

/*#navbar.storyboard {
	background-color: #5a5bff;
}

#navbar.admin {
	background-color: #333;
}

#navbar.dashboard {
	background-color: #01478B;
}

#navbar.analytics {
	background-color: #43A047;
}
.navbar-toggler{
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}*/

#navbar .account-dropdown .account {
	font-size: 24px;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0px;
	border: none !important;
	cursor: pointer;
}

#navbar .account-dropdown .account i {
	color: #8da2b5;
	transition: all 0.2s ease !important;
}

#navbar .account-dropdown .account:hover i {
	color: #42A5FF !important;
}

/*#navbar .account-dropdown.show .account i {
	border-color: #2668BC !important;
}*/

/*#navbar .account-dropdown.show .account {
	color: #42A5FF !important;
}*/

.dropdown-menu {
	border-color: #E2E9EC !important;
}

#navbar .account-dropdown .dropdown-menu{
	margin-top: 8px;
	right: -8px;
}

#navbar .account-dropdown .dropdown-menu .arrow {
	position: absolute;
}

.dropdown-menu.arrow:after, .dropdown-menu.arrow:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.platform-dropdown{
	right: -50px;
}

.dropdown-menu.arrow:after {
	border-color: transparent;
	border-bottom-color: #fff;
	border-width: 7px;
	margin-left: -7px;
	right: 12px;
}
.dropdown-menu.arrow:before {
	right: 10px;
	border-color: transparent;
	border-bottom-color: #E2E9EC;
	border-width: 9px;
	margin-left: -9px;
}

@media(min-width: 845px){
	#navbar .nav-link {
		padding-top: 14px;
		padding-bottom: 17px;
        padding-left: 20px;
        padding-right: 20px;
	}

	#navbar .nav-link {
		border-top: 4px solid transparent;
		-webkit-transition : all 200ms ease-out;
		-moz-transition : all 200ms ease-out;
		-o-transition : all 200ms ease-out;
		transition : all 200ms ease-out;
	}

	#navbar .nav-link.active {
		border-color: #fff !important;
		cursor: default !important;
/*		background-color: #E2E9EC !important;*/
        font-weight: 900 !important;
        color: #42A5FF !important;
	}

	#navbar .nav-link:focus, #navbar .nav-link:hover {
		border-color: #ffffff5e;
		background-color: rgba(255,255,255,0.1);
        font-weight: bold;
        
	}
}