.card-container{
    width: calc(100%  /4);
    padding: 10px;
}

.card-link{
    cursor: pointer;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
}

.marketplace-main {
	margin-left: 160px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
}

.card-icon {
    width: 60px;
    height: 50px;
}

@media(max-width: 1200px){
	.card-container{
		width: calc(100%/4);
    }
    
    .featured-card{
        width: calc(100%/4);
    }
}
@media(max-width: 798px){
    .card-container{
        width: 100%;
    }

    .featured-card{
        width: calc(100%/2);
    }
}

