.card-container{
    width: calc(100%  /4);
    padding: 10px;
}

.card-link{
    cursor: pointer;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black */
/*    overflow-x: hidden;  Disable horizontal scroll */
    padding-top: 60px;
    box-shadow: 0 0 0 1px rgba(36,35,40,.1);
}

.marketplace-main {
	margin-left: 160px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
}
.checkbox{
    padding: 5px;
    color: #fff !important;
    width: 30px !important;
    height: 30px !important;
    background-color: #fff !important;
    border: 2px solid #ddd !important;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 10px;
    transition: all .4s ease-in-out !important;
}
.checkbox-active{
    padding: 5px;
    color: #fff !important;
    width: 30px !important;
    height: 30px !important;
    background-color: #00daa5!important;
    border: 2px solid #fff !important;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0 1px 3px 0 rgba(14,30,37,.10) !important;
    transition: all .3s ease-in-out !important;
}
.card-icon {
    width: 60px;
    height: 60px;
    border-radius: 100px !important;
    border: 2px solid #fff !important;
    box-shadow: 0px 1px 4px rgba(14,30,37,.12) !important;
}

.featured-row{
    background-color: #43a3ff;
    margin-left: -40px;
}
.row{
    background-color: transparent !important;
/*    margin-left: -30px !important;*/
}
.jumbotron{
/*    width: 100% !important;*/
    background-color: transparent!important;
    color: #fff;
    height: 300px;
}
.card{
    padding: 60px; 
    box-shadow: 0 1px 2px rgba(36,35,40,.1), 0 10px 20px rgba(36,35,40,.1);
/*    margin-bottom: 20px !important;
    margin-right: 20px !important;*/

}
.market-card{
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12) !important;
    padding-bottom: 0px !important;
}
.market-card:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,.05), 0 10px 20px rgba(0,0,0,.05) !important;
    transform: scale(1.02);
/*    border: 1px solid #42A5FF !important;*/
}
.add-btn{
    background-color: #42A5FF !important;
    border: 1px solid #42A5FF !important;
    color: #fff !important;
/*    margin-bottom: 0px;*/
    width: 100%;
    border-radius: 0px 0px 10px 10px !important;
    padding: 8px;
    font-size: 18px !important;
    font-weight: 800;
    transition: all 0.2s ease;
}
.add-btn:hover{
    background-color: #3d96f0 !important;
    font-size: 18px !important;
}
.market-hero{
    background-color: #fff;
    margin-bottom: 50px;
    border-radius: 10px !important;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.08) !important;
    border: none !important;
    height: 200px !important;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 40px;
/*    padding-bottom: 40px;*/
}
.market-hero:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,.05), 0 10px 20px rgba(0,0,0,.05) !important;
    transform: scale(1.02);
    transition: all ease 0.2s;
}
.hero-container{
    width: 99% !important;
}
.fas .fa-user-circle .invisible{
    width: 100px !important;
    color: aqua !important;
}
.card-link+ .card-link{
    margin-left: 0px !important;
    font-weight: 900 !important;
    color: #42A5FF !important;
    
}
.card-body{
    padding: 0px;
}
.nav-btn{
    background-color: aqua !important;
}
.btn-group-vertical{
/*    width: 100% !important;*/
    margin-top: 30px;
}
.explain-btn{
    background-color: #eef4f6;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: help;
    color: #8da2b5;
}
.active-btn{
    width: 135px;
    background-color: #42A5FF20 !important;
    color: #42A5FF !important;
    border-radius: 5px;
    z-index: 10;
    border: none; 
    padding: 10px; 
    font-size: 18px; 
    text-align: left;
    padding-left: 13px;
    cursor: pointer;
    margin-left: 10px;
/*    margin-right: 15px;*/
    margin-bottom: 10px;
}
.inactive-btn{
    width: 135px;
    background-color: #fff !important;
    color: #8da2b5 !important;
    border-top: 1px solid #fff!important;
    border-right: 1px solid #fff!important;
    border-bottom: 1px solid #fff!important;
/*    border-radius: 0px 10px 10px 0px !important;*/
/*    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12) !important;*/
    text-align: left !important;
    z-index: 10;
    padding: 10px;
    font-size: 18px;
    padding-left: 13px;
    border-left: none;
    cursor: pointer;
    margin-left: 10px;
/*    margin-right: 20px;*/
    margin-bottom: 10px;
    transition: all 0.25s;
}
.inactive-btn:hover{
    color: #2b3950 !important;
    background-color: #f7f7f7 !important;
    border-radius: 5px;
}
.inactive-btn:active{
    border: none !important;
}
.creator-name{
    color: #95A6BD !important;
}
.nonhover-btn{
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: #F5F5F5 !important;
    border-bottom: #F5F5F5 !important;
    border-left: #F5F5F5 !important;
    border-right: #F5F5F5 !important;
    border-top: 1px solid #E3E3E3 !important;
    color: #bbb !important;
    font-weight: 900;
    padding: 10px;
}
.heavy{
    font-weight: 800;
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.creator-txt{
    color: aquamarine !important;
}
.hero-btn{
    width: 100px;
    height: 45px;
    color: #bbb !important;
    background-color: #F5F5F5 !important;
    border: 1px solid #F5F5F5 !important;
    font-weight: 900;
}
.hero-btn:hover{
    background-color: #42A5FF !important;
    color: #fff !important;
    font-weight: 900;
}
.featured-card-txt{
    font-size: 40px;
    font-weight: 900;
    color: #42A5FF;
}
.module-card {
    background-color: #fff;
    

    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media(max-width: 1200px){
	.card-container{
		width: calc(100%/4);
    }
    
    .featured-card{
        width: calc(100%/4);
    }
}
@media(max-width: 798px){
    .card-container{
        width:100%;
    }
    
    .featured-card{
        width: calc(100%/2);
    }
}

