.ci__wrapper {
  border: 1px solid #5f6565;
  border-radius: 5px;
}

.ci__refund_link {
  color: #FF2E58;
  font-size: 16px;
  font-weight: bold;
}

.ci__refund_link:hover {
  cursor: pointer;
}

.ci__view_link {
  color: #00b0e6;
  font-size: 16px;
  font-weight: bold;
}

.ci__view_link:hover {
  cursor: pointer;
  text-decoration: none;
  color: #00b0e6;
}

.ci__link_breaker {
  margin: 4px 0;
}
