.conditional-wrapper {
  border-bottom: 1px solid #eaeff4;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  position: relative;
}

#set-container .conditional-wrapper:first-child {
  padding-top: 10px;
  /* border-top: none; */
}

.expression-menu {
  padding: 0;
  overflow: hidden;
  margin-top: 5px;
  min-width: auto !important;
  color: #8da2b5;
  z-index: 3;
}

/* .expression-block.and > .expression-block.and,
.expression-block.or > .expression-block.or,
.expression-block.plus > .expression-block.plus,
.expression-block.minus > .expression-block.minus,
.expression-block.plus > .expression-block.minus,
.expression-block.minus > .expression-block.plus */ 

.expression-block.same {
  border: none !important;
  padding: 0 !important;
}

.expression-block .expression-block {
  padding: 0px 0px 0px 10px;
  /* margin-top: -10px; */
  /* margin-bottom: -10px; */
  border-top: none;
  border-bottom: none;
  border-right: none;
  /* border-right: 0px;
  border-radius: 0px; */
}

.expression-menu .expression-group {
  display: grid;
  border-bottom: 1px solid #eaeff4;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.expression-menu .expression-group>div {
  cursor: pointer;
  padding: 8px 20px;
}
.expression-menu .expression-group>div:hover{
  background-color: #f8f9fa;
}

.expression-menu .expression-group.group-2 {
  grid-template-columns: 1fr 1fr;
}
.expression-menu .expression-group.group-1 {
  border-bottom: none;
  grid-template-columns: 100%;
}

.expression-menu .expression-group.group-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.type-button-container {
  position: absolute;
  top: 9px;
  right: 8px;
}

.type-button {
  color: #8da2b5;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  background: #fff;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: center;
  z-index: 2;
  cursor: pointer;
}

.type-button:hover {
  background-color: #f7f9fb;
  color: #62778c !important;
  box-shadow: 0 1px 6px rgba(17, 49, 96, 0.24), 0 0 0 rgba(17, 49, 96, 0.04);
}

.dropdown {
  display: flex;
  align-items: center;
}

.expression-block .operator {
  color: #8da2b5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 7px;
  margin: 4px 0px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}

.expression-block .operator > .dropdown {
  flex: 1;
}

.expression-block .operator:hover {
  background-color: #f0f2f5;
}

.expression-block .operator > .type-button {
  transform: translateX(5px);
  transition: transform 0.3s ease;
  visibility: hidden;
}

.expression-block .operator:hover > .type-button {
  visibility: visible;
  transform: translateX(0px);
} 

.variable-box__placeholder {
  color: #8da2b5 !important;
}

.expression-block {
  border: 1px solid;
  border-radius: 6px;
  padding: 10px;
  background-color: #f7f9fb;
  border: 1px solid #c5d3e0ad;
  position: relative;
}

.expression-block.variable, .expression-block.value, .expression-block.advance {
  margin: 0 !important;
  border: none;
  padding: 0;
  background-color: transparent;
}

.expression-block .form-control {
  min-height: 40px;
  padding-right: 36px;
}

.expression-block .variable-box__control {
  padding-right: 30px;
}

/* .expression-block > .expression-block {
  border-right: none !important;
  padding-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} */

.expression-block .form-control {
  height: 40px;
}

.brackets > .variable {
  padding: 2px 4px 4px 4px;
  color: #6a1b9a;
  background-color: linear-gradient(180deg, rgba(93, 157, 245, 0.85) 0%, #2c85ff 100%) !important;
  border-radius: 5px;
}

.brackets > .NaN {
  padding: 2px 4px 4px 4px;
  color: #bf360c;
  background-color: #ffab91;
  border-radius: 5px;
  cursor: pointer;
}

.brackets > .NaN::after {
  content: 'NaN';
}

.brackets > .NaN:hover::after {
  content: 'Not a Number';
}

.expressionfy i {
  font-size: 12px;
}

.brackets > .or {
  color: #03a9f4;
}

.brackets > .and {
  color: #ffa726;
}

.brackets > .not {
  color: #ef5350;
}

.brackets > .unknown {
  color: #496cf6;
  font-weight: bold;
}

.expressionfy {
  margin-bottom: 10px;
  padding: 5px 8px;
  line-height: 28px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 5px;
}
