.choice-select {
  margin-top: 10px;
  font-size: 1rem;
}

.input-select {
  flex: 1 1;
}

.map-box {
  font-size: 12px;
}

.diagram-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.slot-utterance {
  display: flex;
  padding: 7px 0 7px 13px;
  color: #8da2b5 !important;
  border-bottom: 1px solid #e9eef3 !important;
}

#Editor .slot-utterance > textarea {
  min-height: 30px;
  padding: 0;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.slot-utterance > div {
  display: inline-block;
  flex: 1;
  word-break: break-word;
}

.choice-utterance {
  display: flex;
  padding: 3px 0 3px 0;
  color: #8da2b5 !important;
  border-bottom: 1px solid #e9eef3 !important;
}

.choice-utterance:last-child {
  border: none !important;
}

.trash-icon:hover {
  color: #8da2b5;
}

.trash-icon {
  padding: 5px 4px 0 5px;
  color: #ccd5dc;
  cursor: pointer;
}

.interaction-block {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 7px;
  border: 1px solid #fff !important;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(17, 49, 96, 0.06), 0 2px 4px 0 rgba(17, 49, 96, 0.12) !important;
}

.interaction-name-input {
  width: 100%;
  color: #132144;

  /*    font-size: 14px; */
  outline: none;
}

.interaction-title,
.intent-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.interaction-title input,
.intent-title input {
  flex: 1;
  border: none;
}

.interaction-title input:focus {
  outline: none;
}

.interaction-title span {
  height: 20px;
  padding: 2px 6px;
  overflow: hidden;
  color: #8da2b5;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  border: 1px solid #d4d9e6;
  border-radius: 5px;
  cursor: pointer;
}

.intent-title span {
  width: 30px;
  margin-left: -10px;
  padding-top: 3px;
  color: #8da2b5;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

.interaction-name-input::placeholder {
  color: #8da2b5 !important;
  font-weight: 100 !important;
}

.input-error {
  color: red;
  font-size: 12px;
}

.mentions-input,
.mentions-input.blank,
.slot-input {
  display: block;
  flex: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 2px;
  border-radius: 5px;
  resize: none;
}

.mentions-input__highlighter,
.mentions-input__input,
.slot-input {
  padding: 9px 0;
  overflow: visible !important;
}

.mentions-input:focus,
.mentions-input.blank:focus {
  outline: none;
}

.mentions-input::placeholder,
.mentions-input.blank::placeholder {
  color: #8da2b5 !important;
}

.mentions-input__suggestions__list {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-size: 12pt;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(17, 49, 96, 0.06), 0 8px 16px 0 rgba(17, 49, 96, 0.16);
}

.mentions-input__suggestions__item {
  padding: 10px 25px;
}

.mentions-input__suggestions__item--focused {
  color: #2b3950;
  background-color: #f3f7f8;
}

.faded {
  opacity: 0.2;
}

.unavailable-input {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  width: 250px;
  margin-top: -0.7em;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
}

.slot-label i {
  width: 100%;
  margin-right: 0.3em;
  color: #8da2b5;
}

.slot-label .fa-amazon {
  margin-top: 3px;
  font-size: 1.3em;
}

.slot-badge {
  max-width: 150px;
  margin-right: 4px;
  margin-bottom: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  color: #fff;
  font-weight: 400;
  font-size: 0.9em;
  text-overflow: ellipsis;
  vertical-align: middle;
  background-color: #aaa;
}

.slot-synonym {
  display: inline-block;
  max-width: 150px;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 5px 8px;
  overflow: hidden;
  color: #8da2b5 !important;
  font-weight: 400;
  font-size: 0.9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  background-color: #e2e9ec;
  border-radius: 5px;
}

.slot-utterance:last-child {
  border: none !important;
}

.intent-input__warning {
  padding: 0.3rem 1.2rem 0;
  color: #ff2e58;
}
