.trash-icon.ii__trash {
  padding-left: 14px;
  color: #73879c;
}

.ii__enter-helper-text {
  margin-top: 5px;
}

.ii__caret {
  width: 8px;
}

.mentions-input__input {
  border: 1px solid rgb(226, 233, 236) !important;
}

.mentions-input__input:focus {
  border: 1px solid #5d9df5 !important;
}

.u__warning_svg {
  margin-top: -5px;
}
