textarea .mentions-input__input,
.slot-input {
  border: 0;
}

textarea .mentions-input__highlighter,
.mentions-input__input,
.slot-input {
  border: 0;
}

.interaction-block .mentions-input__highlighter {
  padding-left: 13px !important;
  letter-spacing: normal;
  word-spacing: normal;
  border: 1px solid rgb(226, 233, 236);
  border-radius: 5px;
}

.slot-utterance {
  letter-spacing: normal;
  word-spacing: normal;
}

.interaction-utterance {
  display: flex;
  margin-top: 5px;
  color: #8da2b5 !important;
}

.interaction-utterance > div {
  position: relative;
  display: inline-block;
  flex: 1;
  word-break: break-word;
}

.u__warning_message {
  padding-left: 13px;
  color: #ff2e58;
  font-size: 11px;
}

.ii__exclamation-triangle {
  position: absolute;
  top: 13px;
  right: 15px;
  color: #5283e8;
}
