.text-pricing {
  color: #42a5ff;
  font-weight: 700;
  font-size: 50px;
}

.price {
  margin-bottom: 0;
  color: #b0b3d3;
  font-weight: 400;
  font-size: 23px;
}

.billing-info input,
.billing-info select {
  margin-top: 10px;
}

.feature-item {
  margin-top: 10px;
}

.feature-item i {
  margin-right: 10px;
  color: #79ecb1;
}

.payment-form {
  min-height: 480px;
}

.payment-form label {
  margin-bottom: 5px;
}
