#business{
	height: 100%;
	display: flex;
}
#upgrade{
	padding: 40px;
	padding-right: 100px;
	padding-bottom: 60px;
	width: 50%;
	min-width: 680px;
	background-image: url(/upgrade.svg);
    background-position: 104% 142%, 0px 0px;
    background-size: 400px, auto;
    background-repeat: no-repeat, repeat;
}
/*#business > .row {
	height: 100%;
}*/
.business-page {
	height: 100%;
	position: relative;
	overflow: auto;
	flex: 1;
}
#business .business-page-inner {
	width: 100%;
	position: relative;
	height: 100%;
}

#business .business-page-inner>.subheader {
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
	left: 160px;
	right: 0px;
}
#business .business-page-inner>.subheader>div{
	flex: 1;
	height: 41px;
}
.content {
	min-width: 800px;
    padding: 20px 20px 50px 20px;
    border-radius: 10px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.settings-content{
	min-width: 500px;
    padding: 24px 32px;
    border-radius: 10px;
    height: auto;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	background-color: #fff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
	border: 1px solid rgba(141, 162, 181, .28);
	max-width: 40%;
}

#business  .sidebar>.sidebar-option {
	padding: 10px 20px;
	display: block;
	transition: background-color 0.1s linear;
	text-decoration: none;
	cursor: pointer;
	color: #C2C6D5;

}

#business  .sidebar>.sidebar-option:hover {
	background-color: #F5F9FA;
}

#business  .sidebar>.sidebar-option.active {
	cursor: default;
	background-color: #42A5FF !important;
	color: #fff !important;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
    width: 105%;
    z-index: 10;
/*
transform: scale(1.03);
    transition: all .9s ease-in-out;
*/
}

.content .form-group>label{
	margin-bottom: 2px;
}

.document_editor{
	width: 100% !important;
	height: 500px !important;
}

.datasource_editor{
	width: 100% !important;
	height: 420px !important;
}

.datasource_editor{
	width: 100% !important;
	height: 420px !important;
	border-radius: 5px;
}

.template-card{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 10px;
	overflow: hidden;
}

.template-card-action{
	flex: 1;

}
.template-card-action>div{
	padding: 70px;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12) !important;
}

.template-card-delete{
	display: flex;
	cursor: pointer;
	border-left: 1px solid #E2E9EC;
	align-items: center;
	padding: 10px 20px;
}
.template-card-delete:hover{
	color:#fff;
	background-color: #2b3950;
}

.email_preview{
	background-color: #fff;
	height: 100%;
	width: 100%;
	/*border: 1px solid #E2E9EC;*/
	border: none;
}

/*.business-image{
	height: 100%;
	width: 100%;
	background-image: url('/business.svg')
}*/

.nav-bar-top{
	align-items: center;
	justify-content: center;
	display: block;
	text-align: center;
}
.empty-badge{
	border-radius: 5px;
	font-weight: bold;
	font-size: 10px;
	padding: 3px 5px;
	background-color: #ffc107;
	color: #fff;
}

.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #cce6ff !important;
    color: #4a90e2;
}

.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}

.Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

#interval-div {
	width: 30%;
}

.time-interval {
	width: 50%;
	margin-top: 3px;
	margin-left: 8px;
}

#basic-stats-div {
	width: 25%
}

#basic-stats-div td {
	margin: 0px;
	padding: 0px;
	font-weight: 900;
}

#basic-stats-div label {
	margin: 0px 15px 0px 0px;
}

#disclaimer-label {
	margin-left: -20px;
}