.ReactTable {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.ReactTable * {
  box-sizing: border-box;
}

.ReactTable .rt-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: auto 1;
  flex: auto 1;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}

.ReactTable .rt-thead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.ReactTable .rt-thead.-headerGroups {
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-thead.-filters {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-thead.-filters input,
.ReactTable .rt-thead.-filters select {
  padding: 5px 7px;
  font-weight: normal;
  font-size: inherit;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  outline: none;
}

.ReactTable .rt-thead.-filters .rt-th {
  border-right: 1px solid rgba(0, 0, 0, 0.02);
}

.ReactTable .rt-thead.-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ReactTable .rt-thead .rt-tr {
  text-align: center;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  position: relative;
  padding: 5px 5px;
  line-height: normal;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 0 transparent;
  transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 2px 0 0 #42a5ff;
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -2px 0 0 #42a5ff;
}

.ReactTable .rt-thead .rt-th.-cursor-pointer,
.ReactTable .rt-thead .rt-td.-cursor-pointer {
  cursor: pointer;
}

.ReactTable .rt-thead .rt-th:last-child,
.ReactTable .rt-thead .rt-td:last-child {
  border-right: 0;
}

.ReactTable .rt-thead .rt-resizable-header {
  overflow: visible;
}

.ReactTable .rt-thead .rt-resizable-header:last-child {
  overflow: hidden;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ReactTable .rt-thead .rt-header-pivot {
  border-right-color: #f7f7f7;
}

.ReactTable .rt-thead .rt-header-pivot::after,
.ReactTable .rt-thead .rt-header-pivot::before {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: " ";
  pointer-events: none;
}

.ReactTable .rt-thead .rt-header-pivot::after {
  margin-top: -8px;
  border-color: rgba(255, 255, 255, 0);
  border-width: 8px;
  border-left-color: #fff;
}

.ReactTable .rt-thead .rt-header-pivot::before {
  margin-top: -10px;
  border-color: rgba(102, 102, 102, 0);
  border-width: 10px;
  border-left-color: #f7f7f7;
}

.ReactTable .rt-tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 99999 1 auto;
  flex: 99999 1 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  -webkit-box-flex: 99999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-tbody .rt-tr-group:last-child {
  border-bottom: 0;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(0, 0, 0, 0.02);
}

.ReactTable .rt-tbody .rt-td:last-child {
  border-right: 0;
}

.ReactTable .rt-tbody .rt-expandable {
  text-overflow: clip;
  cursor: pointer;
}

.ReactTable .rt-tr-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}

.ReactTable .rt-tr {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-flex: 1;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  padding: 7px 5px;
  overflow: hidden;
  color: #132144;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.3s ease;
  transition-property: width, min-width, padding, opacity;
  -webkit-box-flex: 1;
}

.ReactTable .rt-th {
  color: #8da2b5 !important;
}

.ReactTable .rt-th.-hidden,
.ReactTable .rt-td.-hidden {
  width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  opacity: 0 !important;
}

.ReactTable .rt-expander {
  position: relative;
  display: inline-block;
  margin: 0;
  margin: 0 10px;
  color: transparent;
}

.ReactTable .rt-expander::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 7px solid rgba(0, 0, 0, 0.8);
  border-right: 5.04px solid transparent;
  border-left: 5.04px solid transparent;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  content: '';
}

.ReactTable .rt-expander.-open::after {
  -webkit-transform: translate(-50%, -50%) rotate(0);
  transform: translate(-50%, -50%) rotate(0);
}

.ReactTable .rt-resizer {
  position: absolute;
  top: 0;
  right: -18px;
  bottom: 0;
  z-index: 10;
  display: inline-block;
  width: 36px;
  cursor: col-resize;
}

.ReactTable .rt-tfoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.ReactTable .rt-tfoot .rt-td {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-tfoot .rt-td:last-child {
  border-right: 0;
}

.ReactTable.-striped .rt-tr.-odd {
  background: rgba(0, 0, 0, 0.03);
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background: rgba(0, 0, 0, 0.05);
}

.ReactTable .-pagination {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}

.ReactTable .-pagination input,
.ReactTable .-pagination select {
  padding: 5px 7px;
  font-weight: normal;
  font-size: inherit;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  outline: none;
}

.ReactTable .-pagination .-btn {
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ReactTable .-pagination .-btn[disabled] {
  cursor: default;
  opacity: 0.5;
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}

.ReactTable .-pagination .-previous,
.ReactTable .-pagination .-next {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.ReactTable .-pagination .-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1.5;
  flex: 1.5;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
  text-align: center;
  -webkit-box-flex: 1.5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
}

.ReactTable .-pagination .-pageInfo {
  display: inline-block;
  margin: 3px 10px;
  white-space: nowrap;
}

.ReactTable .-pagination .-pageJump {
  display: inline-block;
}

.ReactTable .-pagination .-pageJump input {
  width: 70px;
  text-align: center;
}

.ReactTable .-pagination .-pageSizeOptions {
  margin: 3px 10px;
}

.ReactTable .rt-noData {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  padding: 20px;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.8);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  pointer-events: none;
}

.ReactTable .-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.ReactTable .-loading > div {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  text-align: center;
  -webkit-transform: translateY(-52%);
  transform: translateY(-52%);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ReactTable .-loading.-active {
  z-index: 2;
  opacity: 1;
  pointer-events: all;
}

.ReactTable .-loading.-active > div {
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.ReactTable .rt-resizing .rt-th,
.ReactTable .rt-resizing .rt-td {
  cursor: col-resize;
  transition: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
