.App {
    width: 100vw;
    height: 100vh;
}

.TitleBar{
    top: 58px;
    width: 100%;
    position: absolute;
    z-index: 8;
    display: flex;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
    border-bottom: 1px solid #DDD;
}
.TitleBar .main-menu-btn{
    width: 90px;
    border-radius: 0;
}

.TitleBar .main-menu-btn-group {
    padding-left: 10px;
    background-color: #333;
}

.TitleBar .dropdown-menu {
    /*transform: translate3d(0px, 50px, 0px) !important;*/
/*    border-radius: 0;
    margin-left: -5px;
    margin-top: 0px;*/
}

.TitleBar input {
    font-size: 24px;
    background-color: transparent;
    border: none;
    flex: 1;
    margin-left: 0px;
    padding: 7px 20px 7px 20px;
    transition: background-color .4s ease;
}

.TitleBar .status {
    width: 400px;
    line-height: 49px;
    color: #AAA;
    padding-left: 10px;
}

.TitleBar input:focus {
    outline: 0;
    background-color: #EFEFEF;
}

.TitleBar input::placeholder {
    color: #CCC;
}

.load-btn {
    outline: none !important;
    display: flex;
    justify-content: space-between;
    padding-right: .5rem;
    align-items: center;
}

.projects-menu {
    /*padding: 0 !important;*/
    /*overflow: hidden;*/
    overflow: scroll;
    max-height: 555.51px;
    margin-top: -10px !important;
}

.App .Menu .navbar .navigation {
    float: left;
    margin: 0;
    line-height: 36px;
    padding: 12px;
}

.App .Menu .navbar .navigation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.App .Menu .navbar .user {
    float: right;
    margin: 0;
    line-height: 36px;
    padding: 12px;
}

.App .Menu .navbar .user a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.App .Menu .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100px;
    height: 100%;
    padding-top: 60px;
    color: #333333;
    /*opacity: 0.9;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App .Menu .sidebar .blocks {
    background-color: #eeeeee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.App .Menu .sidebar .block-title {
    margin-top: 10px;
}

.App .Menu .sidebar button {
    width: 75px;
    height: 25px;
    margin-top: 10px;
}

.App .Menu .sidebar .MenuItem {
    cursor: pointer;
    width: 80px;
    height: 40px;
    line-height: 40px;
    margin: 10px 10px;
    color: white;
    border-radius: 5px;
}

.App .diagram-layer {
    width: 100%;
    height: 100%;
}

.App .srd-diagram {
    width: 100%;
    height: 100%;
    background-color: #f7f8fc;
}

.App .Editor {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    width: 400px;
    height: 100%;
    padding: 112px 25px 65px 25px;
    color: #333333;
    background-color: #fff;
    /*opacity: 0.9;*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    overflow: scroll;
    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
    border-right: 1px solid #AAA;
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    transform: translateX(400px);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}

.App .Editor.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.App .Editor label {
    display: inline-block;
}

.App .Loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 500px;
    height: 500px;
    color: #333333;
    background-color: #dddddd;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.controls label {
    font-weight: bold;
    margin-bottom: 5px;
}
.controls hr {
    margin-bottom: 5px;
    border-top: 2px solid #DDD;
}

/*.controls label>.button {
    font-weight: normal;
    padding: 1px 5px;
    color: #AAA;
    border-radius: 5px;
    font-size: 13px;
    margin: 0 2px;
}

.controls label>.button.active {
    font-weight: normal;
    padding: 1px 5px;
    color: #FFF;
    background-color: #007bff;
}*/

.dropzone, .audio-box {
    width: 100%;
    overflow: visible;
    min-height: 40px;
    transition: all .2s ease-in-out;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
    border: 1px solid #DDD;
    border-radius: 5px;
}

.audio-box>button{
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
}
.audio-box>div{
    margin-bottom: 10px;
}

.dropzone.active, .dropzone:hover {
    transform: scale(1.01);
    opacity: 0.8;
}

.dropzone.active {
    border-color: #28a745!important;
}

.dropzone.reject {
    border-color: #dc3545!important;
    background-color: #FBE9E7;
}

.dropzone .rejected-file {
    display: none;
}

.dropzone.reject .prompt{
    display: none;
}

.dropzone.reject .rejected-file {
    display: block;
}

.dropzone p {
    margin: 0 5px;
    line-height: 30px;
    white-space: nowrap;
}

.subtitle {
    display: block;
    cursor: pointer;
    margin: 0;
    color: #999;
}

.prompt {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: #BBB;
}

.prompt b {
    color: #777;
}

.clear {
    width: 15%;
}

.text-to-voice{
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 10px;
    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
}

.textarea-collapse {
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    border: none;
    padding: 2px 0;
}

textarea:focus {
    outline: none;
}

textarea::placeholder{
    color: #CCC;
}

.select-box{
    flex: 1;
}

.select-box>div{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

label {
    margin: 10px 0;
}

.srd-default-node {
    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
    border: 1px solid #CCC;
    /*border-color: #c5c6c9 #bfc0c4 #b0b1b5 !important;*/
    overflow: hidden;
    color: #777;
    padding: 7px 0 10px 0;
    font-family: inherit;
    /*display: flex;*/
    /*flex-direction: row;*/
}

.srd-default-node__ports {
    background: transparent;
}

.srd-default-port--out > .name {
    margin-right: 5px;
    font-size: 14px;
}

.srd-port {
    background: rgba(0,0,0,0.1);
    width: 20px;
    height: 20px;
}

.srd-default-port--in > .srd-port {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.srd-default-port--out > .srd-port {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.srd-default-node__name {
    padding: 0 30px;
}

.srd-default-node__title {
    background-color: transparent;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.srd-node--selected>* {
    border-color: #80bdff !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25)
}

button.close{
    float: none;
    display: block;
}

.top {
    margin: 10px 0 10px 0;
}

.property{
    display: flex;
    justify-content: space-between;
}

#label-label{
    color: #BBB;
    font-size: 14px;
    margin: 0;
    display: block;
}

#label {
    border: none;
    /*margin-left: 10px;*/
    flex-grow: 1;
    background-color: transparent;
    border-bottom: 3px dashed #AAA;
    font-size: 20px;
    /*line-height: 24px;*/
    color: #555;
    width: 100%;
    transition: border-color .4s ease;
}

#label::placeholder {
    color: #CCC;
}

#label:focus{
    outline: 0;
    box-shadow: 0;
    border-color: #007bff;
}

.block {
    padding: 1px 8px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.block.story {
    border: 1px solid #DDD;
    background-color: #fff;
    color: #616161;
}

.block.listen {
    border: 1px solid #FFF59D;
    background-color: #FFF59D;
    color: #F57F17;
}

.block.choice {
    border: 1px solid #C8E6C9;
    background-color: #C8E6C9;
    color: #1B5E20;
}

.block.retry {
    border: 1px solid #FFCC80;
    background-color: #FFCC80;
    color: #E65100;
}

.block.line {
    border: 1px solid #B3E5FC;
    background-color: #B3E5FC;
    color: #01579B;
}

.block.ending {
    border: 1px solid #FFAB91;
    background-color: #FFAB91;
    color: #BF360C;
}

.block.comment {
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    color: #212121;
}

.choice-block {
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
}

.choice-title {
    display: flex;
    width: 100%;
}

.choice-title span {
    padding: 5px;
    font-weight: bold;
}

.choice-title input{
    flex: 1;
    border: none;
}

.choice-title input:focus{
    outline: none;
}


