.onboarding-survey {
	width: 500px;
    border-radius: 10px !important;
    background-color: #fff !important;
    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12);
    border: none !important;
}