.ctg__wrapper {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.ctg__team-header {
  font-size: 1.2rem;
}

.ctg__header-details {
  display: inline-block;
}

.ctg__team-subheader {
  color: #5f6565;
  font-size: 1rem;
}

.ctg__team-cancel {
  float: right;
  margin-right: 20px;
}

.ctg__expand_caret {
  display: inline-block;
  margin-right: 12px;
  color: #5f6565;
}

.ctg__expand_caret:hover {
  cursor: pointer;
}

.ctg__table {
  width: 100%;
  table-layout: fixed;
}

.ctg__tbl-header {
  background-color: #399bff;
}

.ctg__tbl-content {
  height: 300px;
  margin-top: 0;
  overflow-x: auto;
  border: 1px solid #399bff;
}

tr:first-child {
  width: 20px;
  table-layout: fixed;
}

.ctg__tbl-header th {
  padding: 20px 15px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
}

.ctg__tbl-content td {
  padding: 15px;
  color: #000;
  font-weight: 300;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
  border-bottom: solid 1px #399bff;
}

.ctg__warning {
  width: 90%;
  margin: 0 auto;
}

.ctg__charge_overview {
  width: 90%;
  margin: 15px auto;
  padding: 20px;
  color: #fff;
  background-color: #00b0e6;
  border-radius: 5px;
}

.ctg__charge_header {
  font-size: 24px;
}

.ctg__charge_header_email {
  font-size: 14px;
}

.ctg__charge_user_id {
  margin-top: 5px;
  font-size: 13px;
}

.ctg__receipt_divider {
  height: 1px;
  margin: 10px 0;
  border: 1px solid #fff;
}

.ctg__refund_amount_input {
  width: 90%;
  margin: 15px auto;
  color: #ff2e58;
}

.ctg__refund_input {
  margin-top: 8px;
  color: #ff2e58 !important;
  border: 1px solid #ff2e58 !important;
}


