.mention, .mention:visited {
  color: #575f67;
  cursor: pointer;
  display: inline-block;
  background: #e6f3ff;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  text-decoration: none;
}

.mention:hover, .mention:focus {
  color: #677584;
  background: #edf5fd;
  outline: 0; /* reset for :focus */
}

.mention:active {
  color: #222;
  background: #455261;
}
.mentionSuggestionsEntry {
  padding: 7px 10px 0px 10px;
  color: #95a6bd;
  /*transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);*/
}

/*.mentionSuggestionsEntry:active {
  background-color: #f00;
}
*/
.mentionSuggestionsEntryFocused {
  padding: 7px 10px 0px 10px;
  background-color: #3D96F0;
  color: #fff;
}

.mentionSuggestionsEntryText {
  display: inline-block;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 368px;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

.mentionSuggestionsEntryAvatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.mentionSuggestions {
  margin-top: 0.4em;
  position: absolute;
  min-width: 220px;
  max-width: 440px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px hsla(0,0%,0%,0.1), 0 4px 11px hsla(0,0%,0%,0.1);
  /*background-color: #373F53;*/
  background-color: #fff;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  box-sizing: border-box;
  -webkit-transform: scale(0);
          transform: scale(0);
}
