#page-drop {
  width: 100% !important;
  height: 100% !important;
  overflow: scroll;
  border: none !important;
  border-radius: 0 !important;
}

#page-drop .drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  height: 100%;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease;
}

#page-drop.active .drop-overlay.active {
  background-color: #42a5ffdd;
  visibility: visible;
  opacity: 1;
}

#page-drop.reject .drop-overlay.reject {
  background-color: #ff3562dd;
  visibility: visible;
  opacity: 1;
}

#page-drop.reject .drop-overlay.active {
  display: none !important;
}

#page-drop.active .drop-overlay > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  border: 2px dashed #fff;
}

.display-tabs .btn.btn-secondary {
  height: 30px;
  color: #42a5ff !important;
  line-height: 15px !important;
  text-transform: capitalize;
  background-color: #cce5ff70 !important;
  border: 1px solid #b8daff !important;
}

.display-tabs .btn.btn-outline-secondary {
  height: 30px;
  color: #8da2b5 !important;
  font-weight: lighter !important;
  line-height: 15px;
  text-transform: capitalize;
}

.display-tabs .btn.btn-outline-secondary:hover {
  height: 30px;
  color: #42a5ff !important;
  font-weight: lighter !important;
  line-height: 15px;
}

.display-tabs .btn.btn-outline-secondary:active {
  height: 30px;
  color: #42a5ff !important;
  font-weight: lighter !important;
  line-height: 15px;
  background-color: #f9f9f9;
}

.display-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
}

.display-card-action {
  flex: 1;
}

.display-card-action > div {
  padding: 70px;
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12) !important;
}

.display-card-delete {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-left: 1px solid #e2e9ec;
  cursor: pointer;
}

.display-card-delete:hover {
  color: #fff;
  background-color: #2b3950;
}
