.text-pricing {
    color: #42a5ff;
    font-size: 50px;
    font-weight: 700;
}
.price {
    margin-bottom: 0;
    color: #b0b3d3;
    font-size: 23px;
    font-weight: 400;
}

.billing-info input, .billing-info select {
  margin-top: 10px;
}

.feature-item {
	margin-top: 10px;
}
.feature-item i {
	color: #79ECB1;
	margin-right: 10px;
}

.payment-form {
  min-height: 480px;
}

.payment-form label {
    margin-bottom: 5px;
}