.ctg__date-picker {
  width: 95%;
  margin: 1.5em auto;
  padding: 1.2em;
  color: black;
  background-color: white;
  border-radius: 5px;
}

.DayPicker-Day {
  padding: 0.5em 0.7em;
}

.ctg__trial_details {
  margin: 16px;
}

.DayPicker {
  width: 100%;
}

.ctg__seats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ctg__seats input {
  max-width: 70px;
  margin: 0 8px;
}
