.onboarding-survey {
  width: 100%;
  height: 60%;
  border: none !important;
}

.onboarding-modal-txt {
  color: #8da2b5;
  font-size: 15px;
  width: 400px;
}

.multi-step-total-bar{
  height: 40px;
}

.multi-step-bar{
  width: 40px;
  height: 2px;
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
}

.multi-step-active{
  background-color: #42a5ff!important;
}

.multi-step-inactive{
  background-color: #dce5e8!important;
}

.image-selector{
  height: 70px;
  max-width: 80px;
  margin-bottom: 10px;
}
.image-selector-2{
  height: 100px;
  width: 80px;
  margin-bottom: 10px;
}
.void-button{
  border: 0px;
  background-color: transparent;
}
#design-2{
  width: 65;
  height: 55px;
  margin-bottom: 10px;
}
#design{
  width: 65;
  height: 65px;
  margin-bottom: 10px;
}
.void-button:hover{
  cursor: pointer;
}

.onboarding-profile {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.onboarding-page {
  width: 97%;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px !important;
  background-color: #fff !important;
  box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12);
}

#calendly {
  min-width:320px;
  height:580px;
}

#calendly .calendly-inline-widget iframe {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
}

#submit-calendly {
  position: absolute;
  top: 50px;
  right: 55px;
  z-index: 10;
  background-color: black;
}

.onboarding-survey {
  overflow: auto;
}
/* .input-underline {
  border: none;
  border-bottom: 2px solid #e2e9ec;
  outline: none !important;
  padding: 10px;
  transition: border-color .2s ease;
}
.input-underline:focus {
  border-color: #42A5FF
} */

.company-info-input {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
  border-bottom: 1px solid #e2e9ec;
  outline:none!important;
  width:300px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  transition: border-color .2s ease;
  padding-bottom: 10px;
}

.company-info-input:focus {
  outline:none!important; 
  border-color: #42A5FF;
}

.exit-survey {
  position: absolute;
  top: 50px;
  right: 55px;
}

.calendly-outer {
  width: 800px;
  border-radius: 5px!important;
  border: 1px solid #dce5e8!important;
}

.btn-info-onboarding {
  background-color: transparent !important;
  border: 1px solid #8da2b555 !important;
  font-size: 17px !important;
  color: #8da2b5 !important;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
  width: 380px;
  transition: all 0.2s;
}

.btn-info-onboarding:hover {
  color: #42A5FF !important;
  background-color: #cce5ff70 !important;
  border-color: #b8daff !important;
  /*    transform: scale(1.04);*/
}

.btn-info-onboarding:focus {
  box-shadow: none !important;
  cursor: pointer !important;
}

.btn-info-onboarding-selected {
  background-color: #cce5ff70 !important;
  border-color: #b8daff !important;
  border: 1px solid !important;
  font-size: 17px !important;
  color: #42A5FF !important;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
  width: 380px;
  transition: all 0.2s;
}

.onboarding-progress {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}