.trigger_modal_link {
  color: #FF2E58;
}

.trigger_modal_link:hover {
  cursor: pointer;
}

.am__title {
  padding: 20px;
  border-bottom: 1px solid #FF2E58;
  color: #FF2E58;
}

.am__close {
  margin-top: 6px;
}

.am__close:hover {
  cursor: pointer;
}

.am__body {
  padding: 20px;
}

.am__action_header {
  font-size: 1.2rem;
  color: #cc2446;
  margin-bottom: 2px;
}

.am__action_body {
  margin-bottom: 12px;
}

.am__button_row {
  margin-top: 12px;
  text-align: right;
}

.am__confirm_message {
  width: 250px;
}
