body {
	font-family: 'Lato', sans-serif;
}

.padding {
	padding-top: 58px;
}

.Window {
	width: 100%;
	height: 100%;
	padding-top: 58px;
}

.modal-content{
	/*overflow: hidden;*/
	padding-top: .5rem;
	border: none;
}
.modal-footer{
	background-color: #F3F3F3;
}
.split-page{
    display: flex;
}
/*.modal-content:before {
    content: '';
    width: 100%;
    height: .5rem;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(left, #04B3BA 0%, #0ABEA2 100%);
    background: -webkit-linear-gradient(left, #04B3BA 0%,#0ABEA2 100%);
    background: linear-gradient(to right, #04B3BA 0%,#0ABEA2 100%);
    display: block;
    position: absolute;
}*/