#navbar .nav-link {
  padding-top: 18px;
  padding-bottom: 17px;
  color: #8da2b5;
  cursor: pointer;
}

.nav-item {
  font-size: 15px;
  letter-spacing: 0.2px;
}

#secondary-nav > * {
  height: inherit;
}

#secondary-nav .nav-item {
  display: inline-block;
  padding: 14px 30px 11px;
  color: #8da2b5;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  border-bottom: 2px solid transparent !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.25s ease;
}

#secondary-nav .nav-item:hover,
#app .sidebar-nav .nav-item:hover {
  color: #62778c;
}

#secondary-nav .nav-item:active,
#app .sidebar-nav .nav-item:active {
  border-color: #e2e9ec;
}

#secondary-nav .nav-item.active,
#app .sidebar-nav .nav-item.active {
  color: #5d9df5;
  border-color: #5d9df5 !important;
}

div.nav-item {
  cursor: default;
}

#app .sidebar-nav {
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 15px 0;
  background-color: #fff;
  border-right: 1px solid #e2e9ec;
}

#app .sidebar-nav .nav-item {
  margin: 8px 0;
  padding: 5px 25px;
  color: #8da2b5;
  text-transform: capitalize;
  text-decoration: none;
  border-right: 2px solid transparent;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#navbar {
  z-index: 10;
  min-height: 65px;
  padding: 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #e2e9ec;
  -webkit-transition: background-color 800ms ease;
  -moz-transition: background-color 800ms ease;
  -o-transition: background-color 800ms ease;
  transition: background-color 800ms ease;
}

#navbar .account-dropdown .account {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 1px !important;
  font-size: 24px;
  border: none !important;
  cursor: pointer;
}

.log-icon {
  padding: 0 8px;
}

.navbar-brand {
  height: 100%;
  margin-top: -3px !important;
  margin-right: 20px !important;
  font-size: 0 !important;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  padding: 3px;
  background-color: rgba(66, 165, 255, 0.41);
  border: 1px solid #42a5ff90;
  border-radius: 100%;
  box-shadow: 0 2px 3px 0 rgba(14, 30, 37, 0.06);
}

#navbar .account-dropdown .account i {
  color: #8da2b5;
  transition: all 0.2s ease !important;
}

#navbar .account-dropdown .account:hover i {
  color: #42a5ff !important;
}

.dropdown-menu,
.popover {
  border: none !important;
  box-shadow: 0 0 1px 1px rgba(17, 49, 96, 0.06), 0 2px 4px 0 rgba(17, 49, 96, 0.12);
}

.popover .arrow::before {
  border-bottom-color: #e2e9ec;
}

.popover .popover-header::before {
  border-color: #fff !important;
}

.dropdown-button {
  position: relative;
  display: flex;
  width: 42px;
  height: 42px;
  padding: 11px 10px 10px 10px;
  color: #8da2b5;
  font-size: 18px !important;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50% !important;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.dropdown-button:hover {
  color: #62778c;
  box-shadow: 0 0 0 1px rgba(17, 49, 96, 0.04), 0 2px 6px 0 rgba(17, 49, 96, 0.24) !important;
}

.dropdown.show .dropdown-button {
  color: #5d9df5;
  background: -webkit-gradient(linear, left top, left bottom, from(#5d9df515), to(#5d9df530));
  background: linear-gradient(#5d9df515, #5d9df530);
  border: 1px solid #fff !important;
  border-color: #dce5e8;
  box-shadow: 0 0 0 1px rgba(184, 218, 255, 1) !important;
}

.dropdown-button.show,
.dropdown-button.active {
  color: #5d9df5;
  background: linear-gradient(#5d9df515, #5d9df530);
  border: 1px solid #fff !important;
  border-color: #dce5e8;
  box-shadow: 0 0 0 1px rgba(184, 218, 255, 1) !important;
}

.dropdown-button-border {
  position: relative;
  display: flex;
  width: 44px;
  height: 44px;
  padding: 11px 11px;
  color: #8da2b5;
  font-size: 20px;
  text-align: center;
  background: url(/Notifications.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid #e2e9ec;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s ease;
}

.dropdown-update-container {
  position: relative;
  display: flex;
}

.dropdown-update-bubble {
  position: absolute;
  top: -2px;
  right: -1px;
  z-index: 3;
  box-sizing: content-box;
  width: 9px;
  height: 9px;
  background-color: #242f4b;
  border: 4px solid #fff;
  border-radius: 100%;
}

.dropdown-button-numbered {
  position: relative;
  width: 44px;
  height: 44px;
  color: #8da2b5;
  border: 1px solid #e2e9ec;
  border-radius: 100%;
  cursor: pointer;
}

.dropdown-button-numbered#update-popup {
  background: none;
}

.update-number-circle {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 30px;
  height: 30px;
  padding-top: 3px;
  color: #fff;
  text-align: center;
  background-color: #293450;
  border-radius: 100%;
}

.dropdown-button-border.info {
  background: url(/information.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.dropdown-button-border:hover {
  color: #62778c;
  background-color: #f7f9fb;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #e2e9ec;
}

.dropdown.show .dropdown-button-border {
  background-color: #f7f9fb !important;
}

.dropdown-button-border.active {
  background-color: #f7f9fb !important;
}

.information-icon {
  background: url('/information.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown.show .information-icon {
  background: url('/information-active.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown .dropdown-button .standard,
.dropdown.show .dropdown-button .active {
  display: block;
}

.dropdown .dropdown-button .active,
.dropdown.show .dropdown-button .standard {
  display: none;
}

.dropdown .dropdown-button:hover > .flow-arrow {
  opacity: 1;
}

#navbar .account-dropdown .dropdown-menu {
  right: -5px;
  margin-top: 4px;
}

.dropdown-menu.arrow.arrow-right::before {
  right: 12px !important;
  left: auto !important;
}

.dropdown-menu.arrow.arrow-right::after {
  right: 13px !important;
  left: auto !important;
}

.dropdown-menu.arrow::after,
.dropdown-menu.arrow::before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: ' ';
  pointer-events: none;
}

.platform-dropdown {
  left: -43px !important;
  margin-top: 4px;
}

.platform-dropdown {
  cursor: pointer;
}

.dropdown-menu.arrow::after {
  margin-left: -7px;
  border-color: transparent;
  border-width: 7px;
  border-bottom-color: #fff;
}

.dropdown-menu.arrow::before {
  margin-left: -8px;
  border-color: transparent;
  border-width: 8px;
  border-bottom-color: #e2e9ec;
}

.dropdown-header,
.dropdown-item.disabled,
.dropdown-item:disabled {
  cursor: default !important;
}

.flow-arrow {
  width: 16px;
  opacity: 0.45;
}

.flow-arrow.active {
  opacity: 1;
  filter: invert(58%) sepia(19%) saturate(1464%) hue-rotate(177deg) brightness(99%) contrast(94%);
}

@media (min-width: 845px) {
  #navbar .nav-link {
    padding: 14px 27px 17px;
  }

  #navbar .nav-link {
    border-top: 4px solid transparent;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }

  #navbar .nav-link.active {
    color: #42a5ff !important;
    border-color: #fff !important;
    cursor: default !important;
  }

  #navbar .nav-link:focus,
  #navbar .nav-link:hover {
    color: #2b3950;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #ffffff5e;
  }
}
