.App {
    width: 100vw;
    height: 100vh;
}

.templates {
    font-size: 1rem;
    color: #CCC;
    /*font-weight: normal;*/
    margin-top: 1.5rem;
    /*margin-bottom: -10px;*/
}

.TitleBar{
    top: 58px;
    width: 100%;
    padding: 5px 0 0px 0;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    /*background: rgb(246,249,250);*/
    background: linear-gradient(180deg, #f6f9fa, rgba(246,249,250,0.9));
    -webkit-box-shadow: 0px 5px 56px 16px rgba(246,249,250,1);
    -moz-box-shadow: 0px 5px 56px 16px rgba(246,249,250,1);
    box-shadow: 0px 5px 56px 16px rgba(246,249,250,1);
}
.TitleBar-shadow{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 10px 56px 16px rgba(246,249,250,1);
    -moz-box-shadow: 0px 10px 56px 16px rgba(246,249,250,1);
    box-shadow: 0px 10px 56px 16px rgba(246,249,250,1);
}
.TitleBar .main-menu-btn{
    width: 90px;
    border-radius: 0;
}

.TitleBar .main-menu-btn-group {
    padding-left: 10px;
    background-color: #333;
}

.TitleBar .dropdown-menu {
    /*transform: translate3d(0px, 50px, 0px) !important;*/
/*    border-radius: 0;
    margin-left: -5px;
    margin-top: 0px;*/
}

.Menu .saved{
    margin-top: 2px;
    font-size: 11px;
    margin-bottom: 15px;
    color: #C5D6Ed;
}

.Menu hr{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
    border-color: #F5F5F5;
}

.TitleBar input {
    font-size: 24px;
    background-color: transparent;
    border: none;
    flex: 1;
    margin-left: 0px;
    padding: 7px 20px 7px 20px;
    transition: background-color .4s ease;
}

.TitleBar .save-btn{
    padding: 5px 25px !important;
    border: none !important;
    width: 122px !important
}

.TitleBar .skill-name {
    padding: 7px 20px 7px 10px;
    font-size: 24px;
    font-weight: 300;
    color: #95a6bd;
    display: inline-block;
}

.TitleBar .project {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.TitleBar .publish-btn {
    padding: 5px 7px 5px 20px !important;
    border: none !important;
}
.TitleBar .publish-btn .button-circle{
    background-color: #F5F9FA;
    border-radius: 5px;
    width: 26px;
    line-height: 30px;
    font-size: 16px;
    height: 26px;
    margin-left: 10px;
}

.TitleBar .white-btn.play{
    padding: 0 6px 0 18px !important;
    /*width: 68px !important;*/
    height: 38px !important;
    min-height: 38px !important;
    /*min-width: 68px !important;*/
    display: flex;
    text-align: center;
}
.TitleBar .white-btn.play span.button-circle{
    background-color: #F5F9FA;
    border-radius: 20px;
    width: 28px;
    /*display: inline-block;*/
    line-height: 22px;
    font-size: 10px;
    height: 28px;
    padding: 3px 5px 5px 6px;
    margin-left: 8px;
    display: inline-block;
    margin-top: -1px;
}
.TitleBar .white-btn.play span.words{
    display: inline-block;
    font-size: 0.875rem !important;
}

.TitleBar .title-group {
    position: absolute;
    left: 252px;
    top: 12px;
}

.TitleBar .status {
    width: 400px;
    line-height: 49px;
    color: #AAA;
    padding-right: 28px;
    text-align: right;
}

.TitleBar input:focus {
    outline: 0;
    background-color: #EFEFEF;
}

.TitleBar input::placeholder {
    color: #CCC;
}

.load-btn {
    outline: none !important;
    display: flex;
    justify-content: space-between;
    padding-right: .5rem;
    align-items: center;
}

.projects-menu {
    /*padding: 0 !important;*/
    /*overflow: hidden;*/
    overflow: scroll;
    max-height: 555.51px;
    margin-top: -10px !important;
}

.App .Menu .navbar .navigation {
    float: left;
    margin: 0;
    line-height: 36px;
    padding: 12px;
}

.App .Menu .navbar .navigation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.App .Menu .navbar .user {
    float: right;
    margin: 0;
    line-height: 36px;
    padding: 12px;
}

.App .Menu .navbar .user a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.App .Menu .block-title h5{
    font-weight: normal;
    font-size: 1.6rem;
    color: #545D6D;
    transition: color 0.1s ease;
    /*cursor: pointer;*/
}

/*.App .Menu .block-title h5:hover{*/
    /*color: #95a6bd;*/
    /*text-decoration: underline;*/
    /*border-bottom: 1px solid #545D6D;*/
/*}*/

.App .Menu .block-title p {
    color: #95a6bd;
    font-size: 0.95rem;
}

.App .Menu {
}

.toolbar{
    padding-top: 59px;
    position: fixed;
    z-index: 1000;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(118, 186, 255, 0.17);
    /*border-right: 1px solid #EEE;*/
}

.toolbar>div{
    display: flex;
    flex-direction: column;
}

.tool.border-top-none {
    border-top: none !important; 
}

.toolbar>.spacer{
    flex: 1;
}

.toolbar .tool{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-size: 1.2rem;
    color: #95a6bd;
    cursor: pointer;
    /*transition: all .4s cubic-bezier(0.4, 0.2, 0.2, 1);*/
}

.toolbar .tool:hover{
    background-color: #95a6bd;
    color: #fff;
}

.top-down>.tool{
    border-bottom: 1px solid #EEE;
}

.bottom-up>.tool{
    border-top: 1px solid #EEE;
}

.App .Menu #sidebar {
    position: fixed;
    top: 0;
    left: 40px;
    z-index: 5;
    width: 200px;
    height: 100%;
    padding: 0px 20px 120px 20px;
    overflow: scroll;
    /*opacity: 0.9;*/
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    box-shadow: 0 4px 8px 0 rgba(118, 186, 255, 0.17);
    background-color: #fff;
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}

.App .Menu #sidebar.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.App .Menu #sidebar .section-title{
    text-transform: uppercase;
    font-size: 0.75rem;
    /*font-weight: bold;*/
    color: #95a6bd;
}

.App .Menu #sidebar .blocks {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #DDD;
    border-left: none !important;
}

.App .Menu #sidebar .block-title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.App .Menu #sidebar button {
    width: 75px;
    height: 25px;
    margin-top: 10px;
}

/*.App .Menu #sidebar .menuitem-container {
    display: flex;
    align-items: center;
}

.App .Menu #sidebar .menuitem-container>i {
    width: 10%;
}
*/
.App .Menu #sidebar .MenuItem {
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    margin: 10px 0px;
    transition: background-color .2s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    color: #95a6bd;
    width: 90%;
    background-color: #fff;
}

.App .Menu #sidebar .MenuItem:hover {
    transform: translateZ(0);
/*    transform: scale(1.04);*/
    transform: translateY(-2px);
}

.App .Menu #sidebar .MenuItem .MenuIcon {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    /*background-color: #E0EAFD;*/
    /*color: #2325E2;*/
    color: #fff;
    border-radius: 5px;
    margin-right: 11px;
}

.helpMenu.MenuItem {
    display: flex;
    padding: 5px;
    align-items: center;
}
.helpMenu.MenuItem>.MenuIcon {
    border-radius: 5px;
    margin-right: 10px;
    /*padding: 10px;*/
    width: 60px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    color: #fff;
}
.helpMenu.MenuItem h5{
    width: 100%;
    margin-bottom: 0;
}

.App .Menu #sidebar .MenuItem.choice:hover {
    background-color: #E8F5E9;
} .MenuItem.choice>.MenuIcon {
    background-color: #81C784;
}
.App .Menu #sidebar .MenuItem.speak:hover {
    background-color: #E0F7FA;
} .MenuItem.speak>.MenuIcon {
    background-color: #4DD0E1;
}
.App .Menu #sidebar .MenuItem.audio:hover {
    background-color: #E3F2FD;
} .MenuItem.audio>.MenuIcon {
    background-color: #64B5F6;
}
.App .Menu #sidebar .MenuItem.random:hover {
    background-color: #FFFDE7;
} .MenuItem.random>.MenuIcon {
    background-color: #FFD54F;
}
.App .Menu #sidebar .MenuItem.set:hover {
    background-color: #F3E5F5;
} .MenuItem.set>.MenuIcon {
    background-color: #9575CD;
}
.App .Menu #sidebar .MenuItem.variable:hover {
    background-color: #F3E5F5;
} .MenuItem.variable>.MenuIcon {
    background-color: #9575CD;
}
.App .Menu #sidebar .MenuItem.if:hover {
    background-color: #E0F2F1;
} .MenuItem.if>.MenuIcon {
    background-color: #80CBC4;
}
.App .Menu #sidebar .MenuItem.capture:hover {
    background-color: #FBE9E7;
} .MenuItem.capture>.MenuIcon {
    background-color: #FF8A65;
}
.App .Menu #sidebar .MenuItem.command:hover {
    background-color: #FFEBEE;
} .MenuItem.command>.MenuIcon {
    background-color: #EF5350;
}
.App .Menu #sidebar .MenuItem.flow:hover {
    background-color: #FAFAFA;
} .MenuItem.flow>.MenuIcon {
    background-color: #BDBDBD;
}
/*.App .Menu #sidebar .MenuItem:hover>.MenuIcon{
}*/

.App #diagram {
    width: 100%;
    height: 100%;
    padding-left: 180px;
}
.App #diagram.no-padding {
    padding-left: 0 !important;
}

.App .srd-diagram {
    width: 100%;
    height: 100%;
    background-color: #F5F9FA;
/*    background-image: url('/images/dot.svg');
    background-repeat: repeat;*/
}

.App.review .blocks {
    border-color: #FFAB91 !important;
    border-width: 3px !important;
}

.App.review #diagram {
    /*border: 10px solid #D84315;*/
}
.App.review .TitleBar{
    /*border-bottom: 10px solid #D84315 !important;*/
}

#review {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 7;
    border: 3px solid #FFAB91;
    /*border-top-right-radius: 5px;*/
    border-top-right-radius: 5px;
    padding: 15px;
    padding-left: 20px;
    background-color: #FBE9E7;
    color: #DD2C00;
    /*max-width: 180px; */
    border-left: none;
    border-bottom: none;
    word-break: break-all;
}

.App #Editor {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    width: 400px;
    height: 100%;
    padding: 72px 25px 65px 25px;
    background-color: #fff;
    /*opacity: 0.9;*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(118, 186, 255, 0.17);
    border-right: 1px solid #AAA;
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    transform: translateX(400px);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}

.App #Editor.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.App #Editor label {
    display: inline-block;
    font-weight: 400;
    color: #95a6bd;
    margin-bottom: 5px !important;
}

.App .Loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 500px;
    height: 500px;
    color: #333333;
    background-color: #dddddd;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.controls hr {
    margin-bottom: px;
    border-top: 1px solid #E2E9EC;
}

/*.controls label>.button {
    font-weight: normal;
    padding: 1px 5px;
    color: #AAA;
    border-radius: 5px;
    font-size: 13px;
    margin: 0 2px;
}

.controls label>.button.active {
    font-weight: normal;
    padding: 1px 5px;
    color: #FFF;
    background-color: #007bff;
}*/

.subtitle {
    display: block;
    cursor: pointer;
    margin: 0;
    color: #95a6bd;
}

.clear {
    width: 15%;
}

.text-to-voice{
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 10px;
/*    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);*/
}

.textarea-collapse {
    margin-bottom: 5px;
}

#Editor textarea, textarea.blank {
    width: 100%;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    border: none;
    padding: 2px 0;
}

#Editor textarea:focus, textarea.blank:focus {
    outline: none;
}

#Editor textarea::placeholder, textarea.blank::placeholder{
    color: #CCC;
}

.select-box{
    flex: 1;
}

.select-box>div{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

label {
    margin: 10px 0;
}

.srd-default-node {
/*    -webkit-box-shadow: 0px 4px 20px 0px rgba(205,212,235,0.5);
    -moz-box-shadow: 0px 4px 20px 0px rgba(205,212,235,0.5);
    box-shadow: 0px 4px 20px 0px rgba(205,212,235,0.5);*/
    -webkit-box-shadow: 0 3px 16px rgba(205,212,235,.5);
    -moz-box-shadow: 0 3px 16px rgba(205,212,235,.5);
    box-shadow: 0 3px 16px rgba(205,212,235,.5);
    border: 1px solid;
    /*border-color: #c5c6c9 #bfc0c4 #b0b1b5 !important;*/
    overflow: hidden;
    padding: 7px 0 10px 0;
    font-family: inherit;
    color: #545D6D;
    /*border-bottom: 5px solid;*/
    border-color: #E2E9EC;
    min-width: 90px;
    /*display: flex;*/
    /*flex-direction: row;*/
}

.srd-default-node.flow {
    background-color: #DDD;
}

.srd-default-node.choice, .srd-default-node.choicenew{
    /*border-color: #A5D6A7;*/
    background-color: #E8F5E9;
}

.srd-default-node.line, .srd-default-node.audio, .srd-default-node.multiline{
    background-color: #E1F5FE;
}
.srd-default-node.story, .srd-default-node.ending{
    background-color: #fff;
    border: 3px solid #E2E9EC;
    /*color: #fff !important;*/
}

.srd-default-node.random {
    background-color: #FFFDE7;
}

.srd-default-node.capture {
    background-color: #FFE0B2;
}

.srd-default-node.command {
    background-color: #FFCDD2;
}

.srd-default-node.set, .srd-default-node.variable {
    background-color: #F3E5F5;
}

.srd-default-node.speak {
    background-color: #B2EBF2;
}

.srd-default-node.if {
    background-color: #B2DFDB;
}

.srd-default-node.retry {
    background-color: #FFE0B2;
}

.srd-default-node.listen {
    background-color: #FFF59D;
}

.srd-default-node.comment {
    background-color: #F5F5F5;
}

.srd-default-node .block-reads {
    position: absolute;
    top: -22px;
    font-size: 14px;
}

.srd-default-node .block-reads::after {
    content: " Reads";
}

.srd-default-node__ports {
    background: transparent;
}

.srd-default-port--out > .name {
    margin-right: 5px;
    font-size: 14px;
}

.srd-port {
    background: rgba(0,0,0,0.1);
    width: 20px;
    height: 20px;
}

.srd-default-port--in > .srd-port {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.srd-default-port--out > .srd-port {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.srd-default-node__name {
    padding: 0 30px;
}

.srd-default-node__title {
    background-color: transparent;
    /*font-weight: bold;*/
    text-align: center;
    padding-bottom: 5px;
    font-size: 16px;
}

.srd-port:hover, .srd-port.selected {
    background: rgba(0,0,0,0.3) !important;
}

.srd-node--selected>* {
    border-color: #80bdff !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25)
}

button.close{
    float: none;
    display: block;
}

.top {
    margin: 10px 0 10px 0;
}

.property{
    display: flex;
    justify-content: space-between;
}

#label-label{
    color: #BBB;
    font-size: 14px;
    margin: 0;
    display: block;
}

#label {
    border: none;
    /*margin-left: 10px;*/
    flex-grow: 1;
    background-color: transparent;
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
    font-size: 20px;
    /*line-height: 24px;*/
    color: #555;
    width: 100%;
    transition: border-color .4s ease;
}

#label::placeholder {
    color: #CCC;
}

#label:focus{
    outline: 0;
    box-shadow: 0;
    border-color: #007bff;
}

.block {
    padding: 1px 8px;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
}

.block.flow {
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #555;
}

.block.if {
    border: 1px solid #B2DFDB;
    background-color: #B2DFDB;
    color: #00796B;
}

.block.capture {
    border: 1px solid #FFE0B2;
    background-color: #FFE0B2;
    color: #F57C00;
}

.block.command {
    border: 1px solid #FFCDD2;
    background-color: #FFCDD2;
    color: #B71C1C;
}

.block.story {
    border: 1px solid #DDD;
    background-color: #fff;
    color: #616161;
}

.block.speak {
    border: 1px solid #80DEEA;
    background-color: #80DEEA;
    color: #006064;
}

.block.listen {
    border: 1px solid #FFF59D;
    background-color: #FFF59D;
    color: #F57F17;
}

.block.choice {
    border: 1px solid #C8E6C9;
    background-color: #C8E6C9;
    color: #1B5E20;
}

.block.retry {
    border: 1px solid #FFCC80;
    background-color: #FFCC80;
    color: #E65100;
}

.block.audio {
    border: 1px solid #B3E5FC;
    background-color: #B3E5FC;
    color: #01579B;
}

.block.ending {
    border: 1px solid #FFAB91;
    background-color: #FFAB91;
    color: #BF360C;
}

.block.comment {
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    color: #212121;
}

.block.set {
    border: 1px solid #E1BEE7;
    background-color: #E1BEE7;
    color: #6A1B9A;
}

.block.random {
    border: 1px solid #FFF9C4;
    background-color: #FFF9C4;
    color: #F9A825;
}

.block.variable {
    border: 1px solid #D1C4E9;
    background-color: #D1C4E9;
    color: #512DA8;
}

.choice-block {
    width: 100%;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 10px;
/*    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);*/
}

.choice-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.choice-title span {
    /*padding: 5px 10px 0px 10px;*/
    padding-top: 3px;
    height: 22px;
    /*width: 22px;*/
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    line-height: 18px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #F1F3F9;
    color: #94A6BD;
    /*font-weight: bold;*/
    font-size: 16px;
    margin-right: 5px;
    margin-left: -7px;
}

.choice-title input{
    flex: 1;
    border: none;
    color: #95a6bd;
}

.choice-title input:focus{
    outline: none;
}

.multi-title-block{
    display: flex;
}
.multi-title-block>div>span{
    margin-right: 5px;
}
.multi-title-block>div>span>i{
    width: 10px;
}
.multi-title {
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0;
    flex: 1;
    margin-right: 15px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.multiline hr{
    margin: 0px;
}

.variables {
/*    max-height: 117px;
    overflow: scroll;*/
}

.variable-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.variable-group>span{
    font-weight: bold;
    margin: 0 10px;
}

.variable-box {
    flex: 1;
    z-index: 4;
}
.variable-block {
    background-color: #E1BEE7;
    color: #6A1B9A;
    padding: 1px 0px 4px 0px;
    border-radius: 3px;
}
.variable-box__control {
    background-color: #E1BEE7 !important;
}
.variable-box__control--is-focused {
    border-color: #6A1B9A !important;
    box-shadow: 0 0 0 1px #6A1B9A !important;
}

.variable-box__placeholder, 
.variable-box__dropdown-indicator, 
.variable-box__single-value,
.variable-box__value-container--has-value>div {
    color: #6A1B9A !important;
}

.variable-box__indicator-separator {
    background-color: #6A1B9A !important;
}

.variable_tag>span:hover {
    color: #D50000!important;
}

.variable_tag>span {
    margin-left: 1px;
    padding: 4px;
    font-size: .8rem;
    color: #B71C1C!important;
    cursor: pointer;
}

.variable_tag {
    vertical-align: middle;
    background-color: #E1BEE7;
    color: #6A1B9A;
    padding: 5px 5px 5px 10px;
    border-radius: .25rem;
    display: inline-block;
    margin: 3px 0 2px;
    cursor: default;
    margin-right: 5px;
}

.new_var {
    background-color: #6A1B9A;
    color: #E1BEE7;
    border-color: #6A1B9A
}

.down-arrow {
    color: #E1BEE7;
    margin: 10px 0 0 0;
}

.plain-dropdown {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 0px;
}
.plain-dropdown:hover, .show>.plain-dropdown{
    background-color: transparent !important;
    color: #777 !important;
    border:none;
    outline: none;
    box-shadow: none !important;
}
.plain-dropdown:focus, .plain-dropdown:active {
    box-shadow: none !important;
}
.plain-dropdown-menu {
    margin-top: -8px;
    margin-left: -1px;
}
.plain-dropdown i {
    margin-right: 5px;
}
/*figure {
    margin: 0 !important;
    display: inline-block;
}
.public-DraftEditor-content div{
    display: inline-block;
}*/

#Editor .variable_map{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    /*margin-bottom: 10px;*/
}

#Editor .variable_map>i{
    margin: 0px 5px;
}

#Editor .variable_map.reverse{
    flex-direction: row-reverse;
}

#Editor .variable_map>.map-box{
    flex: 1;
}

@media(max-width: 1400px){
    .TitleBar .title-group{
        top: 60px !important;
    }
    .TitleBar{
        display: block;
        padding-left: 250px;
    }
}
