#lightcanvas {
  width: 100%;
  height: 700px;
}

#lightcanvas #diagram {
  padding: 0;
}

.grey-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #132043;
  line-height: 30px;
  text-align: center;
  background-color: #f0f3f7;
  border-radius: 6px;
}

.uppercase {
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.light-canvas-modal .modal-content {
  background: #f7f9fb;
}

#lightcanvas #widget-bar {
  bottom: 25px;
  left: 50%;
  margin-left: -50px;
}

#lightcanvas #loading-diagram {
  position: absolute;
}

#light-canvas-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

#template-box-container {
  position: fixed;
  z-index: 1050;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow-y: scroll;
  background-color: #f7f9fb;
}

#template-box-container > .card {
  width: 100%;
  min-height: 100%;
  padding: 40px;
  overflow: hidden;
}

#name-box {
  width: 650px;
  margin: 0 auto;
}

#skill-name {
  width: 70%;
  font-size: 18px;
  text-align: center;
}

#exit-template {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 30px;
}

.country-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
  padding: 10px 10px 10px 45px;
  font-size: 15px;
  background: none;
  background-image: url('/images/icons/empty.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
}

.country-checkbox:hover {
  background-image: url('/images/icons/hover.svg');
}

.country-checkbox.active {
  background-image: url('/images/icons/check.svg');
}

.template-card-content {
  position: relative;
  width: 100%;
  height: 220px;
  background: #fff;
  background-position: center center;
  background-size: cover;
}

.template-card .overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #42a5ffbb;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
}

.project-card .overlay .overlay-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateY(-40px);
  transition: transform 0.3s ease;
  widows: 100%;
}

.template-card-content:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.template-card-content:hover .overlay .overlay-content {
  transform: translateY(0);
}

.project-card > .card {
  display: block;
  overflow: hidden;
}

.template-card-body {
  padding: 12px;
  color: #8ea2b5;
  font-size: 13px;
  text-align: center;
  border-top: 1px solid #eaeff4;
  cursor: pointer;
}


.platform-image {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  width: 14em;
  transform: translate(-50%, 0);
}

.platform-label {
  position: absolute;
  top: 1rem;
  left: 50%;

  /* font-size: 0.8em; */
  color: #8da2b5;
  transform: translate(-50%, 0);
}

.platform-checkbox {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  margin: 0.5em;
  color: #eaeff4 !important;
  background: none;
  background-image: url('/images/icons/empty.svg');
  background-repeat: no-repeat;
}

.platform-checkbox:hover {
  background-image: url('/images/icons/hover.svg');
}

.platform-checkbox.active {
  background-image: url('/images/icons/check.svg');
}

.platform-image.alexa {
  bottom: -6rem;
}

#exit-template {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 20px;
  background-image: url('/close.svg');
  background-size: 16px;
}

#exit-template:hover {
  background-image: url('/close-dark.svg');
}

.image-container {
  height: 20rem;
}
