
/* Radio Buttons */
.groupform-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.groupform-inline__col {
  display: inline-flex;
  align-items: center;
  height: 70px;
  margin-right: 50px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-checkbox {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  min-width: 0;
  margin-bottom: 0;
  text-align: left;
  cursor: pointer;
}

.form-checkbox__fake {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  color: #fff;
  text-align: center;
  background-color: #fff;
  border: 1px solid #8da2b5;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 0 rgba(17, 49, 96, 0.05);
  box-shadow: 0 1px 0 0 rgba(17, 49, 96, 0.05);
}

.form-checkbox__fake::before {
  position: absolute;
  content: '';
}

.form-checkbox.__is-disabled .form-checkbox__input + .form-checkbox__fake {
  opacity: 0.5;
}

.form-checkbox__fake.checked {
  color: white;
  background-image: url('/checkmark.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-color: #2c85ff;
}

.form-checkbox__btn {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 0;
  margin: -4px;
  margin-right: 15px;
  padding: 4px;
  -webkit-box-flex: 0;
}

.form-checkbox__input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
