#expiry-button {
  position: absolute;
  top: 15px;
  left: 50%;
  z-index: 1031;
  display: flex;
  margin-left: -58px;
  cursor: pointer;
  transition: color 0.12s;
  user-select: none;
}

.nav-child-item {
  padding-left: 22px;
}

#secondary-nav .super-center > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.board-tabs {
  padding-right: 24px;
}

.add-collaborators {
  color: #cdad32;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.15s ease;
}

.add-collaborators:hover {
  color: #b99b28;
}

/* stylelint-disable */
.add-collaborators > * {
  padding-right: 10px;
}

/* stylelint-enable */

.btn-square {
  padding: 10px;
  height: 36px;
  width: 36px;
  transition: all 0.12s linear;
  border-radius: 5px;
  color: #8da2b5;
}
.btn-square:hover {
  background-image: linear-gradient(-180deg, rgba(238, 244, 246, 0.85) 0%, #eef4f6 100%);
  box-shadow: inset 0 0 0 1px #dfe3ed;
  color: #62778c;
}
.btn-square:active {
  background-image: linear-gradient(-180deg, rgba(238, 244, 246, 0.95) 0%, #eef4f6 100%);
  box-shadow: inset 0 0 0 1px #dfe3ed;
  color: #132144;
}

#expiry-button:hover {
  color: #279745;
}

#expiry-button button {
  display: inline-block;
  width: 42px;
  max-width: 100%;
  height: 42px;
  color: #279745;
  color: rgba(110, 132, 154, 0.8);
  color: #279745;
  line-height: 38px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none !important;
  background: linear-gradient(-180deg, rgba(39, 151, 69, 0.08), rgba(39, 151, 69, 0.12) 98%);
  background-size: cover;
  border: 1px solid transparent;
  border-color: #27974520;
  border-radius: 42px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: inset 0 0 0 3px #fff;
  background-position: center;
  transition: background 0.12s linear, color 0.12s linear, border 0.12s linear, box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

#expiry-button:hover button {
  border-color: rgba(39, 151, 69, 0.48);
  -webkit-box-shadow: inset 0 0 0 3px #fff;
  box-shadow: inset 0 0 0 3px #fff;
}

.hover:hover .member-icon {
  box-shadow: 0 0 0 1px #fff, 0 1px 3px 1px rgba(17, 49, 96, 0.3);
}

.member-icon.solid {
  background-color: #fff;
  border: 1px solid #dce5e8;
  box-shadow: none;
}

.member-icon.lg {
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
}

.member-row {
  display: flex;
  align-items: center;
  height: 90px;
  margin-right: -32px;
  margin-left: -32px;
  padding-right: 22px;
  padding-left: 32px;
  border-bottom: 1px solid #eaeff4;
}

.add-skill {
  /*  background-color: #8EC5FC !important;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%) !important; */
  color: #fff !important;
  background-image: linear-gradient(89.8deg, rgba(39, 115, 255, 1) 4.3%, rgba(62, 211, 232, 1) 101.4%) !important;
}

.add-skill h2 {
  font-weight: lighter;
}

.board-container-body {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  background: #f9f9f9;
}

.board-container-body-inner {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  padding: 0;
}

.main-lists {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-box-flex: 1;
}

.main-lists-inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 0;
  -webkit-box-flex: 0;
}

.main-list-add {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  align-self: flex-start;
  min-width: 0;
  margin: 15px 27px;
  -ms-flex-item-align: start;
}

.main-lists-inner {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  min-width: 0;
}

.main-list {
  -ms-flex-direction: column;
  flex-direction: column;
  width: 384px;
  min-height: 118px;
  max-height: 100%;
  overflow: hidden;
  background-color: #fff;
  border-right: 1px solid #dfe3ed;
  cursor: grab;
}

.main-list,
.main-lists-inner {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 0;
}

.main-list-header {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 0 0 auto;
  min-width: 0;
  padding: 16px 22px 10px 32px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-list-header__main {
  flex: 1 1 auto;
  min-width: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-list-header__title {
  width: 100%;
  overflow: hidden;
  color: #132144;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-list-header__aside {
  flex: 0 0 auto;
  min-width: 0;
  margin-left: 18px;
}

.main-list-header.__scrolling {
  box-shadow: 0 0 1px 1px rgba(17, 49, 96, 0.08), 0 1px 3px 0 rgba(17, 49, 96, 0.08);
}

.main-list-body {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  min-width: 0;
  max-height: 72vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-flex: 0;
  -webkit-overflow-scrolling: touch;
}

.main-list-body:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-list-body:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main-list-body:last-child .main-list-body-inner {
  padding-bottom: 24px;
}

.main-list-body-inner {
  width: 384px;
  padding: 2px 32px;
}

.main-list-header + .main-list-footer {
  padding-top: 18px;
}

.main-list-footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  min-width: 0;
  min-height: 0;
  padding: 16px 32px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
  -webkit-box-flex: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.main-list-footer.__scrolling {
  -webkit-box-shadow: 0 -1px 0 0 #eaeff4;
  box-shadow: 0 -1px 0 0 #eaeff4;
}

.main-list-footer-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
}

.main-list-footer-center {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  text-align: center;
}

.main-list-footer-right {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 0;
}

.projects-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.projects-list__list-item {
  margin-bottom: 12px;
  background-color: #fff;
  border-radius: 8px;
}

.main-list-body.still .projects-list__item:active {
  margin-bottom: 12px;
  background: linear-gradient(-180deg, rgba(238, 244, 246, 0.3), rgba(238, 244, 246, 0.45));
  border: 1px solid #eaeff4 !important;
  border-radius: 8px;
  box-shadow: none !important;
}

.projects-list__item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  padding: 15px 23px;
  background-color: #fff;
  border: 1px solid #eaeff4;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.12s linear, box-shadow 0.12s linear, border-color 0.12s linear;
}

.btn-icon .sl-icon {
  opacity: 0.8;
  transition: opacity 0.12s linear;
}

.sl-icon-play-system,
.sl-icon-plus {
  background-image: linear-gradient(-180deg, rgba(110, 132, 154, 0.85), #6e849a);
}

.sl-icon {
  display: inline-block;
  margin: -1px;
  padding: 1px;
  color: transparent;
  font-weight: 400;
  font-size: 16px;
  font-family: storyline-icons !important;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  vertical-align: top;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

.sl-icon-more,
.sl-icon-music,
.sl-icon-news,
.sl-icon-notifications {
  background-image: linear-gradient(-180deg, rgba(110, 132, 154, 0.85), #6e849a);
}

.projects-list__item-image {
  position: absolute;
  top: 0;
  left: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 42px;
  min-width: 0;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 11px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
}

.projects-list__item-actions {
  display: none;
}

.main-list-body.still .projects-list__item:hover {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: 0 0 1px 1px rgba(17, 49, 96, 0.06), 0 2px 4px 0 rgba(17, 49, 96, 0.12);
  box-shadow: 0 0 1px 1px rgba(17, 49, 96, 0.06), 0 2px 4px 0 rgba(17, 49, 96, 0.12);
}

.main-list-body.still .projects-list__item:hover .projects-list__item-image,
.main-list-body.still .projects-list__item.__is-hovered .projects-list__item-image {
  display: none;
}

.projects-list__item:hover .projects-list__item-action {
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(17, 49, 96, 0.04), 0 2px 4px 0 rgba(17, 49, 96, 0.16);
}

.main-list-body.still .projects-list__item:hover .projects-list__item-actions,
.main-list-body.still .projects-list__item.__is-hovered .projects-list__item-actions {
  display: block;
}

.projects-list__item-details {
  display: flex;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  flex-direction: column;
  align-content: flex-end;
  max-width: 170px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.status-indicator {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, 0 1px 2px 2px rgba(17, 49, 96, 0.16);
}

.status-indicator-success {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(67, 160, 71, 0.85)), to(#43a047));
  background-image: -webkit-linear-gradient(top, rgba(67, 160, 71, 0.85) 0%, #43a047 98%);
  background-image: -o-linear-gradient(top, rgba(67, 160, 71, 0.85) 0%, #43a047 98%);
  background-image: linear-gradient(-180deg, rgba(67, 160, 71, 0.85) 0%, #43a047 98%);
}

.status-indicator-danger {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 30, 99, 0.85)), to(#e91e63));
  background-image: -webkit-linear-gradient(top, rgba(233, 30, 99, 0.85) 0%, #e91e63 100%);
  background-image: -o-linear-gradient(top, rgba(233, 30, 99, 0.85) 0%, #e91e63 100%);
  background-image: linear-gradient(-180deg, rgba(233, 30, 99, 0.85) 0%, #e91e63 100%);
}

.status-indicator-alert {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 193, 69, 0.85)), to(#e6c145));
  background-image: -webkit-linear-gradient(top, rgba(230, 193, 69, 0.85) 0%, #e6c145 100%);
  background-image: -o-linear-gradient(top, rgba(230, 193, 69, 0.85) 0%, #e6c145 100%);
  background-image: linear-gradient(-180deg, rgba(230, 193, 69, 0.85) 0%, #e6c145 100%);
}

.status-indicator-info {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 159, 228, 0.85)), color-stop(98%, #059fe4));
  background-image: -webkit-linear-gradient(top, rgba(5, 159, 228, 0.85) 0%, #059fe4 98%);
  background-image: -o-linear-gradient(top, rgba(5, 159, 228, 0.85) 0%, #059fe4 98%);
  background-image: linear-gradient(-180deg, rgba(5, 159, 228, 0.85) 0%, #059fe4 98%);
}

.projects-list__item-status {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  align-self: center;
  min-width: 0;
  margin-left: 16px;
  line-height: 1;
  -ms-flex-item-align: center;
}

.projects-list__item-status .status-indicator {
  display: block;
}

.status-indicator::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 1px;
  background-clip: content-box;
  border-radius: 50%;
  content: '';
}

.status-indicator-info {
  background-image: linear-gradient(-180deg, rgba(5, 159, 228, 0.85), #059fe4 98%);
}

.projects-list__item-caption {
  color: #8da2b5;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5384615385;
}

.card-dropdown .dropdown-item {
  cursor: pointer;
}

.hr-label {
  display: inline-block;
  margin-left: 25px;
  color: #94a6bd;
  font-size: 16px;
}

.success-page {
  max-width: 700px;
}

.success-text {
  padding-top: 100px;
}

.banner {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(75, 83, 251);
  background-image: url(/screen.png), url(/plane.svg);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: 102% 125%, 0 80%, 0 0;
  background-size: 130px, 150px, auto;
  border-top: 2px none rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.21) 0 1px 24px 0;
}

.close-absolute {
  position: absolute;
  right: 30px;
  font-size: 2.5rem;
}

.close-absolute-left {
  position: absolute;
  left: 30px;
  font-size: 2.5rem;
}

.rotate.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  /*  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; */
}

.rotate .col {
  flex: initial;
  width: calc(33.333333%);
  padding: 0;
  padding: 10px 10px;

  /* flex: 1; */

  /* margin: 1rem; */
  cursor: pointer;
}

.rotate.cols {
  margin: 0 -10px 0 -10px;
}

.rotate .container {
  padding: 0 !important;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.rotate .front,
.rotate .back {
  height: auto;
  min-height: 200px;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.rotate .back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);

  /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
}

.cap-red {
  color: #f86683;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 102, 131, 0.08)), color-stop(97%, rgba(248, 102, 131, 0.12)));
  background-image: -webkit-linear-gradient(top, rgba(248, 102, 131, 0.08) 0%, rgba(248, 102, 131, 0.12) 97%);
  background-image: -o-linear-gradient(top, rgba(248, 102, 131, 0.08) 0%, rgba(248, 102, 131, 0.12) 97%);
  background-image: linear-gradient(-180deg, rgba(248, 102, 131, 0.08) 0%, rgba(248, 102, 131, 0.12) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-red-dark {
  color: #f86683;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 102, 131, 0.24)), color-stop(97%, rgba(248, 102, 131, 0.32)));
  background-image: -webkit-linear-gradient(top, rgba(248, 102, 131, 0.24) 0%, rgba(248, 102, 131, 0.32) 97%);
  background-image: -o-linear-gradient(top, rgba(248, 102, 131, 0.24) 0%, rgba(248, 102, 131, 0.32) 97%);
  background-image: linear-gradient(-180deg, rgba(248, 102, 131, 0.24) 0%, rgba(248, 102, 131, 0.32) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-blue {
  color: #5891fb;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(88, 145, 251, 0.08)), color-stop(97%, rgba(88, 145, 251, 0.12)));
  background-image: -webkit-linear-gradient(top, rgba(88, 145, 251, 0.08) 0%, rgba(88, 145, 251, 0.12) 97%);
  background-image: -o-linear-gradient(top, rgba(88, 145, 251, 0.08) 0%, rgba(88, 145, 251, 0.12) 97%);
  background-image: linear-gradient(-180deg, rgba(88, 145, 251, 0.08) 0%, rgba(88, 145, 251, 0.12) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-blue-dark {
  color: #5891fb;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(88, 145, 251, 0.24)), color-stop(97%, rgba(88, 145, 251, 0.32)));
  background-image: -webkit-linear-gradient(top, rgba(88, 145, 251, 0.24) 0%, rgba(88, 145, 251, 0.32) 97%);
  background-image: -o-linear-gradient(top, rgba(88, 145, 251, 0.24) 0%, rgba(88, 145, 251, 0.32) 97%);
  background-image: linear-gradient(-180deg, rgba(88, 145, 251, 0.24) 0%, rgba(88, 145, 251, 0.32) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-orange {
  color: #e29c42;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(226, 156, 66, 0.08)), color-stop(97%, rgba(226, 156, 66, 0.12)));
  background-image: -webkit-linear-gradient(top, rgba(226, 156, 66, 0.08) 0%, rgba(226, 156, 66, 0.12) 97%);
  background-image: -o-linear-gradient(top, rgba(226, 156, 66, 0.08) 0%, rgba(226, 156, 66, 0.12) 97%);
  background-image: linear-gradient(-180deg, rgba(226, 156, 66, 0.08) 0%, rgba(226, 156, 66, 0.12) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-orange-dark {
  color: #e29c42;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(226, 156, 66, 0.24)), color-stop(97%, rgba(226, 156, 66, 0.32)));
  background-image: -webkit-linear-gradient(top, rgba(226, 156, 66, 0.24) 0%, rgba(226, 156, 66, 0.32) 97%);
  background-image: -o-linear-gradient(top, rgba(226, 156, 66, 0.24) 0%, rgba(226, 156, 66, 0.32) 97%);
  background-image: linear-gradient(-180deg, rgba(226, 156, 66, 0.24) 0%, rgba(226, 156, 66, 0.32) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-cyan {
  color: #36b4d2;
  background-color: #fff;
  background-image: linear-gradient(-180deg, rgba(54, 180, 210, 0.08), rgba(54, 180, 210, 0.12) 97%);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  transition: box-shadow 0.12s linear;
}

.cap-cyan-dark {
  color: #36b4d2;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 180, 210, 0.24)), color-stop(97%, rgba(54, 180, 210, 0.32)));
  background-image: -webkit-linear-gradient(top, rgba(54, 180, 210, 0.24) 0%, rgba(54, 180, 210, 0.32) 97%);
  background-image: -o-linear-gradient(top, rgba(54, 180, 210, 0.24) 0%, rgba(54, 180, 210, 0.32) 97%);
  background-image: linear-gradient(-180deg, rgba(54, 180, 210, 0.24) 0%, rgba(54, 180, 210, 0.32) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-green {
  color: #42b761;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 183, 97, 0.08)), color-stop(97%, rgba(66, 183, 97, 0.12)));
  background-image: -webkit-linear-gradient(top, rgba(66, 183, 97, 0.08) 0%, rgba(66, 183, 97, 0.12) 97%);
  background-image: -o-linear-gradient(top, rgba(66, 183, 97, 0.08) 0%, rgba(66, 183, 97, 0.12) 97%);
  background-image: linear-gradient(-180deg, rgba(66, 183, 97, 0.08) 0%, rgba(66, 183, 97, 0.12) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-green-dark {
  color: #42b761;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 183, 97, 0.24)), color-stop(97%, rgba(66, 183, 97, 0.32)));
  background-image: -webkit-linear-gradient(top, rgba(66, 183, 97, 0.24) 0%, rgba(66, 183, 97, 0.32) 97%);
  background-image: -o-linear-gradient(top, rgba(66, 183, 97, 0.24) 0%, rgba(66, 183, 97, 0.32) 97%);
  background-image: linear-gradient(-180deg, rgba(66, 183, 97, 0.24) 0%, rgba(66, 183, 97, 0.32) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-pink {
  color: #e760d4;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 96, 212, 0.08)), color-stop(97%, rgba(231, 96, 212, 0.12)));
  background-image: -webkit-linear-gradient(top, rgba(231, 96, 212, 0.08) 0%, rgba(231, 96, 212, 0.12) 97%);
  background-image: -o-linear-gradient(top, rgba(231, 96, 212, 0.08) 0%, rgba(231, 96, 212, 0.12) 97%);
  background-image: linear-gradient(-180deg, rgba(231, 96, 212, 0.08) 0%, rgba(231, 96, 212, 0.12) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-pink-dark {
  color: #e760d4;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 96, 212, 0.24)), color-stop(97%, rgba(231, 96, 212, 0.32)));
  background-image: -webkit-linear-gradient(top, rgba(231, 96, 212, 0.24) 0%, rgba(231, 96, 212, 0.32) 97%);
  background-image: -o-linear-gradient(top, rgba(231, 96, 212, 0.24) 0%, rgba(231, 96, 212, 0.32) 97%);
  background-image: linear-gradient(-180deg, rgba(231, 96, 212, 0.24) 0%, rgba(231, 96, 212, 0.32) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-keppel {
  color: #26a69a;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 166, 154, 0.08)), color-stop(97%, rgba(38, 166, 154, 0.12)));
  background-image: -webkit-linear-gradient(top, rgba(38, 166, 154, 0.08) 0%, rgba(38, 166, 154, 0.12) 97%);
  background-image: -o-linear-gradient(top, rgba(38, 166, 154, 0.08) 0%, rgba(38, 166, 154, 0.12) 97%);
  background-image: linear-gradient(-180deg, rgba(38, 166, 154, 0.08) 0%, rgba(38, 166, 154, 0.12) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-keppel-dark {
  color: #26a69a;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 166, 154, 0.24)), color-stop(97%, rgba(38, 166, 154, 0.32)));
  background-image: -webkit-linear-gradient(top, rgba(38, 166, 154, 0.24) 0%, rgba(38, 166, 154, 0.32) 97%);
  background-image: -o-linear-gradient(top, rgba(38, 166, 154, 0.24) 0%, rgba(38, 166, 154, 0.32) 97%);
  background-image: linear-gradient(-180deg, rgba(38, 166, 154, 0.24) 0%, rgba(38, 166, 154, 0.32) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-silver {
  color: #8da2b5;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 162, 181, 0.08)), color-stop(97%, rgba(141, 162, 181, 0.12)));
  background-image: -webkit-linear-gradient(top, rgba(141, 162, 181, 0.08) 0%, rgba(141, 162, 181, 0.12) 97%);
  background-image: -o-linear-gradient(top, rgba(141, 162, 181, 0.08) 0%, rgba(141, 162, 181, 0.12) 97%);
  background-image: linear-gradient(-180deg, rgba(141, 162, 181, 0.08) 0%, rgba(141, 162, 181, 0.12) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-silver-dark {
  color: #8da2b5;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 162, 181, 0.24)), color-stop(97%, rgba(141, 162, 181, 0.32)));
  background-image: -webkit-linear-gradient(top, rgba(141, 162, 181, 0.24) 0%, rgba(141, 162, 181, 0.32) 97%);
  background-image: -o-linear-gradient(top, rgba(141, 162, 181, 0.24) 0%, rgba(141, 162, 181, 0.32) 97%);
  background-image: linear-gradient(-180deg, rgba(141, 162, 181, 0.24) 0%, rgba(141, 162, 181, 0.32) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-red-orange {
  color: #d58b5f;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(213, 139, 95, 0.08)), color-stop(97%, rgba(213, 139, 95, 0.12)));
  background-image: -webkit-linear-gradient(top, rgba(213, 139, 95, 0.08) 0%, rgba(213, 139, 95, 0.12) 97%);
  background-image: -o-linear-gradient(top, rgba(213, 139, 95, 0.08) 0%, rgba(213, 139, 95, 0.12) 97%);
  background-image: linear-gradient(-180deg, rgba(213, 139, 95, 0.08) 0%, rgba(213, 139, 95, 0.12) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-red-orange-dark {
  color: #d58b5f;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(213, 139, 95, 0.24)), color-stop(97%, rgba(213, 139, 95, 0.32)));
  background-image: -webkit-linear-gradient(top, rgba(213, 139, 95, 0.24) 0%, rgba(213, 139, 95, 0.32) 97%);
  background-image: -o-linear-gradient(top, rgba(213, 139, 95, 0.24) 0%, rgba(213, 139, 95, 0.32) 97%);
  background-image: linear-gradient(-180deg, rgba(213, 139, 95, 0.24) 0%, rgba(213, 139, 95, 0.32) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-gray {
  color: #697986;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(105, 121, 134, 0.08)), color-stop(97%, rgba(105, 121, 134, 0.12)));
  background-image: -webkit-linear-gradient(top, rgba(105, 121, 134, 0.08) 0%, rgba(105, 121, 134, 0.12) 97%);
  background-image: -o-linear-gradient(top, rgba(105, 121, 134, 0.08) 0%, rgba(105, 121, 134, 0.12) 97%);
  background-image: linear-gradient(-180deg, rgba(105, 121, 134, 0.08) 0%, rgba(105, 121, 134, 0.12) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.cap-gray-dark {
  color: #697986;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(105, 121, 134, 0.24)), color-stop(97%, rgba(105, 121, 134, 0.32)));
  background-image: -webkit-linear-gradient(top, rgba(105, 121, 134, 0.24) 0%, rgba(105, 121, 134, 0.32) 97%);
  background-image: -o-linear-gradient(top, rgba(105, 121, 134, 0.24) 0%, rgba(105, 121, 134, 0.32) 97%);
  background-image: linear-gradient(-180deg, rgba(105, 121, 134, 0.24) 0%, rgba(105, 121, 134, 0.32) 97%);
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 0 1px 2px 1px rgba(17, 49, 96, 0.16);
  -webkit-transition: -webkit-box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: -webkit-box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear, -webkit-box-shadow 0.12s linear;
}

.rotate .front {
  background-color: #fff;

  /* font-style: italic; */

  /* color: #333; */
}

.rotate .front::after,
.rotate .back::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0.9;
  transition: opacity 0.5s cubic-bezier(0.4, 0.2, 0.2, 1);
  content: '';
}

.rotate .selected .front::after,
.rotate .selected .back::after {
  opacity: 0.25;
}

.rotate .front .inner h1 {
  /* font-style: italic; */
  font-weight: bold;
  font-size: 2.5rem;
}

.rotate .container:hover .front,
.rotate .container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.rotate .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.rotate .inner {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  text-align: center;
  outline: 1px solid transparent;
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  -webkit-perspective: inherit;
  perspective: inherit;
}

.rotate .back .inner {
  padding: 1rem;
}

.rotate .container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.rotate .container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.rotate .container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.rotate .container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.rotate .front .inner p {
  position: relative;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.rotate .front .inner p::after {
  position: absolute;
  right: 0;
  bottom: -0.75rem;
  left: 0;
  display: block;
  width: 4rem;
  height: 2px;
  margin: 0 auto;
  background: #c6d4df;
  content: '';
}

.rotate .front .inner span {
  color: #999;
  font-weight: 300;
}

/* STORY CARD */

.skills-container {
  margin: 0 -10px;
}

.skill-card-container {
  width: 25%;
  padding: 10px;
}

.skill-card {
  overflow: hidden;
  background: #fff;

  /*
    -webkit-box-shadow: 0 2px 4px 0 rgba(118, 186, 255, 0.17) !important;
    box-shadow: 0 2px 4px 0 rgba(118, 186, 255, 0.17) !important;
*/
  background-color: #fff !important;
  border: 1px solid #e2e9ec;
  border-radius: 10px !important;
  box-shadow: none !important;
  transition: all 0.28s ease !important;
  transition-duration: 172ms;
  will-change: transform, box-shadow;
}

.skill-card h5 {
  margin-bottom: 0;
  font-weight: normal;
}

.skill-card:hover {
  color: inherit;
  border: 1px none #fff;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08) !important;

  /*    transform: translateY(-1px) scale(1.02) !important; */

  /*
    -webkit-box-shadow: 0 10px 20px 0 rgba(118, 186, 255, 0.17) !important;
    box-shadow: 0 10px 20px 0 rgba(118, 186, 255, 0.17) !important;
    background-color: #ffffff !important;
*/
  transform: translateY(-1px);
}

.skill-card .card-action {
  width: 100%;
}

.skill-card .card-actions {
  display: flex;
  padding-bottom: 10px;

  /* align-items: center; */

  /* justify-content: center; */
  overflow: hidden;
}

.skill-card .card-footer {
  background-color: #fff !important;
  border: none !important;
}

.product-card > .card .no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #42a5ff;
  background-color: #fff;
  background-repeat: repeat !important;
  background-size: auto !important;
}

.subheader-title b {
  color: #132144;
}

.product-card > .card .no-image > h1 {
  margin-bottom: 0;
  font-weight: lighter;
  font-size: 64px;

  /* text-transform: uppercase; */
}

.skill-card .card-image {
  height: 170px;
  background-position: center center;
  background-size: 100%;
  background-size: cover;

  /*    border-top-left-radius: .25rem;
  border-top-right-radius: .25rem; */
  transition-duration: 172ms;
  will-change: transform;
}

.skill-card .card:hover .card-image,
.storytable-row:hover .card-image {
  transform: scale(1.05);
}

.skill-card .card-action:hover .card-image {
  /*    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.01); */
  background-color: #fff !important;
}

.skill-card .play {
  position: absolute;
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  color: #fff;
  font-size: 64px;
  background-color: #fff !important;
}

.skill-card .card-action:hover .play {
  display: flex;
}

.skill-card .no-overflow {
  /* overflow: hidden; */
}

/* @media(max-width: 1547px){
  .skill-card-container{
        width: 25%;
  }
} */

.upgrade-plan {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin: 0;
  margin-right: -3rem !important;
  margin-left: -3rem !important;
  padding-top: 17px;
  padding-right: 3rem;
  padding-bottom: 16px;
  padding-left: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 244, 246, 0.5)), to(rgba(238, 244, 246, 0.65)));
  background-image: -webkit-linear-gradient(top, rgba(238, 244, 246, 0.5), rgba(238, 244, 246, 0.65));
  background-image: -o-linear-gradient(top, rgba(238, 244, 246, 0.5), rgba(238, 244, 246, 0.65));
  background-image: linear-gradient(-180deg, rgba(238, 244, 246, 0.5), rgba(238, 244, 246, 0.65));
  border: 1px solid #eaeff4;
  border-top: none;
}

.upgrade-plan:first-child {
  margin-top: 24px;
  border-top: 1px solid #eaeff4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.upgrade-plan:last-child {
  margin-bottom: 23px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.upgrade-plan-price-sum__symbol {
  min-width: 0;
  margin-right: 4px;
  padding-top: 0;
  color: #62778c;
  font-size: 18px;
}

.upgrade-plan-price-sum__cost {
  min-width: 0;
  color: rgba(19, 33, 68, 0.65);
  font-weight: 600;
  font-size: 50px;
  line-height: 1;
}

.upgrade-plan-price-sum__period {
  align-self: flex-end;
  margin-left: 6px;
  padding-bottom: 2px;
  color: #8da2b5;
  font-size: 15px;
  -ms-flex-item-align: end;
}

@media (max-width: 1200px) {
  .skill-card-container {
    width: calc(100% / 3);
  }
}

@media (max-width: 798px) {
  .skill-card-container {
    width: 100%;
  }
}

.upgrade-modal .modal-content {
  overflow: hidden !important;
}

.modal-fullscreen {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
  padding: 15px;
}

.modal-fullscreen .modal-content {
  min-height: 100%;
}

#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #279745;
}

#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #279745;
}

#successAnimationResult {
  opacity: 0;
  fill: #279745;
}

#successAnimation.animated {
  -webkit-animation: 1s ease-out 0s 1 both scaleAnimation;
  animation: 1s ease-out 0s 1 both scaleAnimation;
}

#successAnimation.animated #successAnimationCircle {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationCheck {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationResult {
  -webkit-animation: 0.3s linear 0.9s both fadeIn;
  animation: 0.3s linear 0.9s both fadeIn;
}

@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.updates-popover-container {
  min-width: 300px !important;
  max-width: 300px !important;
  max-height: 300px !important;
  overflow: auto;
}

div.popover-container {
  max-height: 380px !important;
}

div.popover-container .popover-body {
  padding: 16px;
}

div.popover-container .arrow {
  display: none;
}
