/*@import url('https://fonts.googleapis.com/css?family=Lato');*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    background: #f0f5f8 !important;
    color: #132144;
    width: 100%;
}
.form-control{
    display: block;
    width: 100%;
    padding: 8px 16px 10px;
    font: normal 15px/1.4666666667 Open Sans,Arial,sans-serif;
    color: #132144;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #d4d9e6;
    margin-bottom: 0;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 0 rgba(17,49,96,.06);
    box-shadow: 0 0 3px 0 rgba(17,49,96,.06);
    -webkit-transition: background-color .12s linear,color .12s linear,border-color .12s linear,padding .12s linear,max-height .12s linear,-webkit-box-shadow .12s linear;
    transition: background-color .12s linear,color .12s linear,border-color .12s linear,padding .12s linear,max-height .12s linear,-webkit-box-shadow .12s linear;
    -o-transition: background-color .12s linear,color .12s linear,border-color .12s linear,box-shadow .12s linear,padding .12s linear,max-height .12s linear;
    transition: background-color .12s linear,color .12s linear,border-color .12s linear,box-shadow .12s linear,padding .12s linear,max-height .12s linear;
    transition: background-color .12s linear,color .12s linear,border-color .12s linear,box-shadow .12s linear,padding .12s linear,max-height .12s linear,-webkit-box-shadow .12s linear;
}
.form-control:focus{
    border: 1px solid #42a5ff !important;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 4px 6px, rgba(0, 0, 0, 0.05) 0px 1px 3px !important;
}
.subheader-page-container{
    height: 100%;
    width: 100%;
    padding-top: 85px;
}
.subheader-page-container>div{
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding-bottom: 120px;
}
#app, #app>#canvas {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
}
#app.secondary-padding, #app.secondary-padding>#canvas {
    top: 111px;
}
#app.canvas{
    top: 0 !important;
}
.grid-col-3{
    justify-content: center;
    align-content: center;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mx--1{
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}
.mx--4{
    margin-left: -1.5rem!important;
    margin-right: -1.5rem !important;
}
.helper-text{
    color:  #8da2b5;
    font-size: 13px;
    font-style: italic;
}
.white-pill {
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding: 2px 15px 2px 14px;
    color: #42A5FF;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: transform 0.3s ease !important;
}
.white-pill:hover{
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}
.rounded-iframe {
    border-radius: 5px;
    overflow: hidden;
}
.clickable {
    cursor: pointer;
}
.clickable:hover {
    text-decoration: underline;
}
.top-right{
    position: absolute;
    right: 0;
    top: 0;
}
.search-input {
    background-image: url('/search.svg') !important;
    background-size: auto 40% !important;
    background-repeat: no-repeat !important;
    background-position: 10px center !important;
    padding-left: 33px !important;
}
.dollar-input{
    background-image: url('/dollar.svg') !important;
    background-size: auto 40% !important;
    background-repeat: no-repeat !important;
    background-position: 15px center !important;
    padding-left: 35px !important;
    border-radius: 6px;
}
.rotate{
    transition: transform .15s ease-in-out;
}
.z-hard{
    z-index: 10;
}
.modal {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
.joyride-overlay{
    z-index: 1060!important
}
.__floater.__floater__open{
    z-index: 1061!important
}
button:focus{
    outline: none;
}
.text-blue {
    color: #93CBFF;
}
.text-secondary{
    color: #8da2b5 !important;
}
.text-lg{
    font-size: 3rem;
}
audio {
    width: 275px;
}
@media (min-width: 576px){
    .modal-xl {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .modal-xl {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .modal-xl {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .modal-xl {
        max-width: 1140px;
    }
}
.small {
    font-size: 80%;
}

.btn-thicc{
    padding: 12px 20px;
}

.btn-primary{
    border: 1px solid #2295FA !important;
    color: #fff;
    font-weight: normal;
    background: linear-gradient(#2295FA, #1B86F9);
    text-transform: none !important;
    transition: all 0.3s ease !important;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: all 0.25s;
}
.btn-success{
    background-color: #23e4a6;
    border-color: #23e4a6;
    color: #fff;
    box-shadow: 0 1px 3px 0 rgba(43, 57, 80, .15);
}
.btn-success:hover{
    background-color: #13ca8f;
    border-color: #13ca8f;
    transform: translateY(-1px);
}
.btn-success:active{
    background-color: #01b37a !important;
    border-color: #01b37a !important;
}
.btn-primary:hover{
/*    box-shadow: 0 2px 10px 0 rgba(74,144,226,.4) !important;*/
    background: linear-gradient(#1B86F9, #1B86F9);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transform: translateY(-1px);
/*    transform: translateY(-1px) scale(1.02);*/
}
.btn-clear{
    background-color: #fff;
    border: 1px solid #E2E9EC;
    color: #8da2b5;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    transition: all 0.25s;
    font-size: 15px;
}
.btn-lg{
    font-weight: 600;
    border-radius: 5px;
    padding: 13px;
    font-size: 16px;
}
.btn-clear:hover{
    color: #132144;
    background-color: #f7f9fb;
}
.btn-clear:active{
    background-color: #e5edef;
}
.btn-primary-small{
    border: 1px solid #2295FA !important;
    color: #fff;
    font-weight: normal;
    background: linear-gradient(#2295FA, #1B86F9);
    text-transform: none !important;
    transition: all 0.3s ease !important;
    display: inline-block;
    transition: all 0.25s;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: all 0.25s;
}
.btn-primary-small:hover{
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transform: translateY(-1px);
}
.btn-outline-primary{
    color: #42a5ff;
    border: 1px solid #b8daff;
    background-color: #EBF4FE;
    font-weight: 400;
}
.btn-outline-primary:hover{
    background-color: #d7eaff;
    color: #42a5ff;
    border: 1px solid #b8daff;
}
.btn-outline-primary:active{
    background-color: #42a5ff !important;
    border: 1px solid #42a5ff !important;
}
.btn-danger{
    background-color: #ff3562;
    border: 1px solid #ff3562;
}
.btn-outline-danger{
    border: 1px solid #ffb9b9;
    background-color: #ffeae9;
    color: #ff7170;
}
.btn-outline-danger:hover{
    background-color: #ffe2e0;
    color: #ff7170;
    border: 1px solid #ffb9b9;
}
.btn-outline-danger:active{
    background-color: #ffd4d2 !important;
    color: #ff7170 !important;
    border: 1px solid #ffb9b9 !important;
}
.btn-warning{
    font-weight: normal;
    color: #fff !important;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.05);
    background-color: #ff3562;
    border: 2px solid #ff3562;
    text-transform: none;
    font-size: 16px;
    transition: all .25s ease !important;
 }
 .btn-warning:hover{
     background-color: #fb0038;
     border-color: #fb0038;
     transform: translateY(-1px);
     box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08) !important;
 }
 .btn-warning:active{
     background-color: #d80030 !important;
     border-color: #d80030 !important;
 }
.alert-danger{
    color: #ff3562 !important;
    background-color: #ff7c8824 !important;
}
.text-dark {
    color: #545D6D !important;
}
.input-underline {
    border: none;
    border-bottom: 2px solid #e2e9ec;
    outline: none !important;
    padding: 10px;
    transition: border-color .2s ease;
}
.input-underline:focus {
    border-color: #42A5FF
}

.horizontal-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row{
    color: #2b3950;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.fa-rotate--90{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #EAEFF4 !important;
}
.alert-success{
    background-color: #42A5FF20;
    color: #42A5FF;
    border: 1px solid #42A5FF40;
}
.alert-success hr{
    border-color: #42A5FF40
}
.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close{
    font-weight: normal;
    color: #8da2b570;
    transition: all ease 0.25s;
    opacity: 1 !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px;
}
.close:hover{
    color: #8da2b5 !important;
}
.btn {
    text-align: center;
}
.btn-default {
    color: #8da2b5 !important;
    background-color: #fff !important;
    box-shadow: 0 2px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
    transition: all 0.25s !important;
}
.btn-default:hover{
    background-color: #fff;
    color: #0095f7 !important;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08) !important;
    transform: translateY(-1px);
/*    box-shadow: inset 0 0 0 1px rgba(144,164,174,.5);*/
}
.btn-default.exit{
    margin-right: 4px;
}
.btn-default.exit i {
    margin-right: 4px;
}
.exit i, .forward i{
    transition: all 0.2s ease !important;
}
.forward:hover i{
    transform: translateX(2px)
}
.exit:hover i{
    transform: translateX(-2px)
}
.normal-btn{
    text-transform: none !important;
    color: #94A6BD !important;
    min-width: 42px !important;
    background-color: transparent!important;
}
.normal-btn:hover{
    background-color: #F5F7F8 !important;
}
.no-underline{
    text-decoration: none !important;
    z-index:10;
}
/*.form-control:disabled, .form-control[readonly]{
    background-color: #FAFAFB;
}*/

.no-padding-row{
    margin: 0px !important;
}
.no-padding-row>div{
    padding: 0 !important;
}
.btn:focus{
    box-shadow: none !important;
}
.anti-btn {
    border: none !important;
    outline: none !important;
    padding: 0 !important;
}
.outline{
}
.outline-btn{
    font-weight: normal !important;
    color: #fff !important;
    border: 1px solid #fff !important;
/*    box-shadow: none !important;*/
/*    background-color: #42A5FF !important;*/
    text-transform: none !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    cursor: pointer;
    background: linear-gradient(#2295FA, #1B86F9) !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.outline-btn:active{
    background-color: #42A5FF !important;
}
.white-btn{
    padding: 10px 25px !important;
    font-weight: normal !important;
    color: #8DA2B5 !important;
    border-radius: 5px !important;
    box-shadow: 0 1px 8px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.05) !important;
    background-color: #ffffff !important;
    text-transform: none !important;
    font-size: 16px !important;
    transition: all .25s ease !important;
}
.white-btn:hover{
/*    border: 1px solid #b8daff !important;*/
    /*box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12) !important;*/
    color: #42A5FF !important;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08) !important;
/*    box-shadow: 0px 3px 7px rgba(14,30,37,.10) !important;*/
}
.btn-secondary{
    color: #fff;
    background-color: #42A5FF;
    border: none !important;
}
.btn-secondary:hover{
    background-color: #0086ff;
    border: none !important;
}
.btn-secondary:active{
    background-color: #0074de !important;
/*    border: 1px solid transparent !important;*/
}
.box-shadow{
    box-shadow: 0 2px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
}
.form-bg{
    min-height: 45px;
}
.form-control-right{
    border-color: #E2E9EC !important;
    box-shadow: 0 0 1px 1px rgba(43, 57, 80, 0.03) !important;
    border: 1px solid rgba(141, 162, 181, 0.4) !important;
-webkit-transition: box-shadow 150ms ease !important;
transition: box-shadow 150ms ease !important;
}
.form-control-right:focus{
    border: 1px solid #fff !important;
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px !important;
}
.form-control-left{
    border-color: #E2E9EC !important;
    box-shadow: 0 0 1px 1px rgba(43, 57, 80, 0.03) !important;
    border: 1px solid rgba(141, 162, 181, 0.4) !important;
-webkit-transition: box-shadow 150ms ease !important;
transition: box-shadow 150ms ease !important;
border-radius: 0px 5px 5px 0px !important;
}
.form-control-left:focus{
    border-color: #42A5FF !important;
    box-shadow: rgba(50, 50, 93, 0.06) 0px 4px 6px, rgba(0, 0, 0, 0.06) 0px 1px 3px !important;
    border: 1px solid #fff !important;
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px !important;
}
.auto-height {
    height: auto !important;
}
.form-control-white{
    background-color: #E9EEF1 !important;
}
.form-control-border{
  background-color: #f0f5f8 !important;
/*  min-height: 45px !important;*/
/*  padding: 10px 12px !important;*/
/*  border-radius: 0px 5px 5px 0px !important;*/
  border: 1px solid #E2E9EC !important;
  box-shadow: none !important;

  -webkit-transition: box-shadow 150ms ease !important;
  transition: box-shadow 150ms ease !important;
}
.form-control-border-search{
    background-color: #E9EEF1 !important;
  /*  min-height: 45px !important;*/
  /*  padding: 10px 12px !important;*/
  /*  border-radius: 0px 5px 5px 0px !important;*/
    border: 1px solid #E2E9EC !important;
    box-shadow: none !important;
  
    -webkit-transition: box-shadow 150ms ease !important;
    transition: box-shadow 150ms ease !important;
}
.form-control-border:focus{
    border: 1px solid #42a5ff !important;
    box-shadow: none !important;

/*    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px !important; */
}
.right{
      border-radius: 0px 5px 5px 0px !important;
}
.left{
      border-radius: 5px 0px 0px 5px !important;
}
.popover-header{
    background-color: #fff !important;
}
.purple-btn{
    padding: 10px 20px 10px 20px !important;
    color: #fff !important;
    font-weight: normal !important;
    background: linear-gradient(to bottom,#49A4FF,#0F88FF) !important;
    text-transform: none !important;
   /* box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important; */
    transition: all 0.2s ease !important;
    border-radius: 6px !important;
    cursor: pointer;
    font-weight: 400 !important;
    font-size: 15px !important;
    border: none !important;
}
.purple-btn:hover{
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08) !important;
    background: linear-gradient(#1B86F9, #1B86F9);
/*    transform: scale(1.03);*/
/*    box-shadow: 0 5px 10px 0 rgba(66, 83, 255, 0.23) !important;*/
}
.purple-btn:active{
    background: linear-gradient(#2295FA, #1B86F9);
    border: none !important;
}
.publish-btn{
    padding: 10px 20px 10px 50px !important;
    color: #fff !important;
    font-weight: normal !important;
    background: linear-gradient(to bottom,#49A4FF,#0F88FF) !important;
    text-transform: none !important;
    box-shadow:  inset 0 0 0 10px #ddd;
/*    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;*/
    box-shadow: 0 2px 5px 0 rgba(50,50,93,.3) !important;
    transition: all 0.2s ease !important;
    border-radius: 25px !important;
    cursor: pointer;
    font-weight: 400 !important;
    font-size: 15px !important;
}
.publish-btn .launch{
    left: 8px;
    top: 7px;
    position: absolute;
    height: 100%;
    width: 32px;
    height: 32px;
    /* margin-left: 5px; */
    background-color: #ffffff40;
    color: #fff;
    overflow: hidden;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    background-position: center;
    transition: all 0.2s;
}
.publish-btn .launch>div{
    position: absolute;
    transition: transform 0.2s;
    margin-top: 4px;
    width: 100%;
}
.publish-btn .launch .first{
    transform: translateY(0)
}
.publish-btn .launch .second{
    transform: translateY(-30px)
}
.publish-btn:hover .launch .first{
    transform: translateY(30px)
}
.publish-btn:hover .launch .second{
    transform: translateY(0)
}
.publish-btn .launch .first i{
    font-size: 15px;
}
.publish-btn .launch .second i{
    font-size: 13px;
}
.publish-btn:hover{
  box-shadow:0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08) !important;
  transform: translateY(-1px);
}
.account-dropdown .account{
   color: #8DA2B5 !important;
}
.account-dropdown .account:hover{
    color: #42A5FF !important;
}
.shadow{
    box-shadow: none;
}
.search-header{
    display: flex;
}
.shadow:hover{
    box-shadow: 0 2px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.card {
/*    border: 1px solid #fff;*/
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
    border-radius: 10px;
    border: none;
    padding: 0px;
    transition-duration: 172ms;
    will-change: transform, box-shadow;
}
.search-form{
        box-shadow: 0 0 1px 1px rgba(43, 57, 80, 0.03) !important;
        border: 1px solid rgba(141, 162, 181, 0.4) !important;
  /* -webkit-transition: box-shadow 150ms ease !important;
  transition: box-shadow 150ms ease !important; */
  border-radius: 6px !important;
  font-size: 20px !important;
  transition: all 0.50;
}
.top-left{
    border-radius: 0px 5px 5px 5px;
}
.key-bubble{
    background-color: #E6ECF0;
    border-radius: 20px;
    padding: 1px 15px;
    color: #8DA2B5;
}
label {
    /* color: #8da2b5 !important; */
    font-weight: 400 !important;
    font-size: 14px !important;
    display: block;
    font-weight: 600;
    color: #62778c;
    margin-bottom: 11px;
    /*margin: 0px !important;*/
}
.show>.btn-secondary.dropdown-toggle {
    color: #8da2b5 !important;
}
.btn-secondary.dropdown-toggle{
    background-color: #fff !important;
    color: #8da2b5;
    border-radius: 6px;
    cursor: pointer !important;
    box-shadow: 0 0 1px 1px rgba(43, 57, 80, 0.04) !important;
    border: 1px solid rgba(141, 162, 181, 0.4) !important;
}
.btn-secondary.dropdown-toggle:hover{
    background-color: #fff !important;
    color: #8da2b5 !important;
    cursor: pointer !important;
    box-shadow: 0 0 1px 1px rgba(43, 57, 80, 0.04) !important;
    border: 1px solid rgba(141, 162, 181, 0.4) !important;
}
.input-select>div{
    background-color: #fff !important;
    color: #8da2b5;
    border-radius: 6px !important;
    cursor: pointer !important;
    box-shadow: 0 0 1px 1px rgba(43, 57, 80, 0.04) !important;
    border: 1px solid rgba(141, 162, 181, 0.4) !important;
    font-size: 15px !important;
    height: 45px !important;
/*    min-height: 45px;*/
}
.disabled-form{
    color: #8da2b590 !important;
}
textarea{
    resize: none !important;
}
input, textarea, .text-to-voice, .choice-block,{
    background-color: #FFF;
    color: #2b3950;
    border: 1px solid #c5d3e0;
    border-radius: 5px;
/*    box-shadow: 0 1px 3px 0 rgba(50,50,93,.15), 0 4px 6px 0 rgba(112,157,199,.15);*/
}
.solid-border{
    background-color: #f7f9fb !important;
    border: 1px solid #d6e2ec !important;
    padding: 15px !important;
    border-radius: 5px;
}
input::placeholder, textarea::placeholder, select:required:invalid, input.form-control::placeholder, textarea.form-control::placeholder,
.select-box__placeholder {
    color: #8da2b5 !important;
}
.TitleBar .publish-btn:hover{
    color: #3d96f0 !important;
}
.flex-hard{
    flex: 10;
}

/*.dash-button {
    border: 1px dashed #0095f7 !important;
    background-color: transparent;
    color: #0095f7;
    padding: 14px 30px;
    font-weight: 600 !important;
}
.dash-button:hover {
    border: solid 1px #E3E8FA !important;
    font-weight: 600 !important
}*/

.input-ground-prepend{
    color: #42a5ff!important;
    border-color: #b8daff;
    background-color: #EBF4FE;
    cursor: pointer;
/*    height: 44px;*/
}
.input-group-text{
    color: #42a5ff!important;
    border-color: #b8daff;
    background-color: #EBF4FE;
    cursor: pointer;
    height: 36px;
}
.input-group-text-bg{
    color: #42a5ff!important;
    border-color: #b8daff;
    background-color: #EBF4FE;
    cursor: pointer;
    height: 45px;
}
.box-shadow{
  box-shadow: 0 2px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.dropzone, .audio-box, .image-box, .combined-box {
    width: 100%;
    overflow: visible;
    min-height: 40px;
    transition: transform .2s, background-color .2s, color .2s, border .2s;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    border: 1px dashed #c5d3e0;
    border-radius: 5px;
    background-color: #f7f9fb !important;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.2s ease !important;
}
.dropzone .drop-child{
    text-align: center;
    color: #8da2b5 !important;
    min-width: 150px;
}
.dropzone.enter-url, .audio-box, .image-box {
    cursor: default;
    border-style: solid !important;
    transform: scale(1) !important;
    opacity: 1 !important;
}
.span-small{
    color: #42a5ff!important;
    border-color: #b8daff;
    background-color: #EBF4FE;
    cursor: pointer;
}
.dropzone.enter-url button{
    padding: 5px 10.5px !important;
    margin-top: 5px;
}
.dropzone:hover, .dropzone.active{
    border: 1px dashed #42A5FF;
    background-color: #EAF4FE !important;
/*    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12) !important;*/
}
.dropzone.active{
    transform: scale(1.01);
    opacity: 0.8;
    border: 1px dashed #42A5FF;
}
.prompt {
    text-align: center;
    cursor: pointer;
    color: #95A6BD;
}

.pointer {
    cursor: pointer;
}

.prompt b, .prompt-text {
    color: #95A6BD;
    font-size: 1rem;
    font-weight: normal;
}

.dropzone img{
    height: 50px;
    width: 50px;
    display: inline-block;
}

.image-icon .image-box {
    height: 300px;
    background-position: center center;
    background-size: cover;
}
.image-standard .image-box{
    padding: 0px !important;
}
.image-standard .image{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.combined-box {
    background-color: #B3E5FC;
    font-weight: bold;
    color: #01579B;
    border: none !important;
    margin-bottom: 20px;
}

.audio-box>button, .image-box>button{
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.audio-box>div, .combined-box>div{
    margin-bottom: 10px;
}
.dropzone.active {
    border-color: #28a745!important;
}

.dropzone.reject {
    border-color: #dc3545!important;
    background-color: #FBE9E7 !important;
}

.dropzone .rejected-file {
    display: none;
}

.dropzone.reject .drop-child{
    display: none;
}

.dropzone.reject .rejected-file {
    display: block;
}

.dropzone p {
    margin: 0 5px;
    line-height: 30px;
    white-space: nowrap;
}

/*.upload-btn i{
    display: block;
    margin: 2px 0;
}*/
.upload-btn{
    font-size: 14px;
    flex: 1;
    margin: 4px;
}

.input-group {
    align-items: center;
}

.space-between {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.subheader {
    position: absolute;
    top: 0px;
    background-color: #fff;
    left: 0px;
    right: 0px;
    /*padding: 10px;*/
    display: flex;
    align-items: center;
    /*height: 50px;*/
    padding: 20px 0;
/*    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);*/
    border-bottom: 1px solid #E2E9EC;
    justify-content: space-between;
    z-index: 7;
}
.no-radius{
    border-radius: 0px !important;
}
.subheader-title b{
  font-size: 1.5rem;
  font-weight: 900;
  color: #545D6D;

}

.subheader-title {
    font-size: 1.2rem;
    align-items: center;
    display: flex;
}

.subheader-right {
    /*width: 500px;*/
    display: flex;
    justify-content: flex-end;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.capitalize {
    text-transform: capitalize;
}

.text-muted {
    color: #8da2b5 !important;
}

.super-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding {
    padding-top: 58px;
}

.Window {
    width: 100%;
    min-height: 100%;
    padding-top: 58px;
}

.modal-header {
    align-items: center;
}
.modal-content{
    /*overflow: hidden;*/
    border: none;
    box-shadow: 0px 4px 80px rgba(17, 49, 96, 0.13);
    border-radius: 10px;
}
/*.modal-footer{
    background-color: #F3F3F3;
}*/
.split-page{
    display: flex;
}
#dash-nav .nav-pills .nav-item.active .nav-link {
    color: #fff;
    background-color: #007bff !important;
}

#dash-nav .nav-item {
    width: 100%;

}
#dash-nav {
    position: fixed;
    height: 100%;
    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
    border-right: 1px solid #DDD;
    width: 200px;
}

.Left-Padding{
    height: 100%;
    padding-left: 200px;
    width: 100%;
}

#dash-nav-container{
    padding: 0 !important;
}

@media(max-width: 991px){
    .Left-Padding{
        padding-left: 0px;
    }
}
#dash-nav .nav-pills {
    width: 100%;
}

.modal-backdrop{
    background-color: #18306C !important;
}
body.modal-open {
    overflow: hidden !important;
    position: fixed !important;
}
.modal-backdrop.show {
    opacity: .3;
}
/*.modal-content:before {
    content: '';
    width: 100%;
    height: .5rem;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(left, #04B3BA 0%, #0ABEA2 100%);
    background: -webkit-linear-gradient(left, #04B3BA 0%,#0ABEA2 100%);
    background: linear-gradient(to right, #04B3BA 0%,#0ABEA2 100%);
    display: block;
    position: absolute;
}*/

.break {
  width: 100%;
  height: 15px;
  border-bottom: 1px solid #8da2b545;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.or {
  font-size: 12px;
  background-color: #FFF;
  padding: 5px 10px;
  color: #8da2b5;
}

.social-button {
  width: 100%;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(14,30,37,.15) !important;
  font-size: 15px !important;
  font-weight: 500;
  border: 1px solid transparent;
  text-align: center;
  font-family: Roboto, sans-serif;
  height: 50px;
  cursor: pointer;
  transition: transform 0.25s ease;
  border-radius: 5px !important;
}

.social-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px 0 rgba(14,30,37,.15) !important;
}

.fa-facebook{
  margin-right: 10px;
  padding: 10px;
}

.class-fb {
  background-color: #4267B2;
  color: #FFF;
  margin-top: 3px;
  font-size: 15px;
}
#publish-status {
    top: 180px;
    width: 200px;
}

.select-box__menu {
    z-index: 100 !important;
    box-shadow: 0 0 0 1px rgba(17,49,96,.04), 0 8px 16px 0 rgba(17,49,96,.16) !important;
    border-radius: 5px !important;
}
.select-box__dropdown-indicator{
    color: #c5d3e0 !important;
}
.select-box__control{
    background-color: #fff !important;
    color: #2b3950 !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    box-shadow: 0 0 1px 1px rgba(43, 57, 80, 0.04) !important;
    border: 1px solid rgba(141, 162, 181, 0.4) !important;
}
.select-box__control--is-focused{
    border-color: #42A5FF !important;
}
.select-box__indicator-separator{
    background-color: #fff !important;

}
.select-box__control:focus{
    border: 5px solid #42A5FF !important;
    box-shadow: none !important;
}

.loader {
    display: inline-flex;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border: 3px solid #ddd;
    border-top: 3px solid #42a5f5 !important;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    line-height: 1;
}

.tippy-tooltip {
    /*background-color: #42A5FF !important;*/
    font-size: 13px;
}
.tippy-tooltip.menu-theme{
    max-width: 220px;
}
.tippy-tooltip.block-theme{
    max-width: 300px;
}
.tippy-tooltip.warning-theme .arrow-regular{
    left: 15px !important;
    border-bottom-color: #e23c61 !important;
}
.tippy-tooltip.warning-theme{
    background-color: #e23c61 !important;
    max-width: 180px;
}
.tippy-tooltip .arrow-regular{
    border-bottom-color: #42A5FF !important;
}

.tippy-tooltip [x-circle]{
    background-color: #42A5FF !important;
}

.btn-grey{
    color: #90A2B3;
    background-color: #F2F7F8;
}
.btn-grey:hover{
    color: #42a5ff;
    border-color: #b8daff;
    background-color: #eef5fd;
}
.btn-grey:active{
    color: #42a5ff;
    border-color: #b8daff;
    background-color: #d9ebff;
}
.btn-vertical{
    flex: 1;
    text-align: center;
    padding: 15px 0;
    vertical-align: middle;
}
.btn-vertical i{
    display: block;
    font-size: 24px;
    padding: 0px 10px;
}

.seperated-links a {
    display: inline-block;
    margin: 0 10px;
}
.nav-btn-border{
    border: 1px solid #EAEFF4;
    width: 45px !important;
    height: 45px !important;
    border-radius: 50%;
    color: #42a5ff;
    cursor: pointer;
    transition: all 0.25s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.nav-btn-border:hover{
    border-color: #DFE3ED;
}
.nav-btn-border:active{
    background-color: #EEF4F6;
}
.nav-btn{
    border: 2px solid #fff;
    width: 45px !important;
    height: 45px !important;
    border-radius: 50%;
    box-shadow: 0 1px 2px #11316013;
    color: #42a5ff;
    cursor: pointer;
    transition: all 0.25s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.nav-btn:hover{
    transform: translateY(-1px);
    box-shadow: 0px 3px 5px #11316016;
    border-style: double;
    background-color: #5D9DF525;

}
#icon-share{
    background-image: url("/share-gray.svg"); 
}
#icon-save{
    background-image: url("/save-dark.svg");
}
#icon-save.unsaved{
    background-image: url("/save-dark.svg"), linear-gradient(#5D9DF515,#5D9DF530);
}
#icon-save.saving{
    background-image: linear-gradient(#5D9DF515,#5D9DF530) !important;
}
#icon-save .loader{
    border-color: #fff;
}
.skill-name-top-left {
    font-size: 18px;
    width: fit-content;
    width: 500px;
    color: #132144;
    left: 9px;
    background-color: #fff;
    padding-left: 7px;
    padding-top: 20px;
}
.skill-name-top-left i{
    color: #BCC3D1;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 26px;
    transition: all 200ms;
    margin-top: 24px;
}
.skill-name-top-left i:hover{
    color: #8DA2B5;
    height: 20px;
    width: 20px;
    transform: scale(1.05);
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* .dynamic-underline {
    color: #42A5FF;
    cursor: pointer;
    padding: 3px 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.dynamic-underline:hover::after{
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #42A5FF;
    animation: left-right 700ms;
    animation-iteration-count: 1;
}

@keyframes left-right{
    0%{
        transform:translate3d(0,0,0)
    }
    50%{
        transform:translate3d(100%,0,0)
    }
    50.01%{
        transform:translate3d(-120%,0,0)
    }
    to{
        transform:translate3d(0,0,0)
    }
} */

.btn-darken {
    cursor: pointer;
}
.btn-darken:hover {
    background-color: #f0f5f8;
}
.btn-darken:active{
    background-color: #e0e5e8;
}

@media(max-width: 1750px){
    #publish-status {
        visibility: hidden;
    }
}

@media(max-width: 860px){
    .publish-info {
        visibility: hidden;
    }
}
