/*@import url('https://fonts.googleapis.com/css?family=Lato');*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    background: #fafafa !important;
    color: #2b3950;
    width: 100%;
}
.modal {
    overflow: scroll !important;
}
button:focus{
    outline: none;
}
audio {
    width: 275px;
}
@media (min-width: 576px){
    .modal-xl {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .modal-xl {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .modal-xl {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .modal-xl {
        max-width: 1140px;
    }
}
.small {
    font-size: 80%;
}

.btn-primary{
    border: 1px solid #2295FA !important;
    color: #fff;
    font-weight: normal;
    background: linear-gradient(#2295FA, #1B86F9);
    text-transform: none !important;
    transition: all 0.3s ease !important;
    display: inline-block;
    transition: all 0.25s;
}
.btn-warning{
   font-weight: normal;
   color: #fff !important;
   border-radius: 5px;
   box-shadow: 0 1px 8px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.05);
   background-color: #ff3562;
   border-color: #ff3562;
   text-transform: none;
   font-size: 16px;
}
.btn-warning:hover{
    background-color: #fb0038;
    border-color: #fb0038;
   box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn-warning:active{
    background-color: #d80030 !important;
    border-color: #d80030 !important;
}
.btn-primary:hover{
/*    box-shadow: 0 2px 10px 0 rgba(74,144,226,.4) !important;*/
    background: linear-gradient(#1B86F9, #1B86F9);
/*    transform: translateY(-1px) scale(1.02);*/
}
.btn-clear{
    border: 1px solid #E2E9EC;
    color: #8da2b5;
    border-radius: 5px;
}
.btn-lg{
    font-weight: 600;
    border-radius: 5px;
    padding: 13px;
    font-size: 16px;
}
.btn-clear:hover{
    color: #42A5FF;
    background-color: #F6F8F9;
}
.btn-clear:active{
    background-color: #eeeff1;
}
.btn-primary-small{
    border: 1px solid #2295FA !important;
    color: #fff;
    font-weight: normal;
    background: linear-gradient(#2295FA, #1B86F9);
    text-transform: none !important;
    transition: all 0.3s ease !important;
    display: inline-block;
    transition: all 0.25s;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-outline-primary{
    color: #0095f7;
    border: 1px solid #0095f7;
    background-color: transparent;
    font-weight: 400;
}
.btn-outline-primary:hover{
    background-color: #0095f7;
    color: #FFF;
}
.btn-danger{
    background-color: #ff3562;
    border: 1px solid #ff3562;
}
.btn-outline-danger{
    border: 1px solid #ffb9b9;
    background-color: #ffeae9;
    color: #ff7170;
}
.btn-outline-danger:hover{
    background-color: #ffe2e0;
    color: #ff7170;
    border: 1px solid #ffb9b9;   
}
.btn-outline-danger:active{
    background-color: #ffd4d2 !important;
    color: #ff7170 !important;
    border: 1px solid #ffb9b9 !important; 
}
.alert-danger{
    color: #ff3562 !important;
    background-color: #ff7c8824 !important;
}
.text-dark {
    color: #545D6D !important;
}
.horizontal-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row{
    color: #2b3950;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.alert-success{
    background-color: #42A5FF20;
    color: #42A5FF;
    border: 1px solid #42A5FF40;
}
.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close{
    font-weight: normal;
    color: #95a6bd;
}
.btn-default {
    border: 1px solid #d4d9e6;
    color: #8da2b5 !important;
    background-color: #fff !important;
}
.btn-default:hover{
    background-color: #fff;
    color: #0095f7 !important;
/*    box-shadow: inset 0 0 0 1px rgba(144,164,174,.5);*/
}
.btn-default.exit{
    margin-right: 4px;
}
.btn.exit i{
    transition: all 0.2s ease !important;
    margin-right: 4px;
}
.btn.exit:hover i{
    transform: translateX(-2px)
}
.normal-btn{
    text-transform: none !important;
    color: #94A6BD !important;
}
.no-underline{
    text-decoration: none !important;
}
/*.form-control:disabled, .form-control[readonly]{
    background-color: #FAFAFB;
}*/

.no-padding-row{
    margin: 0px !important;
}
.no-padding-row>div{
    padding: 0 !important;
}
.btn:focus{
    box-shadow: none !important;
}
.anti-btn {
    border: none !important;
    outline: none !important;
    padding: 0 !important;
}
.outline-btn{
    font-weight: normal !important;
    color: #fff !important;
    border: 1px solid #fff !important;
/*    box-shadow: none !important;*/
/*    background-color: #42A5FF !important;*/
    text-transform: none !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    cursor: pointer;
    background: linear-gradient(#2295FA, #1B86F9) !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.outline-btn:active{
    background-color: #42A5FF !important;
}
.white-btn{
    padding: 10px 25px !important;
    height: 43px;
    font-weight: normal !important;
    color: #8DA2B5 !important;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12) !important;
    background-color: #ffffff !important;
    text-transform: none !important;
    font-size: 16px !important;
}
.white-btn:hover{
/*    border: 1px solid #b8daff !important;*/
    /*box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12) !important;*/
    color: #42A5FF !important;
/*    box-shadow: 0px 3px 7px rgba(14,30,37,.10) !important;*/
}
.btn-secondary{
    color: #fff;
    background-color: #42A5FF;
    border: 1px solid #42A5FF;
}
.btn-secondary:hover{
    background-color: #0086ff;
    border: 1px solid #0086ff !important;
}
.btn-secondary:active{
    background-color: #0074de !important;
    border: 1px solid #0074de !important;
}
.form-control{
    border: 1px solid #E2E9EC;
    color: #2b3950;
    font-weight: 400;
}
.form-control:focus{
    border: 1px solid #42A5FF;
    box-shadow: none;
}
.popover-header{
    background-color: #fff !important;
}
.purple-btn{
    padding: 10px 25px !important;
    color: #fff !important;
    font-weight: normal !important;
    background: linear-gradient(#2295FA, #1B86F9);
    text-transform: none !important;
    box-shadow:  inset 0 0 0 10px #ddd;
    box-shadow: 0 2px 5px 0 rgba(74,144,226,.3) !important;
    transition: all 0.2s ease !important;
    border-radius: 5px;
    cursor: pointer;
    border: none !important;
    font-size: 16px !important;
/*    border: 2px solid #fff !important;*/
}
.purple-btn:hover{
    box-shadow: 0 3px 10px 0 rgba(74,144,226,.35) !important;
    transform: translateY(-1px) scale(1.03);
    border: none !important;
    background: linear-gradient(#1B86F9, #1B86F9);
/*    transform: scale(1.03);*/
/*    box-shadow: 0 5px 10px 0 rgba(66, 83, 255, 0.23) !important;*/
}
.purple-btn:active{
    background: linear-gradient(#2295FA, #1B86F9);
    border: none !important;
}
.publish-btn{
    padding: 10px 45px 10px 20px !important;
    color: #fff !important;
    font-weight: normal !important;
    background: linear-gradient(to right,#1B86F9,#2295FA) !important;
    text-transform: none !important;
    box-shadow:  inset 0 0 0 10px #ddd;
    box-shadow: 0 2px 5px 0 rgba(74,144,226,.3) !important;
    transition: all 0.2s ease !important;
    border-radius: 50px !important;
    cursor: pointer;
    font-weight: 400 !important;
    width: 170px !important;
/*    font-size: 15px !important;*/
}
.publish-btn .launch{
    right: 4px;
    position: absolute;
    height: 33px;
    width: 33px;
    margin-left: 5px;
    background-color: #fff;
    display: inline-block;
    background: url('/rocket.svg');
    background-size: 100%;
}
.publish-btn:hover{
    box-shadow: 0 5px 21px 0 rgba(74,144,226,.35) !important;
    transform: translateY(-1px) scale(1.03);
}
.account-dropdown .account{
   color: #8DA2B5 !important;
}
.account-dropdown .account:hover{
    color: #42A5FF !important;
}
.card {
/*    border: 1px solid #fff;*/
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12) !important;
    border-radius: 10px;
    border: none !important;
    padding: 0px !important;
    transition-duration: 172ms;
    will-change: transform, box-shadow;
}
.card:hover{
/*    box-shadow: 0 1px 2px rgba(0,0,0,.05), 0 10px 20px rgba(0,0,0,.05) !important;*/
    background-color: #fff !important;
    
}
label {
    color: #666!imortant;
    /*margin: 0px !important;*/
}
.input-select>div{
    font-weight: lighter !important; 
    border-color: #E2E9EC !important;
}
input, textarea, .text-to-voice, .choice-block, .solid-border{
    background-color: #FFF;
    color: #2b3950;
    border: 1px solid #E2E9EC;
    border-radius: 5px;
/*    box-shadow: 0 1px 3px 0 rgba(50,50,93,.15), 0 4px 6px 0 rgba(112,157,199,.15);*/
}
input::placeholder, textarea::placeholder, select:required:invalid, input.form-control::placeholder, textarea.form-control::placeholder {
    font-weight: lighter !important;
    color: #8da2b5;
}
.TitleBar .publish-btn:hover{
    color: #3d96f0 !important;
}
.flex-hard{
    flex: 10;
}

/*.dash-button {
    border: 1px dashed #0095f7 !important;
    background-color: transparent;
    color: #0095f7;
    padding: 14px 30px;
    font-weight: 600 !important;
}
.dash-button:hover {
    border: solid 1px #E3E8FA !important;
    font-weight: 600 !important 
}*/

.input-group-text, .input-ground-prepend{
    color: #42a5ff!important;
    border-color: #b8daff;
    background-color: #EBF4FE;
    cursor: pointer;
}
.checkbox{
    background-color: aqua !important;
}
.dropzone, .audio-box, .image-box, .combined-box {
    width: 100%;
    overflow: visible;
    min-height: 40px;
    transition: transform .2s, background-color .2s, color .2s, border .2s;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
/*    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);*/
    border: 1px dashed #8da2b5;
    border-radius: 5px;
    background-color: #8da2b510 !important;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.2s ease !important;
}
.dropzone .drop-child{
    text-align: center;
    color: #8da2b5 !important;
}
.dropzone.enter-url, .audio-box, .image-box {
    cursor: default;
    border-style: solid !important;
    transform: scale(1) !important;
    opacity: 1 !important;
}
.dropzone.enter-url button{
    padding: 5px 10.5px !important;
    margin-top: 5px;
}
.dropzone:hover, .dropzone.active{
    border: 1px dashed #42A5FF;
    background-color: #EDF3FE !important;
/*    box-shadow: 0 0 1px 1px rgba(17,49,96,.06), 0 2px 4px 0 rgba(17,49,96,.12) !important;*/
}
.dropzone.active{
    transform: scale(1.01);
    opacity: 0.8;
}
.prompt {
    text-align: center;
    cursor: pointer;
    color: #95A6BD;
}

.pointer {
    cursor: pointer;
}

.prompt b, .prompt-text {
    color: #95A6BD;
    font-size: 1rem;
    font-weight: normal;
}

.dropzone img{
    height: 50px;
    width: 50px;
    display: inline-block;
}

.image-box {
    height: 300px;
    background-position: center center;
    background-size: cover;
}

.combined-box {
    background-color: #B3E5FC;
    font-weight: bold;
    color: #01579B;
    border: none !important;
    margin-bottom: 20px;
}

.audio-box>button, .image-box>button{
    position: absolute;
    top: -2px;
    right: -2px;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.audio-box>div, .combined-box>div{
    margin-bottom: 10px;
}
.dropzone.active {
    border-color: #28a745!important;
}

.dropzone.reject {
    border-color: #dc3545!important;
    background-color: #FBE9E7 !important;
}

.dropzone .rejected-file {
    display: none;
}

.dropzone.reject .drop-child{
    display: none;
}

.dropzone.reject .rejected-file {
    display: block;
}

.dropzone p {
    margin: 0 5px;
    line-height: 30px;
    white-space: nowrap;
}

/*.upload-btn i{
    display: block;
    margin: 2px 0;
}*/
.upload-btn{
    font-size: 14px;
    flex: 1;
    margin: 2px;
}

.input-group {
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subheader {
    position: fixed;
    top: 59px;
    background-color: #fff;
    width: 100%;
    /*padding: 10px;*/
    display: flex;
    align-items: center;
    /*height: 50px;*/
    padding: 20px 0;
/*    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);*/
    border-bottom: 1px solid #E2E9EC;
    justify-content: space-between;
    z-index: 1000;
}

.subheader-title b{
  font-size: 1.5rem;
  font-weight: 900;
  color: #545D6D;
    
}

.subheader-title {
    font-size: 1.2rem;
    align-items: center;
    display: flex;
}

.subheader-right {
    /*width: 500px;*/
    display: flex;
    justify-content: flex-end;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.capitalize {
    text-transform: capitalize;
}

.text-muted {
    color: #8da2b5 !important;
}

.super-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding {
    padding-top: 58px;
}

.Window {
    width: 100%;
    min-height: 100%;
    padding-top: 58px;
}

.modal-content{
    /*overflow: hidden;*/
    padding-top: .5rem;
    border: none;
    box-shadow: 0px 4px 80px rgba(17, 49, 96, 0.13);
    border-radius: 10px;
}
/*.modal-footer{
    background-color: #F3F3F3;
}*/
.split-page{
    display: flex;
}
#dash-nav .nav-pills .nav-item.active .nav-link {
    color: #fff;
    background-color: #007bff !important;
}

#dash-nav .nav-item {
    width: 100%;

}
#dash-nav {
    position: fixed;
    height: 100%;
    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
    border-right: 1px solid #DDD;
    width: 200px;
}

.Left-Padding{
    height: 100%;
    padding-left: 200px;
    width: 100%;
}

#dash-nav-container{
    padding: 0 !important;
}

@media(max-width: 991px){
    .Left-Padding{
        padding-left: 0px;
    }
}
#dash-nav .nav-pills {
    width: 100%;
}

.modal-backdrop{
    background-color: #00315E !important;
}
body.modal-open {
    overflow: hidden !important;
    position: fixed !important;
}
/*.modal-content:before {
    content: '';
    width: 100%;
    height: .5rem;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(left, #04B3BA 0%, #0ABEA2 100%);
    background: -webkit-linear-gradient(left, #04B3BA 0%,#0ABEA2 100%);
    background: linear-gradient(to right, #04B3BA 0%,#0ABEA2 100%);
    display: block;
    position: absolute;
}*/

#publish-status {
    top: 135px;
    width: 200px;
}

.select-box__menu {
    z-index: 100 !important;
}
.select-box__control {
    border: 1px solid #E2E9EC !important;
}

.loader {
    display: inline-flex;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border: 3px solid #ddd;
    border-top: 3px solid #42a5f5;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    line-height: 1;
}

.tippy-tooltip {
    /*background-color: #42A5FF !important;*/
    font-size: 13px;
    background-color: #42A5FF !important;
}
.tippy-tooltip .arrow-regular{
    border-bottom-color: #42A5FF !important;
}

.tippy-tooltip [x-circle]{
    background-color: #42A5FF !important;
}

.tippy-tooltip-content {

}

.btn-grey{
    color: #90A2B3;
    background-color: #F5F7FA;
}
.btn-grey:hover{
    color: #42a5ff;
    border-color: #b8daff;
    background-color: #eef5fd;
}
.btn-grey:active{
    color: #42a5ff;
    border-color: #b8daff;
    background-color: #d9ebff;
}
.btn-vertical{
    flex: 1;
    text-align: center;
    padding: 12px 0;
}
.btn-vertical i{
    display: block;
    font-size: 24px;
    padding: 10px 0;
}

.seperated-links a {
    display: inline-block;
    margin: 0 10px;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media(max-width: 1550px){
    #publish-status {
        visibility: hidden;
    }
}

@media(max-width: 860px){
    .publish-info {
        visibility: hidden;
    }
}
