#dash-nav .nav-pills .nav-item.active .nav-link {
    color: #fff;
    background-color: #007bff !important;
}

#dash-nav .nav-item {
	width: 100%;
}

#dash-nav {
	position: fixed;
	height: 100%;
	-webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
    border-right: 1px solid #DDD;
    width: 200px;
}

#dash-nav-container {
	height: 100%;
	padding-right: 200px;
}

.env-modal>div {
	width: 100%;
/*	height: 100px;
	background-repeat: no-repeat;
    background-position: center; */
}

.rotate .front img {
	width: 150px;
}

.rotate .selected .front, .rotate .selected .back {
	border: 8px solid #4CAF50;
/*	-webkit-box-shadow: inset 0px 0px 32px 6px rgba(76,175,80,1);
	-moz-box-shadow: inset 0px 0px 32px 6px rgba(76,175,80,1);
	box-shadow: inset 0px 0px 32px 6px rgba(76,175,80,1);*/
}

.rotate .front.sandbox {
	background-color: #333;
}
.rotate .front.storyflow {
    background-image: -webkit-linear-gradient(270deg, rgb(103, 17, 255), rgb(75, 83, 251));
    background-image: linear-gradient(180deg, rgb(103, 17, 255), rgb(75, 83, 251));
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

.rotate .front.kids {
    background-image: -webkit-linear-gradient(270deg, rgba(103, 17, 255, .42), rgba(75, 83, 251, .74)), url("/images/kids.jpg");
    background-image: linear-gradient(180deg, rgba(103, 17, 255, .42), rgba(75, 83, 251, .74)), url("/images/kids.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

.rotate .title{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.rotate.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rotate .col{
  flex: 1;
  /*margin: 1rem;*/
  cursor: pointer;
  padding: 0;
  padding: .5rem 1rem;
}

.rotate .container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
	        padding: 0 !important;
}

.rotate .front,
.rotate .back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.rotate .back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.rotate .front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.rotate .container:hover .front,
.rotate .container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.rotate .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.rotate .inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.rotate .back .inner{
	padding: 1rem;
}

.rotate .container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.rotate .container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.rotate .container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.rotate .container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.rotate .front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.rotate .front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.rotate .front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .rotate .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .rotate .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .rotate .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}